In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [6]:
df_raw = pd.read_csv('Resources/time_series_covid19_confirmed_global_metricdate.csv')
df_raw_aus = df_raw[df_raw['Country/Region'] == "Australia" ]

In [8]:
dates = df_raw_aus.columns[4:]

In [9]:
dates

Index(['22-01-20', '23-01-20', '24-01-20', '25-01-20', '26-01-20', '27-01-20',
       '28-01-20', '29-01-20', '30-01-20', '31-01-20',
       ...
       '12-04-21', '13-04-21', '14-04-21', '15-04-21', '16-04-21', '17-04-21',
       '18-04-21', '19-04-21', '20-04-21', '21-04-21'],
      dtype='object', length=456)

In [10]:
mm = dates[0].split('-')
mm[1]

'01'

In [11]:
months = [date.split('-')[1] for date in dates]
months

['01',
 '01',
 '01',
 '01',
 '01',
 '01',
 '01',
 '01',
 '01',
 '01',
 '02',
 '02',
 '02',
 '02',
 '02',
 '02',
 '02',
 '02',
 '02',
 '02',
 '02',
 '02',
 '02',
 '02',
 '02',
 '02',
 '02',
 '02',
 '02',
 '02',
 '02',
 '02',
 '02',
 '02',
 '02',
 '02',
 '02',
 '02',
 '02',
 '03',
 '03',
 '03',
 '03',
 '03',
 '03',
 '03',
 '03',
 '03',
 '03',
 '03',
 '03',
 '03',
 '03',
 '03',
 '03',
 '03',
 '03',
 '03',
 '03',
 '03',
 '03',
 '03',
 '03',
 '03',
 '03',
 '03',
 '03',
 '03',
 '03',
 '03',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '05',
 '05',
 '05',
 '05',
 '05',
 '05',
 '05',
 '05',
 '05',
 '05',
 '05',
 '05',
 '05',
 '05',
 '05',
 '05',
 '05',
 '05',
 '05',
 '05',
 '05',
 '05',
 '05',
 '05',
 '05',
 '05',
 '05',
 '05',
 '05',
 '05',
 '05',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '07',
 '07',
 '07',
 '07',
 '07',
 '07',
 '07',
 '07',
 '07',
 '07',
 '07',
 '07',
 '07',
 '07',
 '07',
 '07',
 '07',
 '07',
 '07',
 '07',
 '07',
 '07',
 '07',
 '07',
 '07',
 '07',
 '07',
 '07',
 '07',
 '07',
 '07',
 '08',
 '08',
 '08',
 '08',
 '08',
 '08',
 '08',
 '08',
 '08',
 '08',
 '08',
 '08',
 '08',
 '08',
 '08',
 '08',
 '08',
 '08',
 '08',
 '08',
 '08',
 '08',
 '08',
 '08',
 '08',
 '08',
 '08',
 '08',
 '08',
 '08',
 '08',
 '09',
 '09',
 '09',
 '09',
 '09',
 '09',
 '09',
 '09',
 '09',
 '09',
 '09',
 '09',
 '09',
 '09',
 '09',
 '09',
 '09',
 '09',
 '09',
 '09',
 '09',
 '09',
 '09',
 '09',
 '09',
 '09',
 '09',
 '09',
 '09',
 '09',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '12',
 '12',
 '12',
 '12',
 '12',
 '12',
 '12',
 '12',
 '12',
 '12',
 '12',
 '12',
 '12',
 '12',
 '12',
 '12',
 '12',
 '12',
 '12',
 '12',
 '12',
 '12',
 '12',
 '12',
 '12',
 '12',
 '12',
 '12',
 '12',
 '12',
 '12',
 '01',
 '01',
 '01',
 '01',
 '01',
 '01',
 '01',
 '01',
 '01',
 '01',
 '01',
 '01',
 '01',
 '01',
 '01',
 '01',
 '01',
 '01',
 '01',
 '01',
 '01',
 '01',
 '01',
 '01',
 '01',
 '01',
 '01',
 '01',
 '01',
 '01',
 '01',
 '02',
 '02',
 '02',
 '02',
 '02',
 '02',
 '02',
 '02',
 '02',
 '02',
 '02',
 '02',
 '02',
 '02',
 '02',
 '02',
 '02',
 '02',
 '02',
 '02',
 '02',
 '02',
 '02',
 '02',
 '02',
 '02',
 '02',
 '02',
 '03',
 '03',
 '03',
 '03',
 '03',
 '03',
 '03',
 '03',
 '03',
 '03',
 '03',
 '03',
 '03',
 '03',
 '03',
 '03',
 '03',
 '03',
 '03',
 '03',
 '03',
 '03',
 '03',
 '03',
 '03',
 '03',
 '03',
 '03',
 '03',
 '03',
 '03',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04',
 '04']

In [12]:
df_aus = df_raw_aus.T

In [72]:
df_aus

,8,9,10,11,12,13,14,15
Province/State,Australian Capital Territory,New South Wales,Northern Territory,Queensland,South Australia,Tasmania,Victoria,Western Australia
Country/Region,Australia,Australia,Australia,Australia,Australia,Australia,Australia,Australia
Lat,-35.4735,-33.8688,-12.4634,-27.4698,-34.9285,-42.8821,-37.8136,-31.9505
Long,149.012,151.209,130.846,153.025,138.601,147.327,144.963,115.861
22-01-20,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...
17-04-21,123,5376,119,1518,682,234,20494,973
18-04-21,123,5384,119,1518,682,234,20498,975
19-04-21,123,5387,129,1518,688,234,20499,978
20-04-21,123,5395,132,1519,691,234,20502,980
21-04-21,123,5402,136,1520,693,234,20504,982

In [49]:
df = df_aus.iloc[4:]
df = df.rename(columns={8: 'ACT', 9: 'NSW', 10:'NT', 11: 'QLD', 12: 'SA', 13:'TAS', 14: 'VIC', 15: 'WA' })
df

          ACT   NSW   NT   QLD   SA  TAS    VIC   WA
22-01-20    0     0    0     0    0    0      0    0
23-01-20    0     0    0     0    0    0      0    0
24-01-20    0     0    0     0    0    0      0    0
25-01-20    0     0    0     0    0    0      0    0
26-01-20    0     3    0     0    0    0      1    0
...       ...   ...  ...   ...  ...  ...    ...  ...
17-04-21  123  5376  119  1518  682  234  20494  973
18-04-21  123  5384  119  1518  682  234  20498  975
19-04-21  123  5387  129  1518  688  234  20499  978
20-04-21  123  5395  132  1519  691  234  20502  980
21-04-21  123  5402  136  1520  693  234  20504  982

[456 rows x 8 columns]

In [47]:
df

          ACT   NSW   NT   QLD   SA  TAS    VIC   WA
22-01-20    0     0    0     0    0    0      0    0
23-01-20    0     0    0     0    0    0      0    0
24-01-20    0     0    0     0    0    0      0    0
25-01-20    0     0    0     0    0    0      0    0
26-01-20    0     3    0     0    0    0      1    0
...       ...   ...  ...   ...  ...  ...    ...  ...
17-04-21  123  5376  119  1518  682  234  20494  973
18-04-21  123  5384  119  1518  682  234  20498  975
19-04-21  123  5387  129  1518  688  234  20499  978
20-04-21  123  5395  132  1519  691  234  20502  980
21-04-21  123  5402  136  1520  693  234  20504  982

[456 rows x 8 columns]

In [52]:
act_cases = []
nsw_cases = []
nt_cases = []
qld_cases = []
sa_cases = []
tas_cases = []
vic_cases = []
wa_cases = []

In [53]:
for index, row in df.iterrows():  
    
    next_value = df.iloc[index+1]["ACT"]
    current_value = df.iloc[index]["ACT"] 
    diff = next_value - current_value 
    act_cases.append(diff)
    
    next_value = df.iloc[index+1]["NSW"]
    current_value = df.iloc[index]["NSW"] 
    diff = next_value - current_value 
    nsw_cases.append(diff)
    
    next_value = df.iloc[index+1]["NT"]
    current_value = df.iloc[index]["NT"] 
    diff = next_value - current_value 
    nt_cases.append(diff)
    
    next_value = df.iloc[index+1]["QLD"]
    current_value = df.iloc[index]["QLD"] 
    diff = next_value - current_value 
    qld_cases.append(diff)
    
    next_value = df.iloc[index+1]["SA"]
    current_value = df.iloc[index]["SA"] 
    diff = next_value - current_value 
    sa_cases.append(diff)
    
    next_value = df.iloc[index+1]["TAS"]
    current_value = df.iloc[index]["TAS"] 
    diff = next_value - current_value 
    wa_cases.append(diff)
    
    next_value = df.iloc[index+1]["VIC"]
    current_value = df.iloc[index]["VIC"] 
    diff = next_value - current_value 
    wa_cases.append(diff)
    
    next_value = df.iloc[index+1]["WA"]
    current_value = df.iloc[index]["WA"] 
    diff = next_value - current_value 
    wa_cases.append(diff)
#         print(f"current index: {index}, next index: {index+1}, Current value: {current_value}, Next value: {next_value}, diff: {diff}")
    wa_cases.append(diff)
    print("next date")

TypeError: must be str, not int

In [23]:
wa_cases

[]