In [43]:
# Dependencies and Setup
import pandas as pd
import numpy as np
pd.options.mode.chained_assignment = None  

# File to Load (Remember to Change These)
data = "Ray Data/labour_by_state.xls"
# Read source data and store into Pandas data frame
xls_data = pd.read_excel(data, sheet_name = "Data2")

xls_data.head()

,Unnamed: 0,Employment to population ratio ; > Females ; > Western Australia ;,Employment to population ratio ; > Females ; > Tasmania ;,Employment to population ratio ; > Females ; > Tasmania ;.1,Employment to population ratio ; > Females ; > Tasmania ;.2,Employment to population ratio ; > Females ; > Northern Territory ;,Employment to population ratio ; > Females ; > Northern Territory ;.1,Employment to population ratio ; > Females ; > Australian Capital Territory ;,Employment to population ratio ; > Females ; > Australian Capital Territory ;.1,Unemployed total ; Persons ; Australia ;,...,> Unemployment rate looked for full-time work ; > Males ; > Queensland ;,> Unemployment rate looked for full-time work ; > Males ; > South Australia ;,> Unemployment rate looked for full-time work ; > Males ; > Western Australia ;,> Unemployment rate looked for full-time work ; > Males ; > Tasmania ;,> Unemployment rate looked for full-time work ; > Males ; > Northern Territory ;,> Unemployment rate looked for full-time work ; > Males ; > Australian Capital Territory ;,> Unemployment rate looked for full-time work ; > Females ; Australia ;,> Unemployment rate looked for full-time work ; > Females ; Australia ;.1,> Unemployment rate looked for full-time work ; > Females ; Australia ;.2,> Unemployment rate looked for full-time work ; > Females ; > New South Wales ;
0,Unit,Percent,Percent,Percent,Percent,Percent,Percent,Percent,Percent,000,...,Percent,Percent,Percent,Percent,Percent,Percent,Percent,Percent,Percent,Percent
1,Series Type,Original,Trend,Seasonally Adjusted,Original,Trend,Original,Trend,Original,Trend,...,Original,Original,Original,Original,Original,Original,Trend,Seasonally Adjusted,Original,Original
2,Data Type,PERCENT,PERCENT,PERCENT,PERCENT,PERCENT,PERCENT,PERCENT,PERCENT,STOCK,...,PERCENT,PERCENT,PERCENT,PERCENT,PERCENT,PERCENT,PERCENT,PERCENT,PERCENT,PERCENT
3,Frequency,Month,Month,Month,Month,Month,Month,Month,Month,Month,...,Month,Month,Month,Month,Month,Month,Month,Month,Month,Month
4,Collection Month,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1

In [44]:
# Transpose dataframe
trans_to = xls_data.T
trans_to

,0,1,2,3,4,5,6,7,8,9,...,517,518,519,520,521,522,523,524,525,526
Unnamed: 0,Unit,Series Type,Data Type,Frequency,Collection Month,Series Start,Series End,No. Obs,Series ID,1978-02-01 00:00:00,...,2020-06-01 00:00:00,2020-07-01 00:00:00,2020-08-01 00:00:00,2020-09-01 00:00:00,2020-10-01 00:00:00,2020-11-01 00:00:00,2020-12-01 00:00:00,2021-01-01 00:00:00,2021-02-01 00:00:00,2021-03-01 00:00:00
Employment to population ratio ; > Females ; > Western Australia ;,Percent,Original,PERCENT,Month,1,1978-02-01 00:00:00,2021-03-01 00:00:00,518,A84423776L,40.5697,...,55.9296,56.5577,57.3333,57.9877,58.8042,59.5544,59.9955,57.853,58.6097,60.0164
Employment to population ratio ; > Females ; > Tasmania ;,Percent,Trend,PERCENT,Month,1,1978-02-01 00:00:00,2021-03-01 00:00:00,518,A84424084T,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Employment to population ratio ; > Females ; > Tasmania ;.1,Percent,Seasonally Adjusted,PERCENT,Month,1,1978-02-01 00:00:00,2021-03-01 00:00:00,518,A84423412X,36.7766,...,50.7312,52.7165,52.9764,52.2648,51.7616,52.6264,53.5726,53.8607,54.5427,53.9292
Employment to population ratio ; > Females ; > Tasmania ;.2,Percent,Original,PERCENT,Month,1,1978-02-01 00:00:00,2021-03-01 00:00:00,518,A84423748C,35.9001,...,51.0224,52.4041,53.1311,52.2573,51.745,52.8753,54.0221,52.8189,54.28,54.0296
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
> Unemployment rate looked for full-time work ; > Males ; > Australian Capital Territory ;,Percent,Original,PERCENT,Month,1,1978-02-01 00:00:00,2021-03-01 00:00:00,518,A84423543X,5.4097,...,4.60134,5.06465,4.32233,4.84324,4.06868,4.31741,4.0839,4.71367,4.85629,4.09534
> Unemployment rate looked for full-time work ; > Females ; Australia ;,Percent,Trend,PERCENT,Month,1,1978-02-01 00:00:00,2021-03-01 00:00:00,518,A84423150K,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
> Unemployment rate looked for full-time work ; > Females ; Australia ;.1,Percent,Seasonally Adjusted,PERCENT,Month,1,1978-02-01 00:00:00,2021-03-01 00:00:00,518,A84423066V,9.25822,...,9.11002,8.89191,7.85603,7.95324,8.05448,8.09364,7.49705,7.25445,6.39459,6.04656
> Unemployment rate looked for full-time work ; > Females ; Australia ;.2,Percent,Original,PERCENT,Month,1,1978-02-01 00:00:00,2021-03-01 00:00:00,518,A84423108F,10.4754,...,9.01543,8.78029,7.86486,7.50383,7.51211,7.50442,7.12574,7.95091,6.89153,6.60772
> Unemployment rate looked for full-time work ; > Females ; > New South Wales ;,Percent,Original,PERCENT,Month,1,1978-02-01 00:00:00,2021-03-01 00:00:00,518,A84423725L,10.5604,...,8.05663,8.38887,7.53714,6.84872,6.42503,6.73763,6.17256,7.64974,6.24086,6.17031

In [45]:
# Filter dataframe to ouput required data
data_filter = ['Series Type', 'Seasonally Adjusted']
filter_data = trans_to[trans_to[1].isin(data_filter)]

In [46]:
filter_data.head(10)

,0,1,2,3,4,5,6,7,8,9,...,517,518,519,520,521,522,523,524,525,526
Unnamed: 0,Unit,Series Type,Data Type,Frequency,Collection Month,Series Start,Series End,No. Obs,Series ID,1978-02-01 00:00:00,...,2020-06-01 00:00:00,2020-07-01 00:00:00,2020-08-01 00:00:00,2020-09-01 00:00:00,2020-10-01 00:00:00,2020-11-01 00:00:00,2020-12-01 00:00:00,2021-01-01 00:00:00,2021-02-01 00:00:00,2021-03-01 00:00:00
Employment to population ratio ; > Females ; > Tasmania ;.1,Percent,Seasonally Adjusted,PERCENT,Month,1,1978-02-01 00:00:00,2021-03-01 00:00:00,518,A84423412X,36.7766,...,50.7312,52.7165,52.9764,52.2648,51.7616,52.6264,53.5726,53.8607,54.5427,53.9292
Unemployed total ; Persons ; Australia ;.1,000,Seasonally Adjusted,STOCK,Month,1,1978-02-01 00:00:00,2021-03-01 00:00:00,518,A84423046K,426.936,...,992.367,1007.9,922.075,933.697,957.24,939.589,909.271,875.056,805.195,778.091
Unemployed total ; Persons ; > New South Wales ;.1,000,Seasonally Adjusted,STOCK,Month,1,1978-02-01 00:00:00,2021-03-01 00:00:00,518,A84423266L,155.969,...,291.232,307.996,288.272,309.171,280.869,282.085,276.384,260.771,245.379,234.389
Unemployed total ; Persons ; > Victoria ;.1,000,Seasonally Adjusted,STOCK,Month,1,1978-02-01 00:00:00,2021-03-01 00:00:00,518,A84423350C,103.419,...,264.13,238.088,248.183,229.924,261.006,257.445,235.415,229.324,205.712,222.038
Unemployed total ; Persons ; > Queensland ;.1,000,Seasonally Adjusted,STOCK,Month,1,1978-02-01 00:00:00,2021-03-01 00:00:00,518,A84423280J,68.7358,...,203.222,234.428,198.902,209.142,213.607,211.666,208.651,193.455,169.97,163.336
Unemployed total ; Persons ; > South Australia ;.1,000,Seasonally Adjusted,STOCK,Month,1,1978-02-01 00:00:00,2021-03-01 00:00:00,518,A84423364T,42.2472,...,79.3267,71.0729,72.1184,63.4448,64.3559,56.1162,57.9916,64.0798,62.1912,56.8408
Unemployed total ; Persons ; > Western Australia ;.1,000,Seasonally Adjusted,STOCK,Month,1,1978-02-01 00:00:00,2021-03-01 00:00:00,518,A84423322V,37.5345,...,124.523,120.761,102.361,97.6738,96.5207,94.1348,91.9369,89.9124,87.914,70.1209
Unemployed total ; Persons ; > Tasmania ;.1,000,Seasonally Adjusted,STOCK,Month,1,1978-02-01 00:00:00,2021-03-01 00:00:00,518,A84423294W,12.0567,...,18.2287,16.1873,17.1945,20.9399,22.5621,21.6354,19.1622,16.097,15.649,16.3961
Unemployed total ; > Males ; Australia ;.1,000,Seasonally Adjusted,STOCK,Month,1,1978-02-01 00:00:00,2021-03-01 00:00:00,518,A84423032W,231.386,...,531.288,531.828,502.386,507.665,503.243,474.632,484.437,470.776,442.601,427.798

In [47]:
# Revert transpose to original 
original_data = filter_data.T

original_data.head()

,Unnamed: 0,Employment to population ratio ; > Females ; > Tasmania ;.1,Unemployed total ; Persons ; Australia ;.1,Unemployed total ; Persons ; > New South Wales ;.1,Unemployed total ; Persons ; > Victoria ;.1,Unemployed total ; Persons ; > Queensland ;.1,Unemployed total ; Persons ; > South Australia ;.1,Unemployed total ; Persons ; > Western Australia ;.1,Unemployed total ; Persons ; > Tasmania ;.1,Unemployed total ; > Males ; Australia ;.1,...,Unemployment rate ; > Females ; Australia ;.1,Unemployment rate ; > Females ; > New South Wales ;.1,Unemployment rate ; > Females ; > Victoria ;.1,Unemployment rate ; > Females ; > Queensland ;.1,Unemployment rate ; > Females ; > South Australia ;.1,Unemployment rate ; > Females ; > Western Australia ;.1,Unemployment rate ; > Females ; > Tasmania ;.1,> Unemployment rate looked for full-time work ; Persons ; Australia ;.1,> Unemployment rate looked for full-time work ; > Males ; Australia ;.1,> Unemployment rate looked for full-time work ; > Females ; Australia ;.1
0,Unit,Percent,000,000,000,000,000,000,000,000,...,Percent,Percent,Percent,Percent,Percent,Percent,Percent,Percent,Percent,Percent
1,Series Type,Seasonally Adjusted,Seasonally Adjusted,Seasonally Adjusted,Seasonally Adjusted,Seasonally Adjusted,Seasonally Adjusted,Seasonally Adjusted,Seasonally Adjusted,Seasonally Adjusted,...,Seasonally Adjusted,Seasonally Adjusted,Seasonally Adjusted,Seasonally Adjusted,Seasonally Adjusted,Seasonally Adjusted,Seasonally Adjusted,Seasonally Adjusted,Seasonally Adjusted,Seasonally Adjusted
2,Data Type,PERCENT,STOCK,STOCK,STOCK,STOCK,STOCK,STOCK,STOCK,STOCK,...,PERCENT,PERCENT,PERCENT,PERCENT,PERCENT,PERCENT,PERCENT,PERCENT,PERCENT,PERCENT
3,Frequency,Month,Month,Month,Month,Month,Month,Month,Month,Month,...,Month,Month,Month,Month,Month,Month,Month,Month,Month,Month
4,Collection Month,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1

In [55]:
# Remove special characters from column name
original_data.columns=original_data.columns.str.replace('[:,-,>,;,.,1, ]','')
original_data.head()

,Unnamed0,EmploymenttopopulationratioFemalesTasmania,UnemployedtotalPersonsAustralia,UnemployedtotalPersonsNewSouthWales,UnemployedtotalPersonsVictoria,UnemployedtotalPersonsQueensland,UnemployedtotalPersonsSouthAustralia,UnemployedtotalPersonsWesternAustralia,UnemployedtotalPersonsTasmania,UnemployedtotalMalesAustralia,...,UnemploymentrateFemalesAustralia,UnemploymentrateFemalesNewSouthWales,UnemploymentrateFemalesVictoria,UnemploymentrateFemalesQueensland,UnemploymentrateFemalesSouthAustralia,UnemploymentrateFemalesWesternAustralia,UnemploymentrateFemalesTasmania,Unemploymentratelookedforfull-timeworkPersonsAustralia,Unemploymentratelookedforfull-timeworkMalesAustralia,Unemploymentratelookedforfull-timeworkFemalesAustralia
0,Unit,Percent,000,000,000,000,000,000,000,000,...,Percent,Percent,Percent,Percent,Percent,Percent,Percent,Percent,Percent,Percent
1,Series Type,Seasonally Adjusted,Seasonally Adjusted,Seasonally Adjusted,Seasonally Adjusted,Seasonally Adjusted,Seasonally Adjusted,Seasonally Adjusted,Seasonally Adjusted,Seasonally Adjusted,...,Seasonally Adjusted,Seasonally Adjusted,Seasonally Adjusted,Seasonally Adjusted,Seasonally Adjusted,Seasonally Adjusted,Seasonally Adjusted,Seasonally Adjusted,Seasonally Adjusted,Seasonally Adjusted
2,Data Type,PERCENT,STOCK,STOCK,STOCK,STOCK,STOCK,STOCK,STOCK,STOCK,...,PERCENT,PERCENT,PERCENT,PERCENT,PERCENT,PERCENT,PERCENT,PERCENT,PERCENT,PERCENT
3,Frequency,Month,Month,Month,Month,Month,Month,Month,Month,Month,...,Month,Month,Month,Month,Month,Month,Month,Month,Month,Month
4,Collection Month,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1

In [56]:
# Choose columns for final data
employment_data = original_data.iloc[:,[0,30,31,32,33,34,35,36,37]]
employment_data.head()

,Unnamed0,UnemploymentratePersonsNewSouthWales,UnemploymentratePersonsVictoria,UnemploymentratePersonsQueensland,UnemploymentratePersonsSouthAustralia,UnemploymentratePersonsWesternAustralia,UnemploymentratePersonsTasmania,UnemploymentratePersonsNorthernTerritory,UnemploymentratePersonsAustralianCapitalTerritory
0,Unit,Percent,Percent,Percent,Percent,Percent,Percent,Percent,Percent
1,Series Type,Seasonally Adjusted,Seasonally Adjusted,Seasonally Adjusted,Seasonally Adjusted,Seasonally Adjusted,Seasonally Adjusted,Seasonally Adjusted,Seasonally Adjusted
2,Data Type,PERCENT,PERCENT,PERCENT,PERCENT,PERCENT,PERCENT,PERCENT,PERCENT
3,Frequency,Month,Month,Month,Month,Month,Month,Month,Month
4,Collection Month,1,1,1,1,1,1,1,1

In [57]:
# Rename columns for more informative reference 
employment_data_cols = ['Date','Unemployment_Rate_NSW',
                        'Unemployment_Rate_VIC','Unemployment_Rate_QLD',
                        'Unemployment_Rate_SA','Unemployment_Rate_WA',
                        'Unemployment_Rate_TAS','Unemployment_Rate_NT',
                        'Unemployment_Rate_ACT']
employment_data.columns = employment_data_cols
employment_data.head()

,Date,Unemployment_Rate_NSW,Unemployment_Rate_VIC,Unemployment_Rate_QLD,Unemployment_Rate_SA,Unemployment_Rate_WA,Unemployment_Rate_TAS,Unemployment_Rate_NT,Unemployment_Rate_ACT
0,Unit,Percent,Percent,Percent,Percent,Percent,Percent,Percent,Percent
1,Series Type,Seasonally Adjusted,Seasonally Adjusted,Seasonally Adjusted,Seasonally Adjusted,Seasonally Adjusted,Seasonally Adjusted,Seasonally Adjusted,Seasonally Adjusted
2,Data Type,PERCENT,PERCENT,PERCENT,PERCENT,PERCENT,PERCENT,PERCENT,PERCENT
3,Frequency,Month,Month,Month,Month,Month,Month,Month,Month
4,Collection Month,1,1,1,1,1,1,1,1

In [58]:
# Drop unwanted data
employment_data.drop(employment_data.index[:9], inplace=True)
employment_data

,Date,Unemployment_Rate_NSW,Unemployment_Rate_VIC,Unemployment_Rate_QLD,Unemployment_Rate_SA,Unemployment_Rate_WA,Unemployment_Rate_TAS,Unemployment_Rate_NT,Unemployment_Rate_ACT
9,1978-02-01 00:00:00,6.87113,5.96246,7.31501,7.09107,6.68319,6.72413,8.93163,6.14203
10,1978-03-01 00:00:00,6.41813,5.72338,7.29693,6.52719,5.92285,6.23996,7.35859,5.163
11,1978-04-01 00:00:00,6.50221,5.49568,6.84923,6.4896,6.25247,6.30784,5.01638,6.54657
12,1978-05-01 00:00:00,6.13247,5.64047,7.12759,6.71692,6.30611,6.2012,5.76409,5.06007
13,1978-06-01 00:00:00,6.40148,5.52624,7.14926,6.85367,6.22743,6.54342,5.17693,6.4639
...,...,...,...,...,...,...,...,...,...
522,2020-11-01 00:00:00,6.4509,7.12522,7.68755,6.16983,6.38299,7.86371,5.93692,3.96786
523,2020-12-01 00:00:00,6.35549,6.53081,7.48898,6.36771,6.24221,7.00564,5.43024,3.68879
524,2021-01-01 00:00:00,6.01981,6.29671,6.97534,7.08204,6.16875,5.88592,5.64519,4.35052
525,2021-02-01 00:00:00,5.62991,5.64371,6.12768,6.83746,6.03255,5.65262,4.92453,4.05043
526,2021-03-01 00:00:00,5.37325,6.05423,5.85345,6.29026,4.76318,5.89725,5.57146,3.40444

In [59]:
# Normalize DateTime format
employment_data['Date'] = pd.to_datetime(employment_data['Date']).dt.normalize()
employment_data

,Date,Unemployment_Rate_NSW,Unemployment_Rate_VIC,Unemployment_Rate_QLD,Unemployment_Rate_SA,Unemployment_Rate_WA,Unemployment_Rate_TAS,Unemployment_Rate_NT,Unemployment_Rate_ACT
9,1978-02-01,6.87113,5.96246,7.31501,7.09107,6.68319,6.72413,8.93163,6.14203
10,1978-03-01,6.41813,5.72338,7.29693,6.52719,5.92285,6.23996,7.35859,5.163
11,1978-04-01,6.50221,5.49568,6.84923,6.4896,6.25247,6.30784,5.01638,6.54657
12,1978-05-01,6.13247,5.64047,7.12759,6.71692,6.30611,6.2012,5.76409,5.06007
13,1978-06-01,6.40148,5.52624,7.14926,6.85367,6.22743,6.54342,5.17693,6.4639
...,...,...,...,...,...,...,...,...,...
522,2020-11-01,6.4509,7.12522,7.68755,6.16983,6.38299,7.86371,5.93692,3.96786
523,2020-12-01,6.35549,6.53081,7.48898,6.36771,6.24221,7.00564,5.43024,3.68879
524,2021-01-01,6.01981,6.29671,6.97534,7.08204,6.16875,5.88592,5.64519,4.35052
525,2021-02-01,5.62991,5.64371,6.12768,6.83746,6.03255,5.65262,4.92453,4.05043
526,2021-03-01,5.37325,6.05423,5.85345,6.29026,4.76318,5.89725,5.57146,3.40444

In [61]:
# Select required date for study
covid_data = employment_data[employment_data['Date'] >= '2018-01-01']
covid_data

,Date,Unemployment_Rate_NSW,Unemployment_Rate_VIC,Unemployment_Rate_QLD,Unemployment_Rate_SA,Unemployment_Rate_WA,Unemployment_Rate_TAS,Unemployment_Rate_NT,Unemployment_Rate_ACT
488,2018-01-01,5.17514,5.55121,6.06067,5.90559,5.54745,5.13566,3.65541,4.26821
489,2018-02-01,4.82223,5.58202,6.34237,6.22947,6.13636,5.95592,4.06222,3.89592
490,2018-03-01,4.97445,5.24235,6.03956,5.57048,6.87877,5.98731,3.81016,3.79288
491,2018-04-01,4.9264,5.20176,6.49184,5.78874,6.42474,5.90272,4.49782,3.62772
492,2018-05-01,4.86483,5.07619,6.20878,5.72929,6.28429,6.59678,3.92826,3.4469
493,2018-06-01,4.66884,5.54864,5.80558,5.53203,6.19122,5.75745,4.42335,3.77818
494,2018-07-01,4.83615,4.88646,6.08784,5.51053,6.03475,6.22639,4.04817,3.66073
495,2018-08-01,4.66083,4.68877,6.29278,5.60394,6.38672,5.83093,4.03617,3.63648
496,2018-09-01,4.41712,4.57813,6.07238,5.53886,6.09589,5.81588,3.8588,3.53569
497,2018-10-01,4.38129,4.52224,6.16407,5.47666,5.65258,5.50073,5.08532,3.70064
498,2018-11-01,4.34159,4.59369,6.34875,5.26834,6.42781,5.86775,4.88678,2.75518
499,2018-12-01,4.35941,4.2058,6.14479,5.98598,6.39308,6.16103,4.95406,3.86474
500,2019-01-01,3.96738,4.55795,5.98475,6.38181,6.69391,6.87233,4.97171,3.33613
501,2019-02-01,4.29174,4.73334,5.56649,5.69798,5.99065,6.54043,4.82685,3.1042
502,2019-03-01,4.34718,4.63294,6.08893,5.94889,5.94777,6.56297,3.72039,3.60046
503,2019-04-01,4.52955,4.85226,5.90804,6.13887,6.03439,6.78963,4.40484,4.94857
504,2019-05-01,4.56933,4.61402,6.26259,5.75793,6.22268,6.38406,5.01494,4.28499
505,2019-06-01,4.62672,4.78925,6.43453,6.0822,5.76081,6.74333,4.60283,2.80702
506,2019-07-01,4.42613,4.77828,6.33699,6.78384,5.86947,5.9306,5.57535,3.51504
507,2019-08-01,4.28395,4.8518,6.30215,7.29111,5.75676,6.37343,5.12774,3.553
508,2019-09-01,4.54145,4.70898,6.55901,6.27361,5.75581,6.16316,5.79366,3.28021
509,2019-10-01,4.7566,4.80246,6.38817,6.21302,5.66169,5.97354,5.6289,2.97695
510,2019-11-01,4.63078,4.53065,6.25966,6.13004,5.69625,5.98606,5.05931,2.93471
511,2019-12-01,4.50441,4.92255,5.69248,6.25041,5.39478,5.51915,5.25233,2.91303
512,2020-01-01,4.47715,5.32235,6.1943,5.66679,5.70803,5.78597,5.01704,2.89641
513,2020-02-01,4.56935,5.25711,5.57786,5.72162,5.22057,4.93971,5.75668,2.72902
514,2020-03-01,4.85243,5.16488,5.63826,6.2671,5.41697,4.92448,5.46336,3.19242
515,2020-04-01,6.30361,5.97037,7.00251,7.19463,6.07317,6.17254,5.63234,4.22824
516,2020-05-01,6.37402,6.90279,7.82454,7.92525,8.11515,6.33421,7.43351,4.09867
517,2020-06-01,6.88873,7.47157,7.71831,8.81589,8.73301,6.89599,5.67696,5.03713
518,2020-07-01,7.16349,6.75093,8.79529,7.89697,8.37975,6.01079,7.48381,4.57314
519,2020-08-01,6.65756,7.11232,7.36239,7.88372,7.03562,6.30539,4.21824,4.14567
520,2020-09-01,7.12136,6.69867,7.61205,6.96116,6.73136,7.68193,4.71772,3.83741
521,2020-10-01,6.45842,7.36454,7.69342,7.00443,6.58463,8.23276,5.6675,3.89728
522,2020-11-01,6.4509,7.12522,7.68755,6.16983,6.38299,7.86371,5.93692,3.96786
523,2020-12-01,6.35549,6.53081,7.48898,6.36771,6.24221,7.00564,5.43024,3.68879
524,2021-01-01,6.01981,6.29671,6.97534,7.08204,6.16875,5.88592,5.64519,4.35052
525,2021-02-01,5.62991,5.64371,6.12768,6.83746,6.03255,5.65262,4.92453,4.05043
526,2021-03-01,5.37325,6.05423,5.85345,6.29026,4.76318,5.89725,5.57146,3.40444

In [ ]:
# Format data to required visualization
#covid_data.iloc[:,1]=(covid_data.iloc[:,1]*1000).apply(lambda x: '{:,.2f}'.format(x))
#covid_data.iloc[:,2]=(covid_data.iloc[:,2]*1000).apply(lambda x: '{:,.2f}'.format(x))
#covid_data.iloc[:,3]=(covid_data.iloc[:,3]*1000).apply(lambda x: '{:,.2f}'.format(x))
#covid_data.iloc[:,4]=(covid_data.iloc[:,4]*1000).apply(lambda x: '{:,.2f}'.format(x))
#covid_data.iloc[:,5]=(covid_data.iloc[:,5]*1000).apply(lambda x: '{:,.2f}'.format(x))
#covid_data.iloc[:,6]=(covid_data.iloc[:,6]*1000).apply(lambda x: '{:,.2f}'.format(x))
#covid_data.iloc[:,7]=(covid_data.iloc[:,7]*1000).apply(lambda x: '{:,.2f}'.format(x))
#covid_data

In [62]:
# Get month from Date column and output it to new column name Month
covid_data['Month'] = pd.DatetimeIndex(covid_data['Date']).month
covid_data['Year'] = pd.DatetimeIndex(covid_data['Date']).year

# Reset index values
covid_data.reset_index(drop=True, inplace=True)
covid_data.head(5)

,Date,Unemployment_Rate_NSW,Unemployment_Rate_VIC,Unemployment_Rate_QLD,Unemployment_Rate_SA,Unemployment_Rate_WA,Unemployment_Rate_TAS,Unemployment_Rate_NT,Unemployment_Rate_ACT,Month,Year
0,2018-01-01,5.17514,5.55121,6.06067,5.90559,5.54745,5.13566,3.65541,4.26821,1,2018
1,2018-02-01,4.82223,5.58202,6.34237,6.22947,6.13636,5.95592,4.06222,3.89592,2,2018
2,2018-03-01,4.97445,5.24235,6.03956,5.57048,6.87877,5.98731,3.81016,3.79288,3,2018
3,2018-04-01,4.9264,5.20176,6.49184,5.78874,6.42474,5.90272,4.49782,3.62772,4,2018
4,2018-05-01,4.86483,5.07619,6.20878,5.72929,6.28429,6.59678,3.92826,3.4469,5,2018

In [63]:
# create a list of quarters values
quarters = []
for index, row in covid_data.iterrows():
    month = covid_data.iloc[index]["Month"]
    # months 1-3 is Q1, 4-6 is Q2, 7-9 is Q3, 10-12 is Q4
    if month <= 3:
        quarter = 1
    elif month <= 6:
        quarter = 2
    elif month <= 9:
         quarter = 3
    else:
        quarter = 4
    quarters.append(quarter)

In [ ]:
# # create a list of midyear
# midyear = []
# for index, row in covid_data.iterrows():
#     month = covid_data.iloc[index]["Monthly"]
#     # months 1-3 is Q1, 4-6 is Q2, 7-9 is Q3, 10-12 is Q4
#     if month <= 3:
#         halfyear = 1
#     else:
#         halfyear = 2
#     midyear.append(halfyear)

In [64]:
# Add new column for quarterly data
covid_data["Quarter"] = quarters

# # Add new column for midyear data
# covid_data["Semester"] = midyear

covid_data.head(10)

,Date,Unemployment_Rate_NSW,Unemployment_Rate_VIC,Unemployment_Rate_QLD,Unemployment_Rate_SA,Unemployment_Rate_WA,Unemployment_Rate_TAS,Unemployment_Rate_NT,Unemployment_Rate_ACT,Month,Year,Quarter
0,2018-01-01,5.17514,5.55121,6.06067,5.90559,5.54745,5.13566,3.65541,4.26821,1,2018,1
1,2018-02-01,4.82223,5.58202,6.34237,6.22947,6.13636,5.95592,4.06222,3.89592,2,2018,1
2,2018-03-01,4.97445,5.24235,6.03956,5.57048,6.87877,5.98731,3.81016,3.79288,3,2018,1
3,2018-04-01,4.9264,5.20176,6.49184,5.78874,6.42474,5.90272,4.49782,3.62772,4,2018,2
4,2018-05-01,4.86483,5.07619,6.20878,5.72929,6.28429,6.59678,3.92826,3.4469,5,2018,2
5,2018-06-01,4.66884,5.54864,5.80558,5.53203,6.19122,5.75745,4.42335,3.77818,6,2018,2
6,2018-07-01,4.83615,4.88646,6.08784,5.51053,6.03475,6.22639,4.04817,3.66073,7,2018,3
7,2018-08-01,4.66083,4.68877,6.29278,5.60394,6.38672,5.83093,4.03617,3.63648,8,2018,3
8,2018-09-01,4.41712,4.57813,6.07238,5.53886,6.09589,5.81588,3.8588,3.53569,9,2018,3
9,2018-10-01,4.38129,4.52224,6.16407,5.47666,5.65258,5.50073,5.08532,3.70064,10,2018,4

In [65]:
#Set index to date column 
clean_data = covid_data.set_index('Date')

In [66]:
# Output clean data
clean_data

,Unemployment_Rate_NSW,Unemployment_Rate_VIC,Unemployment_Rate_QLD,Unemployment_Rate_SA,Unemployment_Rate_WA,Unemployment_Rate_TAS,Unemployment_Rate_NT,Unemployment_Rate_ACT,Month,Year,Quarter
Date,,,,,,,,,,,
2018-01-01,5.17514,5.55121,6.06067,5.90559,5.54745,5.13566,3.65541,4.26821,1,2018,1
2018-02-01,4.82223,5.58202,6.34237,6.22947,6.13636,5.95592,4.06222,3.89592,2,2018,1
2018-03-01,4.97445,5.24235,6.03956,5.57048,6.87877,5.98731,3.81016,3.79288,3,2018,1
2018-04-01,4.9264,5.20176,6.49184,5.78874,6.42474,5.90272,4.49782,3.62772,4,2018,2
2018-05-01,4.86483,5.07619,6.20878,5.72929,6.28429,6.59678,3.92826,3.4469,5,2018,2
2018-06-01,4.66884,5.54864,5.80558,5.53203,6.19122,5.75745,4.42335,3.77818,6,2018,2
2018-07-01,4.83615,4.88646,6.08784,5.51053,6.03475,6.22639,4.04817,3.66073,7,2018,3
2018-08-01,4.66083,4.68877,6.29278,5.60394,6.38672,5.83093,4.03617,3.63648,8,2018,3
2018-09-01,4.41712,4.57813,6.07238,5.53886,6.09589,5.81588,3.8588,3.53569,9,2018,3
2018-10-01,4.38129,4.52224,6.16407,5.47666,5.65258,5.50073,5.08532,3.70064,10,2018,4
2018-11-01,4.34159,4.59369,6.34875,5.26834,6.42781,5.86775,4.88678,2.75518,11,2018,4
2018-12-01,4.35941,4.2058,6.14479,5.98598,6.39308,6.16103,4.95406,3.86474,12,2018,4
2019-01-01,3.96738,4.55795,5.98475,6.38181,6.69391,6.87233,4.97171,3.33613,1,2019,1
2019-02-01,4.29174,4.73334,5.56649,5.69798,5.99065,6.54043,4.82685,3.1042,2,2019,1
2019-03-01,4.34718,4.63294,6.08893,5.94889,5.94777,6.56297,3.72039,3.60046,3,2019,1
2019-04-01,4.52955,4.85226,5.90804,6.13887,6.03439,6.78963,4.40484,4.94857,4,2019,2
2019-05-01,4.56933,4.61402,6.26259,5.75793,6.22268,6.38406,5.01494,4.28499,5,2019,2
2019-06-01,4.62672,4.78925,6.43453,6.0822,5.76081,6.74333,4.60283,2.80702,6,2019,2
2019-07-01,4.42613,4.77828,6.33699,6.78384,5.86947,5.9306,5.57535,3.51504,7,2019,3
2019-08-01,4.28395,4.8518,6.30215,7.29111,5.75676,6.37343,5.12774,3.553,8,2019,3
2019-09-01,4.54145,4.70898,6.55901,6.27361,5.75581,6.16316,5.79366,3.28021,9,2019,3
2019-10-01,4.7566,4.80246,6.38817,6.21302,5.66169,5.97354,5.6289,2.97695,10,2019,4
2019-11-01,4.63078,4.53065,6.25966,6.13004,5.69625,5.98606,5.05931,2.93471,11,2019,4
2019-12-01,4.50441,4.92255,5.69248,6.25041,5.39478,5.51915,5.25233,2.91303,12,2019,4
2020-01-01,4.47715,5.32235,6.1943,5.66679,5.70803,5.78597,5.01704,2.89641,1,2020,1
2020-02-01,4.56935,5.25711,5.57786,5.72162,5.22057,4.93971,5.75668,2.72902,2,2020,1
2020-03-01,4.85243,5.16488,5.63826,6.2671,5.41697,4.92448,5.46336,3.19242,3,2020,1
2020-04-01,6.30361,5.97037,7.00251,7.19463,6.07317,6.17254,5.63234,4.22824,4,2020,2
2020-05-01,6.37402,6.90279,7.82454,7.92525,8.11515,6.33421,7.43351,4.09867,5,2020,2
2020-06-01,6.88873,7.47157,7.71831,8.81589,8.73301,6.89599,5.67696,5.03713,6,2020,2
2020-07-01,7.16349,6.75093,8.79529,7.89697,8.37975,6.01079,7.48381,4.57314,7,2020,3
2020-08-01,6.65756,7.11232,7.36239,7.88372,7.03562,6.30539,4.21824,4.14567,8,2020,3
2020-09-01,7.12136,6.69867,7.61205,6.96116,6.73136,7.68193,4.71772,3.83741,9,2020,3
2020-10-01,6.45842,7.36454,7.69342,7.00443,6.58463,8.23276,5.6675,3.89728,10,2020,4
2020-11-01,6.4509,7.12522,7.68755,6.16983,6.38299,7.86371,5.93692,3.96786,11,2020,4
2020-12-01,6.35549,6.53081,7.48898,6.36771,6.24221,7.00564,5.43024,3.68879,12,2020,4
2021-01-01,6.01981,6.29671,6.97534,7.08204,6.16875,5.88592,5.64519,4.35052,1,2021,1
2021-02-01,5.62991,5.64371,6.12768,6.83746,6.03255,5.65262,4.92453,4.05043,2,2021,1
2021-03-01,5.37325,6.05423,5.85345,6.29026,4.76318,5.89725,5.57146,3.40444,3,2021,1

In [ ]:
# Export data to csv
clean_data.to_csv('Ray Data/employment_study_1.csv')