In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np
pd.options.mode.chained_assignment = None  

# File to Load (Remember to Change These)
data = "Ray Data/final data.xls"

# Read source data and store into Pandas data frame
xls_data = pd.read_excel(data)
xls_data

,Unnamed: 0,Employed total ; Persons ;,Employed total ; Persons ;.1,Employed total ; Persons ;.2,Employed total ; > Males ;,Employed total ; > Males ;.1,Employed total ; > Males ;.2,Employed total ; > Females ;,Employed total ; > Females ;.1,Employed total ; > Females ;.2,...,Participation rate ; > Males ;.2,Participation rate ; > Females ;,Participation rate ; > Females ;.1,Participation rate ; > Females ;.2,Not in the labour force (NILF) ; Persons ;,Not in the labour force (NILF) ; > Males ;,Not in the labour force (NILF) ; > Females ;,Civilian population aged 15 years and over ; Persons ;,Civilian population aged 15 years and over ; > Males ;,Civilian population aged 15 years and over ; > Females ;
0,Unit,000,000,000,000,000,000,000,000,000,...,Percent,Percent,Percent,Percent,000,000,000,000,000,000
1,Series Type,Trend,Seasonally Adjusted,Original,Trend,Seasonally Adjusted,Original,Trend,Seasonally Adjusted,Original,...,Original,Trend,Seasonally Adjusted,Original,Original,Original,Original,Original,Original,Original
2,Data Type,STOCK,STOCK,STOCK,STOCK,STOCK,STOCK,STOCK,STOCK,STOCK,...,PERCENT,PERCENT,PERCENT,PERCENT,STOCK,STOCK,STOCK,STOCK,STOCK,STOCK
3,Frequency,Month,Month,Month,Month,Month,Month,Month,Month,Month,...,Month,Month,Month,Month,Month,Month,Month,Month,Month,Month
4,Collection Month,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
522,2020-11-01 00:00:00,NaN,12842.4,12890.7,NaN,6789.03,6802.44,NaN,6053.36,6088.22,...,70.8538,NaN,61.3223,61.2794,7099.06,2983.2,4115.85,20864.9,10235.3,10629.6
523,2020-12-01 00:00:00,NaN,12888.7,13006.2,NaN,6791.2,6835.56,NaN,6097.55,6170.61,...,71.4232,NaN,61.3407,61.7617,6991.59,2925.69,4065.9,20871,10238,10633
524,2021-01-01 00:00:00,NaN,12918.2,12749.5,NaN,6818.08,6745.39,NaN,6100.13,6004.07,...,70.7736,NaN,61.1372,60.5107,7195.12,2993.83,4201.28,20882.6,10243.6,10639
525,2021-02-01 00:00:00,NaN,13006.9,13053.9,NaN,6832.64,6862.51,NaN,6174.25,6191.41,...,71.5597,NaN,61.4074,61.9453,6965.84,2914.89,4050.94,20894.2,10249.2,10645
526,2021-03-01 00:00:00,NaN,13077.6,13082.7,NaN,6847.96,6858.8,NaN,6229.64,6223.93,...,71.2614,NaN,61.7774,62.0386,6990.36,2947.08,4043.28,20905.8,10254.8,10651

In [2]:
# Transpose dataframe
trans_to = xls_data.T
trans_to

,0,1,2,3,4,5,6,7,8,9,...,517,518,519,520,521,522,523,524,525,526
Unnamed: 0,Unit,Series Type,Data Type,Frequency,Collection Month,Series Start,Series End,No. Obs,Series ID,1978-02-01 00:00:00,...,2020-06-01 00:00:00,2020-07-01 00:00:00,2020-08-01 00:00:00,2020-09-01 00:00:00,2020-10-01 00:00:00,2020-11-01 00:00:00,2020-12-01 00:00:00,2021-01-01 00:00:00,2021-02-01 00:00:00,2021-03-01 00:00:00
Employed total ; Persons ;,000,Trend,STOCK,Month,1,1978-02-01 00:00:00,2021-03-01 00:00:00,518,A84423127L,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Employed total ; Persons ;.1,000,Seasonally Adjusted,STOCK,Month,1,1978-02-01 00:00:00,2021-03-01 00:00:00,518,A84423043C,5997.66,...,12357.2,12469.9,12628.5,12579.4,12756.2,12842.4,12888.7,12918.2,13006.9,13077.6
Employed total ; Persons ;.2,000,Original,STOCK,Month,1,1978-02-01 00:00:00,2021-03-01 00:00:00,518,A84423085A,5985.66,...,12391.8,12474,12566.5,12572,12742.4,12890.7,13006.2,12749.5,13053.9,13082.7
Employed total ; > Males ;,000,Trend,STOCK,Month,1,1978-02-01 00:00:00,2021-03-01 00:00:00,518,A84423113X,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Not in the labour force (NILF) ; > Males ;,000,Original,STOCK,Month,1,1978-02-01 00:00:00,2021-03-01 00:00:00,518,A84423076X,1029.79,...,3162.94,3105.57,3111.9,3108.9,3023.32,2983.2,2925.69,2993.83,2914.89,2947.08
Not in the labour force (NILF) ; > Females ;,000,Original,STOCK,Month,1,1978-02-01 00:00:00,2021-03-01 00:00:00,518,A84423104W,2991.06,...,4332.1,4278.83,4252.65,4262.35,4185.56,4115.85,4065.9,4201.28,4050.94,4043.28
Civilian population aged 15 years and over ; Persons ;,000,Original,STOCK,Month,1,1978-02-01 00:00:00,2021-03-01 00:00:00,518,A84423091W,10489.3,...,20853.3,20853.1,20852.9,20852.7,20858.8,20864.9,20871,20882.6,20894.2,20905.8
Civilian population aged 15 years and over ; > Males ;,000,Original,STOCK,Month,1,1978-02-01 00:00:00,2021-03-01 00:00:00,518,A84423077A,5173.6,...,10231,10230.6,10230.3,10229.9,10232.6,10235.3,10238,10243.6,10249.2,10254.8
Civilian population aged 15 years and over ; > Females ;,000,Original,STOCK,Month,1,1978-02-01 00:00:00,2021-03-01 00:00:00,518,A84423105X,5315.73,...,10622.4,10622.5,10622.6,10622.8,10626.2,10629.6,10633,10639,10645,10651

In [3]:
# Filter dataframe to ouput required data
data_filter = ['Series Type', 'Seasonally Adjusted']
filter_data = trans_to[trans_to[1].isin(data_filter)]

In [4]:
filter_data.head(100)

,0,1,2,3,4,5,6,7,8,9,...,517,518,519,520,521,522,523,524,525,526
Unnamed: 0,Unit,Series Type,Data Type,Frequency,Collection Month,Series Start,Series End,No. Obs,Series ID,1978-02-01 00:00:00,...,2020-06-01 00:00:00,2020-07-01 00:00:00,2020-08-01 00:00:00,2020-09-01 00:00:00,2020-10-01 00:00:00,2020-11-01 00:00:00,2020-12-01 00:00:00,2021-01-01 00:00:00,2021-02-01 00:00:00,2021-03-01 00:00:00
Employed total ; Persons ;.1,000,Seasonally Adjusted,STOCK,Month,1,1978-02-01 00:00:00,2021-03-01 00:00:00,518,A84423043C,5997.66,...,12357.2,12469.9,12628.5,12579.4,12756.2,12842.4,12888.7,12918.2,13006.9,13077.6
Employed total ; > Males ;.1,000,Seasonally Adjusted,STOCK,Month,1,1978-02-01 00:00:00,2021-03-01 00:00:00,518,A84423029J,3881.13,...,6535.24,6587.71,6648.45,6621.37,6738.85,6789.03,6791.2,6818.08,6832.64,6847.96
Employed total ; > Females ;.1,000,Seasonally Adjusted,STOCK,Month,1,1978-02-01 00:00:00,2021-03-01 00:00:00,518,A84423057T,2116.53,...,5821.96,5882.2,5980.04,5958.02,6017.34,6053.36,6097.55,6100.13,6174.25,6229.64
> Employed full-time ; Persons ;.1,000,Seasonally Adjusted,STOCK,Month,1,1978-02-01 00:00:00,2021-03-01 00:00:00,518,A84423041X,5079.56,...,8511.18,8546.92,8580.83,8535.49,8631.9,8713.65,8747.17,8805.89,8895.04,8874.24
> Employed full-time ; > Males ;.1,000,Seasonally Adjusted,STOCK,Month,1,1978-02-01 00:00:00,2021-03-01 00:00:00,518,A84423027C,3679.93,...,5325.51,5331.52,5358.01,5313.38,5412.5,5450.6,5445,5471.79,5492.07,5486.46
> Employed full-time ; > Females ;.1,000,Seasonally Adjusted,STOCK,Month,1,1978-02-01 00:00:00,2021-03-01 00:00:00,518,A84423055L,1399.63,...,3185.67,3215.41,3222.82,3222.1,3219.39,3263.04,3302.17,3334.1,3402.96,3387.78
> Employed part-time ; Persons ;.1,000,Seasonally Adjusted,STOCK,Month,1,1978-02-01 00:00:00,2021-03-01 00:00:00,518,A84423042A,918.094,...,3846.02,3922.99,4047.66,4043.91,4124.3,4128.75,4141.58,4112.33,4111.85,4203.36
> Employed part-time ; > Males ;.1,000,Seasonally Adjusted,STOCK,Month,1,1978-02-01 00:00:00,2021-03-01 00:00:00,518,A84423028F,201.201,...,1209.73,1256.19,1290.44,1307.99,1326.35,1338.43,1346.2,1346.29,1340.56,1361.5
> Employed part-time ; > Females ;.1,000,Seasonally Adjusted,STOCK,Month,1,1978-02-01 00:00:00,2021-03-01 00:00:00,518,A84423056R,716.893,...,2636.29,2666.8,2757.22,2735.92,2797.95,2790.32,2795.38,2766.03,2771.29,2841.86
Employment to population ratio ; Persons ;.1,Percent,Seasonally Adjusted,PERCENT,Month,1,1978-02-01 00:00:00,2021-03-01 00:00:00,518,A84423054K,57.1786,...,59.2577,59.7988,60.5599,60.3251,61.155,61.5502,61.7542,61.8611,62.2511,62.5548
Employment to population ratio ; > Males ;.1,Percent,Seasonally Adjusted,PERCENT,Month,1,1978-02-01 00:00:00,2021-03-01 00:00:00,518,A84423040W,75.018,...,63.8771,64.392,64.9881,64.7255,65.8566,66.3296,66.3334,66.5596,66.6652,66.7781
Employment to population ratio ; > Females ;.1,Percent,Seasonally Adjusted,PERCENT,Month,1,1978-02-01 00:00:00,2021-03-01 00:00:00,518,A84423068X,39.8163,...,54.8085,55.375,56.2953,56.0874,56.6275,56.9481,57.3452,57.3372,58.0012,58.4886
Unemployed total ; Persons ;.1,000,Seasonally Adjusted,STOCK,Month,1,1978-02-01 00:00:00,2021-03-01 00:00:00,518,A84423046K,426.936,...,992.367,1007.9,922.075,933.697,957.24,939.589,909.271,875.056,805.195,778.091
Unemployed total ; > Males ;.1,000,Seasonally Adjusted,STOCK,Month,1,1978-02-01 00:00:00,2021-03-01 00:00:00,518,A84423032W,231.386,...,531.288,531.828,502.386,507.665,503.243,474.632,484.437,470.776,442.601,427.798
Unemployed total ; > Females ;.1,000,Seasonally Adjusted,STOCK,Month,1,1978-02-01 00:00:00,2021-03-01 00:00:00,518,A84423060F,195.551,...,461.079,476.075,419.689,426.032,453.997,464.957,424.834,404.28,362.594,350.292
> Unemployed looked for full-time work ; Persons ;.1,000,Seasonally Adjusted,STOCK,Month,1,1978-02-01 00:00:00,2021-03-01 00:00:00,518,A84423044F,354.781,...,732.745,730.299,689.64,699.651,682.889,671.119,656.745,616.481,576.689,544.101
> Unemployed looked for full-time work ; > Males ;.1,000,Seasonally Adjusted,STOCK,Month,1,1978-02-01 00:00:00,2021-03-01 00:00:00,518,A84423030T,211.979,...,413.442,416.484,414.868,421.248,400.869,383.762,389.116,355.692,344.218,326.074
> Unemployed looked for full-time work ; > Females ;.1,000,Seasonally Adjusted,STOCK,Month,1,1978-02-01 00:00:00,2021-03-01 00:00:00,518,A84423058V,142.802,...,319.303,313.815,274.772,278.403,282.021,287.357,267.63,260.789,232.471,218.027
> Unemployed looked for only part-time work ; Persons ;.1,000,Seasonally Adjusted,STOCK,Month,1,1978-02-01 00:00:00,2021-03-01 00:00:00,518,A84423045J,72.1559,...,259.622,277.603,232.435,234.046,274.35,268.47,252.526,258.576,228.506,233.99
> Unemployed looked for only part-time work ; > Males ;.1,000,Seasonally Adjusted,STOCK,Month,1,1978-02-01 00:00:00,2021-03-01 00:00:00,518,A84423031V,19.4069,...,117.846,115.344,87.518,86.4172,102.375,90.8702,95.3212,115.085,98.3828,101.725
> Unemployed looked for only part-time work ; > Females ;.1,000,Seasonally Adjusted,STOCK,Month,1,1978-02-01 00:00:00,2021-03-01 00:00:00,518,A84423059W,52.749,...,141.776,162.26,144.917,147.628,171.976,177.6,157.204,143.491,130.123,132.265
Unemployment rate ; Persons ;.1,Percent,Seasonally Adjusted,PERCENT,Month,1,1978-02-01 00:00:00,2021-03-01 00:00:00,518,A84423050A,6.64535,...,7.43371,7.47823,6.8047,6.90957,6.98031,6.81752,6.58986,6.34408,5.82964,5.61568
Unemployment rate ; > Males ;.1,Percent,Seasonally Adjusted,PERCENT,Month,1,1978-02-01 00:00:00,2021-03-01 00:00:00,518,A84423036F,5.62638,...,7.51837,7.46998,7.02556,7.12109,6.94886,6.53434,6.65834,6.45885,6.08366,5.87978
Unemployment rate ; > Females ;.1,Percent,Seasonally Adjusted,PERCENT,Month,1,1978-02-01 00:00:00,2021-03-01 00:00:00,518,A84423064R,8.4578,...,7.33848,7.48748,6.55792,6.67337,7.0155,7.13307,6.51348,6.21547,5.54693,5.32365
> Unemployment rate looked for full-time work ; Persons ;.1,Percent,Seasonally Adjusted,PERCENT,Month,1,1978-02-01 00:00:00,2021-03-01 00:00:00,518,A84423052F,6.52849,...,7.92678,7.87196,7.4391,7.57597,7.33124,7.15115,6.98374,6.54274,6.08853,5.77703
> Unemployment rate looked for full-time work ; > Males ;.1,Percent,Seasonally Adjusted,PERCENT,Month,1,1978-02-01 00:00:00,2021-03-01 00:00:00,518,A84423038K,5.44665,...,7.20413,7.24572,7.18651,7.34568,6.89563,6.57762,6.66966,6.1037,5.89789,5.60984
> Unemployment rate looked for full-time work ; > Females ;.1,Percent,Seasonally Adjusted,PERCENT,Month,1,1978-02-01 00:00:00,2021-03-01 00:00:00,518,A84423066V,9.25822,...,9.11002,8.89191,7.85603,7.95324,8.05448,8.09364,7.49705,7.25445,6.39459,6.04656
> Unemployment rate looked for only part-time work ; Persons ;.1,Percent,Seasonally Adjusted,PERCENT,Month,1,1978-02-01 00:00:00,2021-03-01 00:00:00,518,A84423053J,7.28663,...,6.32355,6.60867,5.43061,5.47097,6.23715,6.10545,5.74692,5.91584,5.26468,5.2732
> Unemployment rate looked for only part-time work ; > Males ;.1,Percent,Seasonally Adjusted,PERCENT,Month,1,1978-02-01 00:00:00,2021-03-01 00:00:00,518,A84423039L,8.79701,...,8.8768,8.40981,6.35127,6.19743,7.16544,6.35766,6.61252,7.87507,6.83714,6.95212
> Unemployment rate looked for only part-time work ; > Females ;.1,Percent,Seasonally Adjusted,PERCENT,Month,1,1978-02-01 00:00:00,2021-03-01 00:00:00,518,A84423067W,6.8537,...,5.10341,5.73547,4.99347,5.11967,5.79058,5.98399,5.32431,4.93176,4.48483,4.4472
Labour force total ; Persons ;.1,000,Seasonally Adjusted,STOCK,Month,1,1978-02-01 00:00:00,2021-03-01 00:00:00,518,A84423047L,6424.59,...,13349.6,13477.8,13550.6,13513.1,13713.4,13782,13798,13793.3,13812.1,13855.7
Labour force total ; > Males ;.1,000,Seasonally Adjusted,STOCK,Month,1,1978-02-01 00:00:00,2021-03-01 00:00:00,518,A84423033X,4112.52,...,7066.53,7119.54,7150.84,7129.04,7242.1,7263.67,7275.64,7288.86,7275.24,7275.75
Labour force total ; > Females ;.1,000,Seasonally Adjusted,STOCK,Month,1,1978-02-01 00:00:00,2021-03-01 00:00:00,518,A84423061J,2312.08,...,6283.03,6358.28,6399.73,6384.06,6471.34,6518.32,6522.38,6504.41,6536.84,6579.93
Participation rate ; Persons ;.1,Percent,Seasonally Adjusted,PERCENT,Month,1,1978-02-01 00:00:00,2021-03-01 00:00:00,518,A84423051C,61.2488,...,64.0165,64.6322,64.9817,64.8027,65.7441,66.0534,66.1109,66.0514,66.1048,66.2767
Participation rate ; > Males ;.1,Percent,Seasonally Adjusted,PERCENT,Month,1,1978-02-01 00:00:00,2021-03-01 00:00:00,518,A84423037J,79.4904,...,69.07,69.5904,69.8988,69.6881,70.7747,70.9668,71.0652,71.1554,70.9836,70.9498
Participation rate ; > Females ;.1,Percent,Seasonally Adjusted,PERCENT,Month,1,1978-02-01 00:00:00,2021-03-01 00:00:00,518,A84423065T,43.495,...,59.1492,59.8568,60.2462,60.0979,60.8999,61.3223,61.3407,61.1372,61.4074,61.7774

In [5]:
# Revert transpose to original 
original_data = filter_data.T
original_data.head(20)

,Unnamed: 0,Employed total ; Persons ;.1,Employed total ; > Males ;.1,Employed total ; > Females ;.1,> Employed full-time ; Persons ;.1,> Employed full-time ; > Males ;.1,> Employed full-time ; > Females ;.1,> Employed part-time ; Persons ;.1,> Employed part-time ; > Males ;.1,> Employed part-time ; > Females ;.1,...,> Unemployment rate looked for full-time work ; > Females ;.1,> Unemployment rate looked for only part-time work ; Persons ;.1,> Unemployment rate looked for only part-time work ; > Males ;.1,> Unemployment rate looked for only part-time work ; > Females ;.1,Labour force total ; Persons ;.1,Labour force total ; > Males ;.1,Labour force total ; > Females ;.1,Participation rate ; Persons ;.1,Participation rate ; > Males ;.1,Participation rate ; > Females ;.1
0,Unit,000,000,000,000,000,000,000,000,000,...,Percent,Percent,Percent,Percent,000,000,000,Percent,Percent,Percent
1,Series Type,Seasonally Adjusted,Seasonally Adjusted,Seasonally Adjusted,Seasonally Adjusted,Seasonally Adjusted,Seasonally Adjusted,Seasonally Adjusted,Seasonally Adjusted,Seasonally Adjusted,...,Seasonally Adjusted,Seasonally Adjusted,Seasonally Adjusted,Seasonally Adjusted,Seasonally Adjusted,Seasonally Adjusted,Seasonally Adjusted,Seasonally Adjusted,Seasonally Adjusted,Seasonally Adjusted
2,Data Type,STOCK,STOCK,STOCK,STOCK,STOCK,STOCK,STOCK,STOCK,STOCK,...,PERCENT,PERCENT,PERCENT,PERCENT,STOCK,STOCK,STOCK,PERCENT,PERCENT,PERCENT
3,Frequency,Month,Month,Month,Month,Month,Month,Month,Month,Month,...,Month,Month,Month,Month,Month,Month,Month,Month,Month,Month
4,Collection Month,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
5,Series Start,1978-02-01 00:00:00,1978-02-01 00:00:00,1978-02-01 00:00:00,1978-02-01 00:00:00,1978-02-01 00:00:00,1978-02-01 00:00:00,1978-02-01 00:00:00,1978-02-01 00:00:00,1978-02-01 00:00:00,...,1978-02-01 00:00:00,1978-02-01 00:00:00,1978-02-01 00:00:00,1978-02-01 00:00:00,1978-02-01 00:00:00,1978-02-01 00:00:00,1978-02-01 00:00:00,1978-02-01 00:00:00,1978-02-01 00:00:00,1978-02-01 00:00:00
6,Series End,2021-03-01 00:00:00,2021-03-01 00:00:00,2021-03-01 00:00:00,2021-03-01 00:00:00,2021-03-01 00:00:00,2021-03-01 00:00:00,2021-03-01 00:00:00,2021-03-01 00:00:00,2021-03-01 00:00:00,...,2021-03-01 00:00:00,2021-03-01 00:00:00,2021-03-01 00:00:00,2021-03-01 00:00:00,2021-03-01 00:00:00,2021-03-01 00:00:00,2021-03-01 00:00:00,2021-03-01 00:00:00,2021-03-01 00:00:00,2021-03-01 00:00:00
7,No. Obs,518,518,518,518,518,518,518,518,518,...,518,518,518,518,518,518,518,518,518,518
8,Series ID,A84423043C,A84423029J,A84423057T,A84423041X,A84423027C,A84423055L,A84423042A,A84423028F,A84423056R,...,A84423066V,A84423053J,A84423039L,A84423067W,A84423047L,A84423033X,A84423061J,A84423051C,A84423037J,A84423065T
9,1978-02-01 00:00:00,5997.66,3881.13,2116.53,5079.56,3679.93,1399.63,918.094,201.201,716.893,...,9.25822,7.28663,8.79701,6.8537,6424.59,4112.52,2312.08,61.2488,79.4904,43.495
10,1978-03-01 00:00:00,6003.22,3884.74,2118.48,5095.41,3691.39,1404.02,907.804,193.345,714.459,...,8.90191,6.69769,7.69843,6.42314,6407.08,4102.37,2304.71,60.9697,79.1528,43.2746
11,1978-04-01 00:00:00,6030.85,3888.62,2142.23,5119.62,3696.86,1422.77,911.227,191.768,719.459,...,8.56851,6.62411,7.28253,6.44703,6434.15,4109.01,2325.14,61.1689,79.2099,43.6141
12,1978-05-01 00:00:00,6033.38,3885.81,2147.57,5119.05,3692.27,1426.78,914.329,193.546,720.784,...,8.68934,6.37098,6.62878,6.30152,6432.87,4101.05,2331.82,61.087,78.9696,43.6878
13,1978-06-01 00:00:00,6033.77,3882.76,2151.01,5104.09,3680.45,1423.64,929.675,202.304,727.371,...,8.43825,6.23376,5.87464,6.33316,6439.74,4108.35,2331.39,61.0785,79.0358,43.6158
14,1978-07-01 00:00:00,6030.51,3872.95,2157.56,5096.62,3668.36,1428.26,933.89,204.591,729.299,...,8.46139,5.70819,4.40411,6.06766,6430.71,4094.02,2336.69,60.9237,78.6722,43.6646
15,1978-08-01 00:00:00,6036.37,3872.46,2163.91,5098.23,3668.33,1429.9,938.142,204.124,734.018,...,8.49658,6.9512,6.91267,6.9619,6455.38,4103.77,2351.61,61.07,78.7549,43.8762
16,1978-09-01 00:00:00,6029.74,3869.3,2160.44,5105.94,3671.35,1434.59,923.807,197.952,725.855,...,8.31635,6.27485,6.65956,6.16939,6431.91,4093.61,2338.3,60.7535,78.4394,43.5593
17,1978-10-01 00:00:00,6035.76,3875.66,2160.1,5107.73,3674.17,1433.57,928.028,201.491,726.537,...,8.23987,6.05291,6.64509,5.88735,6432.25,4097.96,2334.29,60.6914,78.444,43.4348
18,1978-11-01 00:00:00,6028.23,3877.74,2150.49,5103.8,3680.6,1423.2,924.433,197.14,727.293,...,8.53507,6.86061,8.733,6.33977,6435.79,4103.26,2332.52,60.641,78.4505,43.335
19,1978-12-01 00:00:00,6053.29,3891.22,2162.07,5112.82,3689.24,1423.59,940.467,201.986,738.482,...,9.07225,6.36079,7.3505,6.08639,6467.63,4115.67,2351.97,60.8487,78.576,43.6259

In [6]:
# Remove special characters from column name
original_data.columns=original_data.columns.str.replace('[:,-,>,;,., ]','')

In [7]:
# Choose columns for final data
employment_data = original_data.iloc[:,[0,1,4,7,13,16,19,31]]
employment_data

,Unnamed0,EmployedtotalPersons1,Employedfull-timePersons1,Employedpart-timePersons1,UnemployedtotalPersons1,Unemployedlookedforfull-timeworkPersons1,Unemployedlookedforonlypart-timeworkPersons1,LabourforcetotalPersons1
0,Unit,000,000,000,000,000,000,000
1,Series Type,Seasonally Adjusted,Seasonally Adjusted,Seasonally Adjusted,Seasonally Adjusted,Seasonally Adjusted,Seasonally Adjusted,Seasonally Adjusted
2,Data Type,STOCK,STOCK,STOCK,STOCK,STOCK,STOCK,STOCK
3,Frequency,Month,Month,Month,Month,Month,Month,Month
4,Collection Month,1,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...
522,2020-11-01 00:00:00,12842.4,8713.65,4128.75,939.589,671.119,268.47,13782
523,2020-12-01 00:00:00,12888.7,8747.17,4141.58,909.271,656.745,252.526,13798
524,2021-01-01 00:00:00,12918.2,8805.89,4112.33,875.056,616.481,258.576,13793.3
525,2021-02-01 00:00:00,13006.9,8895.04,4111.85,805.195,576.689,228.506,13812.1
526,2021-03-01 00:00:00,13077.6,8874.24,4203.36,778.091,544.101,233.99,13855.7

In [8]:
# Rename columns for more informative reference 
employment_data_cols = ['Date','Total Employed','Employed Fulltime','Employed Parttime','Total Unemployed','Unemployed Looked Fulltime','Unemployed looked Parttime','Labour Force Total']
employment_data.columns = employment_data_cols
employment_data.head(20)

,Date,Total Employed,Employed Fulltime,Employed Parttime,Total Unemployed,Unemployed Looked Fulltime,Unemployed looked Parttime,Labour Force Total
0,Unit,000,000,000,000,000,000,000
1,Series Type,Seasonally Adjusted,Seasonally Adjusted,Seasonally Adjusted,Seasonally Adjusted,Seasonally Adjusted,Seasonally Adjusted,Seasonally Adjusted
2,Data Type,STOCK,STOCK,STOCK,STOCK,STOCK,STOCK,STOCK
3,Frequency,Month,Month,Month,Month,Month,Month,Month
4,Collection Month,1,1,1,1,1,1,1
5,Series Start,1978-02-01 00:00:00,1978-02-01 00:00:00,1978-02-01 00:00:00,1978-02-01 00:00:00,1978-02-01 00:00:00,1978-02-01 00:00:00,1978-02-01 00:00:00
6,Series End,2021-03-01 00:00:00,2021-03-01 00:00:00,2021-03-01 00:00:00,2021-03-01 00:00:00,2021-03-01 00:00:00,2021-03-01 00:00:00,2021-03-01 00:00:00
7,No. Obs,518,518,518,518,518,518,518
8,Series ID,A84423043C,A84423041X,A84423042A,A84423046K,A84423044F,A84423045J,A84423047L
9,1978-02-01 00:00:00,5997.66,5079.56,918.094,426.936,354.781,72.1559,6424.59
10,1978-03-01 00:00:00,6003.22,5095.41,907.804,403.867,338.7,65.1666,6407.08
11,1978-04-01 00:00:00,6030.85,5119.62,911.227,403.3,338.657,64.6427,6434.15
12,1978-05-01 00:00:00,6033.38,5119.05,914.329,399.492,337.277,62.2155,6432.87
13,1978-06-01 00:00:00,6033.77,5104.09,929.675,405.973,344.166,61.8066,6439.74
14,1978-07-01 00:00:00,6030.51,5096.62,933.89,400.2,343.664,56.5353,6430.71
15,1978-08-01 00:00:00,6036.37,5098.23,938.142,419.01,348.926,70.0838,6455.38
16,1978-09-01 00:00:00,6029.74,5105.94,923.807,402.162,340.314,61.8484,6431.91
17,1978-10-01 00:00:00,6035.76,5107.73,928.028,396.486,336.694,59.7918,6432.25
18,1978-11-01 00:00:00,6028.23,5103.8,924.433,407.558,339.465,68.0933,6435.79
19,1978-12-01 00:00:00,6053.29,5112.82,940.467,414.344,350.459,63.8847,6467.63

In [9]:
# Drop unwanted data
employment_data.drop(employment_data.index[:9], inplace=True)
employment_data

,Date,Total Employed,Employed Fulltime,Employed Parttime,Total Unemployed,Unemployed Looked Fulltime,Unemployed looked Parttime,Labour Force Total
9,1978-02-01 00:00:00,5997.66,5079.56,918.094,426.936,354.781,72.1559,6424.59
10,1978-03-01 00:00:00,6003.22,5095.41,907.804,403.867,338.7,65.1666,6407.08
11,1978-04-01 00:00:00,6030.85,5119.62,911.227,403.3,338.657,64.6427,6434.15
12,1978-05-01 00:00:00,6033.38,5119.05,914.329,399.492,337.277,62.2155,6432.87
13,1978-06-01 00:00:00,6033.77,5104.09,929.675,405.973,344.166,61.8066,6439.74
...,...,...,...,...,...,...,...,...
522,2020-11-01 00:00:00,12842.4,8713.65,4128.75,939.589,671.119,268.47,13782
523,2020-12-01 00:00:00,12888.7,8747.17,4141.58,909.271,656.745,252.526,13798
524,2021-01-01 00:00:00,12918.2,8805.89,4112.33,875.056,616.481,258.576,13793.3
525,2021-02-01 00:00:00,13006.9,8895.04,4111.85,805.195,576.689,228.506,13812.1
526,2021-03-01 00:00:00,13077.6,8874.24,4203.36,778.091,544.101,233.99,13855.7

In [10]:
# Normalize DateTime format
employment_data['Date'] = pd.to_datetime(employment_data['Date']).dt.normalize()
employment_data

,Date,Total Employed,Employed Fulltime,Employed Parttime,Total Unemployed,Unemployed Looked Fulltime,Unemployed looked Parttime,Labour Force Total
9,1978-02-01,5997.66,5079.56,918.094,426.936,354.781,72.1559,6424.59
10,1978-03-01,6003.22,5095.41,907.804,403.867,338.7,65.1666,6407.08
11,1978-04-01,6030.85,5119.62,911.227,403.3,338.657,64.6427,6434.15
12,1978-05-01,6033.38,5119.05,914.329,399.492,337.277,62.2155,6432.87
13,1978-06-01,6033.77,5104.09,929.675,405.973,344.166,61.8066,6439.74
...,...,...,...,...,...,...,...,...
522,2020-11-01,12842.4,8713.65,4128.75,939.589,671.119,268.47,13782
523,2020-12-01,12888.7,8747.17,4141.58,909.271,656.745,252.526,13798
524,2021-01-01,12918.2,8805.89,4112.33,875.056,616.481,258.576,13793.3
525,2021-02-01,13006.9,8895.04,4111.85,805.195,576.689,228.506,13812.1
526,2021-03-01,13077.6,8874.24,4203.36,778.091,544.101,233.99,13855.7

In [11]:
# Select required date for study
covid_data = employment_data[employment_data['Date'] >= '2018-01-01']
covid_data

,Date,Total Employed,Employed Fulltime,Employed Parttime,Total Unemployed,Unemployed Looked Fulltime,Unemployed looked Parttime,Labour Force Total
488,2018-01-01,12485.1,8510.4,3974.67,726.796,499.946,226.85,13211.9
489,2018-02-01,12481.3,8539.04,3942.27,734.724,515.406,219.318,13216
490,2018-03-01,12492.9,8507.23,3985.65,727.813,519.542,208.271,13220.7
491,2018-04-01,12506.1,8545.98,3960.15,732.671,501.729,230.942,13238.8
492,2018-05-01,12506.2,8524.54,3981.71,714.787,496.172,218.616,13221
493,2018-06-01,12575.3,8564.47,4010.8,706.396,498.646,207.75,13281.7
494,2018-07-01,12571.4,8592.25,3979.15,700.184,494.538,205.646,13271.6
495,2018-08-01,12616.3,8633.72,3982.58,700.059,488.366,211.693,13316.4
496,2018-09-01,12626.8,8653.39,3973.44,666.743,451.171,215.572,13293.6
497,2018-10-01,12665.8,8697.9,3967.9,666.998,445.368,221.63,13332.8
498,2018-11-01,12695,8692.23,4002.72,682.041,469.348,212.692,13377
499,2018-12-01,12722.8,8685.5,4037.26,670.958,461.354,209.604,13393.7
500,2019-01-01,12750.8,8742.65,4008.1,676.911,463.157,213.754,13427.7
501,2019-02-01,12754.8,8741.44,4013.32,665.134,461.369,203.765,13419.9
502,2019-03-01,12784.3,8786,3998.28,684.1,474.795,209.305,13468.4
503,2019-04-01,12811.7,8780.16,4031.51,705.128,491.238,213.889,13516.8
504,2019-05-01,12852.1,8780.11,4071.99,708.485,496.774,211.711,13560.6
505,2019-06-01,12854.7,8799.15,4055.5,712.014,488.385,223.629,13566.7
506,2019-07-01,12881.8,8834.66,4047.11,713.123,515.493,197.63,13594.9
507,2019-08-01,12926.2,8821.83,4104.42,715.435,491.893,223.542,13641.7
508,2019-09-01,12936.2,8846.13,4090.1,709.483,488.795,220.688,13645.7
509,2019-10-01,12914.1,8835.85,4078.27,722.435,498.062,224.373,13636.6
510,2019-11-01,12946.9,8838.48,4108.39,701.449,489.495,211.954,13648.3
511,2019-12-01,12979.2,8840.2,4139.01,690.319,485.149,205.17,13669.5
512,2020-01-01,12990.1,8886.16,4103.94,721.706,504.787,216.919,13711.8
513,2020-02-01,13008.7,8889.49,4119.18,695.706,472.235,223.471,13704.4
514,2020-03-01,13003.3,8876.79,4126.52,715.975,505.648,210.327,13719.3
515,2020-04-01,12396.4,8639.9,3756.48,840.861,635.148,205.713,13237.2
516,2020-05-01,12130.5,8536.75,3593.72,921.556,693.125,228.431,13052
517,2020-06-01,12357.2,8511.18,3846.02,992.367,732.745,259.622,13349.6
518,2020-07-01,12469.9,8546.92,3922.99,1007.9,730.299,277.603,13477.8
519,2020-08-01,12628.5,8580.83,4047.66,922.075,689.64,232.435,13550.6
520,2020-09-01,12579.4,8535.49,4043.91,933.697,699.651,234.046,13513.1
521,2020-10-01,12756.2,8631.9,4124.3,957.24,682.889,274.35,13713.4
522,2020-11-01,12842.4,8713.65,4128.75,939.589,671.119,268.47,13782
523,2020-12-01,12888.7,8747.17,4141.58,909.271,656.745,252.526,13798
524,2021-01-01,12918.2,8805.89,4112.33,875.056,616.481,258.576,13793.3
525,2021-02-01,13006.9,8895.04,4111.85,805.195,576.689,228.506,13812.1
526,2021-03-01,13077.6,8874.24,4203.36,778.091,544.101,233.99,13855.7

In [12]:
# Format data to required visualization
covid_data.iloc[:,1]=(covid_data.iloc[:,1]*1000).apply(lambda x: '{:,.2f}'.format(x))
covid_data.iloc[:,2]=(covid_data.iloc[:,2]*1000).apply(lambda x: '{:,.2f}'.format(x))
covid_data.iloc[:,3]=(covid_data.iloc[:,3]*1000).apply(lambda x: '{:,.2f}'.format(x))
covid_data.iloc[:,4]=(covid_data.iloc[:,4]*1000).apply(lambda x: '{:,.2f}'.format(x))
covid_data.iloc[:,5]=(covid_data.iloc[:,5]*1000).apply(lambda x: '{:,.2f}'.format(x))
covid_data.iloc[:,6]=(covid_data.iloc[:,6]*1000).apply(lambda x: '{:,.2f}'.format(x))
covid_data.iloc[:,7]=(covid_data.iloc[:,7]*1000).apply(lambda x: '{:,.2f}'.format(x))
covid_data

,Date,Total Employed,Employed Fulltime,Employed Parttime,Total Unemployed,Unemployed Looked Fulltime,Unemployed looked Parttime,Labour Force Total
488,2018-01-01,"12,485,071.36","8,510,402.41","3,974,668.95","726,796.11","499,945.77","226,850.34","13,211,867.47"
489,2018-02-01,"12,481,307.55","8,539,038.51","3,942,269.04","734,723.93","515,406.05","219,317.88","13,216,031.47"
490,2018-03-01,"12,492,874.09","8,507,227.02","3,985,647.06","727,812.60","519,541.80","208,270.80","13,220,686.68"
491,2018-04-01,"12,506,133.65","8,545,981.06","3,960,152.59","732,670.84","501,729.10","230,941.74","13,238,804.49"
492,2018-05-01,"12,506,245.93","8,524,538.96","3,981,706.98","714,787.45","496,171.59","218,615.86","13,221,033.39"
493,2018-06-01,"12,575,265.94","8,564,470.20","4,010,795.74","706,395.80","498,645.62","207,750.18","13,281,661.74"
494,2018-07-01,"12,571,401.86","8,592,250.61","3,979,151.25","700,184.28","494,537.99","205,646.29","13,271,586.13"
495,2018-08-01,"12,616,296.62","8,633,720.13","3,982,576.49","700,058.81","488,366.10","211,692.71","13,316,355.43"
496,2018-09-01,"12,626,825.90","8,653,386.87","3,973,439.03","666,742.88","451,171.11","215,571.77","13,293,568.79"
497,2018-10-01,"12,665,795.29","8,697,897.71","3,967,897.58","666,998.00","445,368.13","221,629.87","13,332,793.30"
498,2018-11-01,"12,694,953.17","8,692,230.95","4,002,722.22","682,040.65","469,348.37","212,692.28","13,376,993.82"
499,2018-12-01,"12,722,761.51","8,685,500.86","4,037,260.65","670,958.40","461,354.33","209,604.06","13,393,719.91"
500,2019-01-01,"12,750,755.21","8,742,651.65","4,008,103.57","676,910.69","463,157.18","213,753.51","13,427,665.90"
501,2019-02-01,"12,754,768.03","8,741,444.41","4,013,323.63","665,134.12","461,369.29","203,764.83","13,419,902.15"
502,2019-03-01,"12,784,278.12","8,785,997.46","3,998,280.66","684,100.42","474,795.01","209,305.41","13,468,378.54"
503,2019-04-01,"12,811,668.64","8,780,157.39","4,031,511.26","705,127.60","491,238.36","213,889.24","13,516,796.24"
504,2019-05-01,"12,852,097.85","8,780,107.83","4,071,990.03","708,484.59","496,773.61","211,710.98","13,560,582.44"
505,2019-06-01,"12,854,653.66","8,799,154.92","4,055,498.74","712,013.77","488,384.67","223,629.10","13,566,667.44"
506,2019-07-01,"12,881,768.47","8,834,655.66","4,047,112.81","713,123.21","515,493.49","197,629.72","13,594,891.67"
507,2019-08-01,"12,926,248.25","8,821,830.38","4,104,417.88","715,434.56","491,892.98","223,541.58","13,641,682.81"
508,2019-09-01,"12,936,226.80","8,846,127.38","4,090,099.42","709,483.13","488,795.10","220,688.03","13,645,709.93"
509,2019-10-01,"12,914,124.11","8,835,850.73","4,078,273.38","722,435.08","498,061.82","224,373.26","13,636,559.19"
510,2019-11-01,"12,946,872.86","8,838,480.26","4,108,392.60","701,448.83","489,495.14","211,953.70","13,648,321.70"
511,2019-12-01,"12,979,210.92","8,840,200.36","4,139,010.57","690,319.05","485,148.69","205,170.36","13,669,529.98"
512,2020-01-01,"12,990,091.97","8,886,155.15","4,103,936.82","721,705.80","504,786.69","216,919.11","13,711,797.77"
513,2020-02-01,"13,008,669.85","8,889,490.64","4,119,179.21","695,706.00","472,234.74","223,471.26","13,704,375.85"
514,2020-03-01,"13,003,305.18","8,876,785.43","4,126,519.74","715,975.18","505,648.01","210,327.17","13,719,280.36"
515,2020-04-01,"12,396,385.96","8,639,902.03","3,756,483.94","840,860.79","635,147.95","205,712.85","13,237,246.76"
516,2020-05-01,"12,130,461.58","8,536,746.57","3,593,715.01","921,555.64","693,124.56","228,431.08","13,052,017.23"
517,2020-06-01,"12,357,199.09","8,511,177.49","3,846,021.60","992,367.46","732,744.97","259,622.49","13,349,566.56"
518,2020-07-01,"12,469,913.57","8,546,923.46","3,922,990.11","1,007,902.74","730,299.30","277,603.44","13,477,816.31"
519,2020-08-01,"12,628,490.27","8,580,830.58","4,047,659.69","922,075.07","689,640.00","232,435.07","13,550,565.34"
520,2020-09-01,"12,579,395.27","8,535,485.54","4,043,909.73","933,696.80","699,651.22","234,045.58","13,513,092.07"
521,2020-10-01,"12,756,193.55","8,631,896.51","4,124,297.04","957,239.64","682,889.44","274,350.20","13,713,433.19"
522,2020-11-01,"12,842,396.76","8,713,646.50","4,128,750.26","939,588.95","671,118.83","268,470.12","13,781,985.71"
523,2020-12-01,"12,888,745.53","8,747,165.45","4,141,580.08","909,270.63","656,745.06","252,525.57","13,798,016.16"
524,2021-01-01,"12,918,214.99","8,805,887.01","4,112,327.98","875,056.41","616,480.88","258,575.54","13,793,271.40"
525,2021-02-01,"13,006,886.10","8,895,035.75","4,111,850.35","805,195.01","576,689.00","228,506.01","13,812,081.11"
526,2021-03-01,"13,077,592.04","8,874,236.97","4,203,355.06","778,090.94","544,100.64","233,990.29","13,855,682.97"

In [13]:
# Get month from Date column and output it to new column name Month
covid_data['Month'] = pd.DatetimeIndex(covid_data['Date']).month
covid_data['Year'] = pd.DatetimeIndex(covid_data['Date']).year

# Reset index values
covid_data.reset_index(drop=True, inplace=True)
covid_data.head(5)

,Date,Total Employed,Employed Fulltime,Employed Parttime,Total Unemployed,Unemployed Looked Fulltime,Unemployed looked Parttime,Labour Force Total,Month,Year
0,2018-01-01,"12,485,071.36","8,510,402.41","3,974,668.95","726,796.11","499,945.77","226,850.34","13,211,867.47",1,2018
1,2018-02-01,"12,481,307.55","8,539,038.51","3,942,269.04","734,723.93","515,406.05","219,317.88","13,216,031.47",2,2018
2,2018-03-01,"12,492,874.09","8,507,227.02","3,985,647.06","727,812.60","519,541.80","208,270.80","13,220,686.68",3,2018
3,2018-04-01,"12,506,133.65","8,545,981.06","3,960,152.59","732,670.84","501,729.10","230,941.74","13,238,804.49",4,2018
4,2018-05-01,"12,506,245.93","8,524,538.96","3,981,706.98","714,787.45","496,171.59","218,615.86","13,221,033.39",5,2018

In [14]:
# create a list of quarters values
quarters = []
for index, row in covid_data.iterrows():
    month = covid_data.iloc[index]["Month"]
    # months 1-3 is Q1, 4-6 is Q2, 7-9 is Q3, 10-12 is Q4
    if month <= 3:
        quarter = 1
    elif month <= 6:
        quarter = 2
    elif month <= 9:
         quarter = 3
    else:
        quarter = 4
    quarters.append(quarter)

In [15]:
# # create a list of midyear
# midyear = []
# for index, row in covid_data.iterrows():
#     month = covid_data.iloc[index]["Monthly"]
#     # months 1-3 is Q1, 4-6 is Q2, 7-9 is Q3, 10-12 is Q4
#     if month <= 3:
#         halfyear = 1
#     else:
#         halfyear = 2
#     midyear.append(halfyear)

In [16]:
# Add new column for quarterly data
covid_data["Quarter"] = quarters

# # Add new column for midyear data
# covid_data["Semester"] = midyear

covid_data.head(10)

,Date,Total Employed,Employed Fulltime,Employed Parttime,Total Unemployed,Unemployed Looked Fulltime,Unemployed looked Parttime,Labour Force Total,Month,Year,Quarter
0,2018-01-01,"12,485,071.36","8,510,402.41","3,974,668.95","726,796.11","499,945.77","226,850.34","13,211,867.47",1,2018,1
1,2018-02-01,"12,481,307.55","8,539,038.51","3,942,269.04","734,723.93","515,406.05","219,317.88","13,216,031.47",2,2018,1
2,2018-03-01,"12,492,874.09","8,507,227.02","3,985,647.06","727,812.60","519,541.80","208,270.80","13,220,686.68",3,2018,1
3,2018-04-01,"12,506,133.65","8,545,981.06","3,960,152.59","732,670.84","501,729.10","230,941.74","13,238,804.49",4,2018,2
4,2018-05-01,"12,506,245.93","8,524,538.96","3,981,706.98","714,787.45","496,171.59","218,615.86","13,221,033.39",5,2018,2
5,2018-06-01,"12,575,265.94","8,564,470.20","4,010,795.74","706,395.80","498,645.62","207,750.18","13,281,661.74",6,2018,2
6,2018-07-01,"12,571,401.86","8,592,250.61","3,979,151.25","700,184.28","494,537.99","205,646.29","13,271,586.13",7,2018,3
7,2018-08-01,"12,616,296.62","8,633,720.13","3,982,576.49","700,058.81","488,366.10","211,692.71","13,316,355.43",8,2018,3
8,2018-09-01,"12,626,825.90","8,653,386.87","3,973,439.03","666,742.88","451,171.11","215,571.77","13,293,568.79",9,2018,3
9,2018-10-01,"12,665,795.29","8,697,897.71","3,967,897.58","666,998.00","445,368.13","221,629.87","13,332,793.30",10,2018,4

In [17]:
#Set index to date column 
clean_data = covid_data.set_index('Date')

In [18]:
# Output clean data
clean_data

,Total Employed,Employed Fulltime,Employed Parttime,Total Unemployed,Unemployed Looked Fulltime,Unemployed looked Parttime,Labour Force Total,Month,Year,Quarter
Date,,,,,,,,,,
2018-01-01,"12,485,071.36","8,510,402.41","3,974,668.95","726,796.11","499,945.77","226,850.34","13,211,867.47",1,2018,1
2018-02-01,"12,481,307.55","8,539,038.51","3,942,269.04","734,723.93","515,406.05","219,317.88","13,216,031.47",2,2018,1
2018-03-01,"12,492,874.09","8,507,227.02","3,985,647.06","727,812.60","519,541.80","208,270.80","13,220,686.68",3,2018,1
2018-04-01,"12,506,133.65","8,545,981.06","3,960,152.59","732,670.84","501,729.10","230,941.74","13,238,804.49",4,2018,2
2018-05-01,"12,506,245.93","8,524,538.96","3,981,706.98","714,787.45","496,171.59","218,615.86","13,221,033.39",5,2018,2
2018-06-01,"12,575,265.94","8,564,470.20","4,010,795.74","706,395.80","498,645.62","207,750.18","13,281,661.74",6,2018,2
2018-07-01,"12,571,401.86","8,592,250.61","3,979,151.25","700,184.28","494,537.99","205,646.29","13,271,586.13",7,2018,3
2018-08-01,"12,616,296.62","8,633,720.13","3,982,576.49","700,058.81","488,366.10","211,692.71","13,316,355.43",8,2018,3
2018-09-01,"12,626,825.90","8,653,386.87","3,973,439.03","666,742.88","451,171.11","215,571.77","13,293,568.79",9,2018,3
2018-10-01,"12,665,795.29","8,697,897.71","3,967,897.58","666,998.00","445,368.13","221,629.87","13,332,793.30",10,2018,4
2018-11-01,"12,694,953.17","8,692,230.95","4,002,722.22","682,040.65","469,348.37","212,692.28","13,376,993.82",11,2018,4
2018-12-01,"12,722,761.51","8,685,500.86","4,037,260.65","670,958.40","461,354.33","209,604.06","13,393,719.91",12,2018,4
2019-01-01,"12,750,755.21","8,742,651.65","4,008,103.57","676,910.69","463,157.18","213,753.51","13,427,665.90",1,2019,1
2019-02-01,"12,754,768.03","8,741,444.41","4,013,323.63","665,134.12","461,369.29","203,764.83","13,419,902.15",2,2019,1
2019-03-01,"12,784,278.12","8,785,997.46","3,998,280.66","684,100.42","474,795.01","209,305.41","13,468,378.54",3,2019,1
2019-04-01,"12,811,668.64","8,780,157.39","4,031,511.26","705,127.60","491,238.36","213,889.24","13,516,796.24",4,2019,2
2019-05-01,"12,852,097.85","8,780,107.83","4,071,990.03","708,484.59","496,773.61","211,710.98","13,560,582.44",5,2019,2
2019-06-01,"12,854,653.66","8,799,154.92","4,055,498.74","712,013.77","488,384.67","223,629.10","13,566,667.44",6,2019,2
2019-07-01,"12,881,768.47","8,834,655.66","4,047,112.81","713,123.21","515,493.49","197,629.72","13,594,891.67",7,2019,3
2019-08-01,"12,926,248.25","8,821,830.38","4,104,417.88","715,434.56","491,892.98","223,541.58","13,641,682.81",8,2019,3
2019-09-01,"12,936,226.80","8,846,127.38","4,090,099.42","709,483.13","488,795.10","220,688.03","13,645,709.93",9,2019,3
2019-10-01,"12,914,124.11","8,835,850.73","4,078,273.38","722,435.08","498,061.82","224,373.26","13,636,559.19",10,2019,4
2019-11-01,"12,946,872.86","8,838,480.26","4,108,392.60","701,448.83","489,495.14","211,953.70","13,648,321.70",11,2019,4
2019-12-01,"12,979,210.92","8,840,200.36","4,139,010.57","690,319.05","485,148.69","205,170.36","13,669,529.98",12,2019,4
2020-01-01,"12,990,091.97","8,886,155.15","4,103,936.82","721,705.80","504,786.69","216,919.11","13,711,797.77",1,2020,1
2020-02-01,"13,008,669.85","8,889,490.64","4,119,179.21","695,706.00","472,234.74","223,471.26","13,704,375.85",2,2020,1
2020-03-01,"13,003,305.18","8,876,785.43","4,126,519.74","715,975.18","505,648.01","210,327.17","13,719,280.36",3,2020,1
2020-04-01,"12,396,385.96","8,639,902.03","3,756,483.94","840,860.79","635,147.95","205,712.85","13,237,246.76",4,2020,2
2020-05-01,"12,130,461.58","8,536,746.57","3,593,715.01","921,555.64","693,124.56","228,431.08","13,052,017.23",5,2020,2
2020-06-01,"12,357,199.09","8,511,177.49","3,846,021.60","992,367.46","732,744.97","259,622.49","13,349,566.56",6,2020,2
2020-07-01,"12,469,913.57","8,546,923.46","3,922,990.11","1,007,902.74","730,299.30","277,603.44","13,477,816.31",7,2020,3
2020-08-01,"12,628,490.27","8,580,830.58","4,047,659.69","922,075.07","689,640.00","232,435.07","13,550,565.34",8,2020,3
2020-09-01,"12,579,395.27","8,535,485.54","4,043,909.73","933,696.80","699,651.22","234,045.58","13,513,092.07",9,2020,3
2020-10-01,"12,756,193.55","8,631,896.51","4,124,297.04","957,239.64","682,889.44","274,350.20","13,713,433.19",10,2020,4
2020-11-01,"12,842,396.76","8,713,646.50","4,128,750.26","939,588.95","671,118.83","268,470.12","13,781,985.71",11,2020,4
2020-12-01,"12,888,745.53","8,747,165.45","4,141,580.08","909,270.63","656,745.06","252,525.57","13,798,016.16",12,2020,4
2021-01-01,"12,918,214.99","8,805,887.01","4,112,327.98","875,056.41","616,480.88","258,575.54","13,793,271.40",1,2021,1
2021-02-01,"13,006,886.10","8,895,035.75","4,111,850.35","805,195.01","576,689.00","228,506.01","13,812,081.11",2,2021,1
2021-03-01,"13,077,592.04","8,874,236.97","4,203,355.06","778,090.94","544,100.64","233,990.29","13,855,682.97",3,2021,1

In [19]:
# Export data to csv
clean_data.to_csv('Ray Data/employment_study.csv')