In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np
pd.options.mode.chained_assignment = None  

# File to Load (Remember to Change These)
data = "Ray Data/final data.xls"

# Read source data and store into Pandas data frame
xls_data = pd.read_excel(data)
xls_data

,Unnamed: 0,Employed total ; Persons ;,Employed total ; Persons ;.1,Employed total ; Persons ;.2,Employed total ; > Males ;,Employed total ; > Males ;.1,Employed total ; > Males ;.2,Employed total ; > Females ;,Employed total ; > Females ;.1,Employed total ; > Females ;.2,...,Participation rate ; > Males ;.2,Participation rate ; > Females ;,Participation rate ; > Females ;.1,Participation rate ; > Females ;.2,Not in the labour force (NILF) ; Persons ;,Not in the labour force (NILF) ; > Males ;,Not in the labour force (NILF) ; > Females ;,Civilian population aged 15 years and over ; Persons ;,Civilian population aged 15 years and over ; > Males ;,Civilian population aged 15 years and over ; > Females ;
0,Unit,000,000,000,000,000,000,000,000,000,...,Percent,Percent,Percent,Percent,000,000,000,000,000,000
1,Series Type,Trend,Seasonally Adjusted,Original,Trend,Seasonally Adjusted,Original,Trend,Seasonally Adjusted,Original,...,Original,Trend,Seasonally Adjusted,Original,Original,Original,Original,Original,Original,Original
2,Data Type,STOCK,STOCK,STOCK,STOCK,STOCK,STOCK,STOCK,STOCK,STOCK,...,PERCENT,PERCENT,PERCENT,PERCENT,STOCK,STOCK,STOCK,STOCK,STOCK,STOCK
3,Frequency,Month,Month,Month,Month,Month,Month,Month,Month,Month,...,Month,Month,Month,Month,Month,Month,Month,Month,Month,Month
4,Collection Month,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
522,2020-11-01 00:00:00,NaN,12842.4,12890.7,NaN,6789.03,6802.44,NaN,6053.36,6088.22,...,70.8538,NaN,61.3223,61.2794,7099.06,2983.2,4115.85,20864.9,10235.3,10629.6
523,2020-12-01 00:00:00,NaN,12888.7,13006.2,NaN,6791.2,6835.56,NaN,6097.55,6170.61,...,71.4232,NaN,61.3407,61.7617,6991.59,2925.69,4065.9,20871,10238,10633
524,2021-01-01 00:00:00,NaN,12918.2,12749.5,NaN,6818.08,6745.39,NaN,6100.13,6004.07,...,70.7736,NaN,61.1372,60.5107,7195.12,2993.83,4201.28,20882.6,10243.6,10639
525,2021-02-01 00:00:00,NaN,13006.9,13053.9,NaN,6832.64,6862.51,NaN,6174.25,6191.41,...,71.5597,NaN,61.4074,61.9453,6965.84,2914.89,4050.94,20894.2,10249.2,10645
526,2021-03-01 00:00:00,NaN,13077.6,13082.7,NaN,6847.96,6858.8,NaN,6229.64,6223.93,...,71.2614,NaN,61.7774,62.0386,6990.36,2947.08,4043.28,20905.8,10254.8,10651

In [2]:
# Transpose dataframe
trans_to = xls_data.T
trans_to

,0,1,2,3,4,5,6,7,8,9,...,517,518,519,520,521,522,523,524,525,526
Unnamed: 0,Unit,Series Type,Data Type,Frequency,Collection Month,Series Start,Series End,No. Obs,Series ID,1978-02-01 00:00:00,...,2020-06-01 00:00:00,2020-07-01 00:00:00,2020-08-01 00:00:00,2020-09-01 00:00:00,2020-10-01 00:00:00,2020-11-01 00:00:00,2020-12-01 00:00:00,2021-01-01 00:00:00,2021-02-01 00:00:00,2021-03-01 00:00:00
Employed total ; Persons ;,000,Trend,STOCK,Month,1,1978-02-01 00:00:00,2021-03-01 00:00:00,518,A84423127L,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Employed total ; Persons ;.1,000,Seasonally Adjusted,STOCK,Month,1,1978-02-01 00:00:00,2021-03-01 00:00:00,518,A84423043C,5997.66,...,12357.2,12469.9,12628.5,12579.4,12756.2,12842.4,12888.7,12918.2,13006.9,13077.6
Employed total ; Persons ;.2,000,Original,STOCK,Month,1,1978-02-01 00:00:00,2021-03-01 00:00:00,518,A84423085A,5985.66,...,12391.8,12474,12566.5,12572,12742.4,12890.7,13006.2,12749.5,13053.9,13082.7
Employed total ; > Males ;,000,Trend,STOCK,Month,1,1978-02-01 00:00:00,2021-03-01 00:00:00,518,A84423113X,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Not in the labour force (NILF) ; > Males ;,000,Original,STOCK,Month,1,1978-02-01 00:00:00,2021-03-01 00:00:00,518,A84423076X,1029.79,...,3162.94,3105.57,3111.9,3108.9,3023.32,2983.2,2925.69,2993.83,2914.89,2947.08
Not in the labour force (NILF) ; > Females ;,000,Original,STOCK,Month,1,1978-02-01 00:00:00,2021-03-01 00:00:00,518,A84423104W,2991.06,...,4332.1,4278.83,4252.65,4262.35,4185.56,4115.85,4065.9,4201.28,4050.94,4043.28
Civilian population aged 15 years and over ; Persons ;,000,Original,STOCK,Month,1,1978-02-01 00:00:00,2021-03-01 00:00:00,518,A84423091W,10489.3,...,20853.3,20853.1,20852.9,20852.7,20858.8,20864.9,20871,20882.6,20894.2,20905.8
Civilian population aged 15 years and over ; > Males ;,000,Original,STOCK,Month,1,1978-02-01 00:00:00,2021-03-01 00:00:00,518,A84423077A,5173.6,...,10231,10230.6,10230.3,10229.9,10232.6,10235.3,10238,10243.6,10249.2,10254.8
Civilian population aged 15 years and over ; > Females ;,000,Original,STOCK,Month,1,1978-02-01 00:00:00,2021-03-01 00:00:00,518,A84423105X,5315.73,...,10622.4,10622.5,10622.6,10622.8,10626.2,10629.6,10633,10639,10645,10651

In [3]:
# Filter dataframe to ouput required data
data_filter = ['Series Type', 'Original']
filter_data = trans_to[trans_to[1].isin(data_filter)]

In [4]:
filter_data.head(100)

,0,1,2,3,4,5,6,7,8,9,...,517,518,519,520,521,522,523,524,525,526
Unnamed: 0,Unit,Series Type,Data Type,Frequency,Collection Month,Series Start,Series End,No. Obs,Series ID,1978-02-01 00:00:00,...,2020-06-01 00:00:00,2020-07-01 00:00:00,2020-08-01 00:00:00,2020-09-01 00:00:00,2020-10-01 00:00:00,2020-11-01 00:00:00,2020-12-01 00:00:00,2021-01-01 00:00:00,2021-02-01 00:00:00,2021-03-01 00:00:00
Employed total ; Persons ;.2,000,Original,STOCK,Month,1,1978-02-01 00:00:00,2021-03-01 00:00:00,518,A84423085A,5985.66,...,12391.8,12474,12566.5,12572,12742.4,12890.7,13006.2,12749.5,13053.9,13082.7
Employed total ; > Males ;.2,000,Original,STOCK,Month,1,1978-02-01 00:00:00,2021-03-01 00:00:00,518,A84423071L,3887.39,...,6554.48,6593.79,6614.45,6614.55,6728.1,6802.44,6835.56,6745.39,6862.51,6858.8
Employed total ; > Females ;.2,000,Original,STOCK,Month,1,1978-02-01 00:00:00,2021-03-01 00:00:00,518,A84423099R,2098.27,...,5837.28,5880.24,5952.02,5957.45,6014.32,6088.22,6170.61,6004.07,6191.41,6223.93
> Employed full-time ; Persons ;.2,000,Original,STOCK,Month,1,1978-02-01 00:00:00,2021-03-01 00:00:00,518,A84423083W,5099.92,...,8498.51,8566.44,8512.72,8499.88,8598.66,8748.6,8892.98,8770.82,8985.77,8846.22
> Employed full-time ; > Males ;.2,000,Original,STOCK,Month,1,1978-02-01 00:00:00,2021-03-01 00:00:00,518,A84423069A,3698.61,...,5318.71,5337.25,5319.87,5295.84,5399.8,5470.5,5516.48,5448.43,5547.47,5483.33
> Employed full-time ; > Females ;.2,000,Original,STOCK,Month,1,1978-02-01 00:00:00,2021-03-01 00:00:00,518,A84423097K,1401.31,...,3179.8,3229.19,3192.84,3204.05,3198.86,3278.1,3376.49,3322.39,3438.3,3362.89
> Employed part-time ; Persons ;.2,000,Original,STOCK,Month,1,1978-02-01 00:00:00,2021-03-01 00:00:00,518,A84423084X,885.739,...,3893.25,3907.58,4053.75,4072.12,4143.76,4142.07,4113.19,3978.64,4068.15,4236.51
> Employed part-time ; > Males ;.2,000,Original,STOCK,Month,1,1978-02-01 00:00:00,2021-03-01 00:00:00,518,A84423070K,188.78,...,1235.77,1256.53,1294.57,1318.71,1328.3,1331.94,1319.08,1296.96,1315.04,1375.47
> Employed part-time ; > Females ;.2,000,Original,STOCK,Month,1,1978-02-01 00:00:00,2021-03-01 00:00:00,518,A84423098L,696.959,...,2657.49,2651.05,2759.17,2753.41,2815.46,2810.13,2794.11,2681.67,2753.11,2861.04
Employment to population ratio ; Persons ;.2,Percent,Original,PERCENT,Month,1,1978-02-01 00:00:00,2021-03-01 00:00:00,518,A84423096J,57.0643,...,59.4234,59.8186,60.2624,60.2896,61.089,61.7816,62.3169,61.053,62.4762,62.5794
Employment to population ratio ; > Males ;.2,Percent,Original,PERCENT,Month,1,1978-02-01 00:00:00,2021-03-01 00:00:00,518,A84423082V,75.1389,...,64.065,64.4514,64.6556,64.6588,65.7515,66.4606,66.7667,65.8499,66.9566,66.8838
Employment to population ratio ; > Females ;.2,Percent,Original,PERCENT,Month,1,1978-02-01 00:00:00,2021-03-01 00:00:00,518,A84423110T,39.4729,...,54.9528,55.3566,56.0315,56.082,56.5991,57.2761,58.0324,56.4343,58.1623,58.435
Unemployed total ; Persons ;.2,000,Original,STOCK,Month,1,1978-02-01 00:00:00,2021-03-01 00:00:00,518,A84423088J,482.817,...,966.531,994.68,921.887,909.432,907.488,875.186,873.269,938.049,874.476,832.737
Unemployed total ; > Males ;.2,000,Original,STOCK,Month,1,1978-02-01 00:00:00,2021-03-01 00:00:00,518,A84423074V,256.422,...,513.559,531.273,503.924,506.473,481.189,449.65,476.73,504.364,471.78,448.915
Unemployed total ; > Females ;.2,000,Original,STOCK,Month,1,1978-02-01 00:00:00,2021-03-01 00:00:00,518,A84423102T,226.394,...,452.972,463.407,417.964,402.959,426.299,425.536,396.539,433.685,402.696,383.822
> Unemployed looked for full-time work ; Persons ;.2,000,Original,STOCK,Month,1,1978-02-01 00:00:00,2021-03-01 00:00:00,518,A84423086C,401.026,...,721.216,731.496,688.466,676.569,641.91,634.783,635.752,672.841,619.591,573.699
> Unemployed looked for full-time work ; > Males ;.2,000,Original,STOCK,Month,1,1978-02-01 00:00:00,2021-03-01 00:00:00,518,A84423072R,237.055,...,406.138,420.672,415.918,416.638,382.09,368.822,376.692,385.862,365.101,335.767
> Unemployed looked for full-time work ; > Females ;.2,000,Original,STOCK,Month,1,1978-02-01 00:00:00,2021-03-01 00:00:00,518,A84423100L,163.97,...,315.078,310.823,272.548,259.931,259.82,265.961,259.06,286.978,254.49,237.932
> Unemployed looked for only part-time work ; Persons ;.2,000,Original,STOCK,Month,1,1978-02-01 00:00:00,2021-03-01 00:00:00,518,A84423087F,81.7912,...,245.315,263.184,233.421,232.863,265.579,240.403,237.517,265.208,254.885,259.038
> Unemployed looked for only part-time work ; > Males ;.2,000,Original,STOCK,Month,1,1978-02-01 00:00:00,2021-03-01 00:00:00,518,A84423073T,19.367,...,107.421,110.6,88.0055,89.835,99.0996,80.8282,100.038,118.502,106.678,113.148
> Unemployed looked for only part-time work ; > Females ;.2,000,Original,STOCK,Month,1,1978-02-01 00:00:00,2021-03-01 00:00:00,518,A84423101R,62.4242,...,137.894,152.584,145.416,143.028,166.479,159.575,137.479,146.706,148.206,145.89
Unemployment rate ; Persons ;.2,Percent,Original,PERCENT,Month,1,1978-02-01 00:00:00,2021-03-01 00:00:00,518,A84423092X,7.46415,...,7.23544,7.38512,6.83469,6.74581,6.64831,6.35766,6.29182,6.85332,6.27837,5.98425
Unemployment rate ; > Males ;.2,Percent,Original,PERCENT,Month,1,1978-02-01 00:00:00,2021-03-01 00:00:00,518,A84423078C,6.18808,...,7.26593,7.45639,7.0792,7.11236,6.67458,6.20028,6.51957,6.95698,6.43252,6.14303
Unemployment rate ; > Females ;.2,Percent,Original,PERCENT,Month,1,1978-02-01 00:00:00,2021-03-01 00:00:00,518,A84423106A,9.73879,...,7.20117,7.30506,6.56146,6.33542,6.61891,6.53287,6.03823,6.73658,6.10691,5.80866
> Unemployment rate looked for full-time work ; Persons ;.2,Percent,Original,PERCENT,Month,1,1978-02-01 00:00:00,2021-03-01 00:00:00,518,A84423094C,7.29012,...,7.82253,7.86729,7.48237,7.37288,6.94665,6.76497,6.67195,7.12478,6.45047,6.09028
> Unemployment rate looked for full-time work ; > Males ;.2,Percent,Original,PERCENT,Month,1,1978-02-01 00:00:00,2021-03-01 00:00:00,518,A84423080R,6.02327,...,7.0943,7.30597,7.25128,7.29348,6.60839,6.31618,6.392,6.6137,6.175,5.77009
> Unemployment rate looked for full-time work ; > Females ;.2,Percent,Original,PERCENT,Month,1,1978-02-01 00:00:00,2021-03-01 00:00:00,518,A84423108F,10.4754,...,9.01543,8.78029,7.86486,7.50383,7.51211,7.50442,7.12574,7.95091,6.89153,6.60772
> Unemployment rate looked for only part-time work ; Persons ;.2,Percent,Original,PERCENT,Month,1,1978-02-01 00:00:00,2021-03-01 00:00:00,518,A84423095F,8.45361,...,5.92754,6.31021,5.44464,5.40915,6.02309,5.48556,5.45927,6.24924,5.89598,5.7621
> Unemployment rate looked for only part-time work ; > Males ;.2,Percent,Original,PERCENT,Month,1,1978-02-01 00:00:00,2021-03-01 00:00:00,518,A84423081T,9.30446,...,7.99747,8.08993,6.36531,6.37785,6.94266,5.72125,7.0493,8.37192,7.5035,7.60088
> Unemployment rate looked for only part-time work ; > Females ;.2,Percent,Original,PERCENT,Month,1,1978-02-01 00:00:00,2021-03-01 00:00:00,518,A84423109J,8.22039,...,4.93293,5.44236,5.00641,4.93806,5.58291,5.37343,4.68958,5.18694,5.10825,4.85179
Labour force total ; Persons ;.2,000,Original,STOCK,Month,1,1978-02-01 00:00:00,2021-03-01 00:00:00,518,A84423089K,6468.48,...,13358.3,13468.7,13488.3,13481.4,13649.9,13765.9,13879.4,13687.5,13928.4,13915.5
Labour force total ; > Males ;.2,000,Original,STOCK,Month,1,1978-02-01 00:00:00,2021-03-01 00:00:00,518,A84423075W,4143.81,...,7068.03,7125.06,7118.37,7121.02,7209.29,7252.09,7312.29,7249.75,7334.29,7307.71
Labour force total ; > Females ;.2,000,Original,STOCK,Month,1,1978-02-01 00:00:00,2021-03-01 00:00:00,518,A84423103V,2324.67,...,6290.25,6343.65,6369.98,6360.41,6440.62,6513.76,6567.15,6437.75,6594.1,6607.75
Participation rate ; Persons ;.2,Percent,Original,PERCENT,Month,1,1978-02-01 00:00:00,2021-03-01 00:00:00,518,A84423093A,61.6672,...,64.0583,64.5885,64.6833,64.6508,65.4396,65.9761,66.501,65.545,66.6614,66.5626
Participation rate ; > Males ;.2,Percent,Original,PERCENT,Month,1,1978-02-01 00:00:00,2021-03-01 00:00:00,518,A84423079F,80.0953,...,69.0847,69.6444,69.5815,69.6097,70.454,70.8538,71.4232,70.7736,71.5597,71.2614
Participation rate ; > Females ;.2,Percent,Original,PERCENT,Month,1,1978-02-01 00:00:00,2021-03-01 00:00:00,518,A84423107C,43.7318,...,59.2171,59.7191,59.9661,59.8753,60.6109,61.2794,61.7617,60.5107,61.9453,62.0386
Not in the labour force (NILF) ; Persons ;,000,Original,STOCK,Month,1,1978-02-01 00:00:00,2021-03-01 00:00:00,518,A84423090V,4020.85,...,7495.03,7384.4,7364.55,7371.25,7208.89,7099.06,6991.59,7195.12,6965.84,6990.36
Not in the labour force (NILF) ; > Males ;,000,Original,STOCK,Month,1,1978-02-01 00:00:00,2021-03-01 00:00:00,518,A84423076X,1029.79,...,3162.94,3105.57,3111.9,3108.9,3023.32,2983.2,2925.69,2993.83,2914.89,2947.08
Not in the labour force (NILF) ; > Females ;,000,Original,STOCK,Month,1,1978-02-01 00:00:00,2021-03-01 00:00:00,518,A84423104W,2991.06,...,4332.1,4278.83,4252.65,4262.35,4185.56,4115.85,4065.9,4201.28,4050.94,4043.28
Civilian population aged 15 years and over ; Persons ;,000,Original,STOCK,Month,1,1978-02-01 00:00:00,2021-03-01 00:00:00,518,A84423091W,10489.3,...,20853.3,20853.1,20852.9,20852.7,20858.8,20864.9,20871,20882.6,20894.2,20905.8
Civilian population aged 15 years and over ; > Males ;,000,Original,STOCK,Month,1,1978-02-01 00:00:00,2021-03-01 00:00:00,518,A84423077A,5173.6,...,10231,10230.6,10230.3,10229.9,10232.6,10235.3,10238,10243.6,10249.2,10254.8
Civilian population aged 15 years and over ; > Females ;,000,Original,STOCK,Month,1,1978-02-01 00:00:00,2021-03-01 00:00:00,518,A84423105X,5315.73,...,10622.4,10622.5,10622.6,10622.8,10626.2,10629.6,10633,10639,10645,10651

In [5]:
# Revert transpose to original 
original_data = filter_data.T
original_data.head(20)

,Unnamed: 0,Employed total ; Persons ;.2,Employed total ; > Males ;.2,Employed total ; > Females ;.2,> Employed full-time ; Persons ;.2,> Employed full-time ; > Males ;.2,> Employed full-time ; > Females ;.2,> Employed part-time ; Persons ;.2,> Employed part-time ; > Males ;.2,> Employed part-time ; > Females ;.2,...,Labour force total ; > Females ;.2,Participation rate ; Persons ;.2,Participation rate ; > Males ;.2,Participation rate ; > Females ;.2,Not in the labour force (NILF) ; Persons ;,Not in the labour force (NILF) ; > Males ;,Not in the labour force (NILF) ; > Females ;,Civilian population aged 15 years and over ; Persons ;,Civilian population aged 15 years and over ; > Males ;,Civilian population aged 15 years and over ; > Females ;
0,Unit,000,000,000,000,000,000,000,000,000,...,000,Percent,Percent,Percent,000,000,000,000,000,000
1,Series Type,Original,Original,Original,Original,Original,Original,Original,Original,Original,...,Original,Original,Original,Original,Original,Original,Original,Original,Original,Original
2,Data Type,STOCK,STOCK,STOCK,STOCK,STOCK,STOCK,STOCK,STOCK,STOCK,...,STOCK,PERCENT,PERCENT,PERCENT,STOCK,STOCK,STOCK,STOCK,STOCK,STOCK
3,Frequency,Month,Month,Month,Month,Month,Month,Month,Month,Month,...,Month,Month,Month,Month,Month,Month,Month,Month,Month,Month
4,Collection Month,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
5,Series Start,1978-02-01 00:00:00,1978-02-01 00:00:00,1978-02-01 00:00:00,1978-02-01 00:00:00,1978-02-01 00:00:00,1978-02-01 00:00:00,1978-02-01 00:00:00,1978-02-01 00:00:00,1978-02-01 00:00:00,...,1978-02-01 00:00:00,1978-02-01 00:00:00,1978-02-01 00:00:00,1978-02-01 00:00:00,1978-02-01 00:00:00,1978-02-01 00:00:00,1978-02-01 00:00:00,1978-02-01 00:00:00,1978-02-01 00:00:00,1978-02-01 00:00:00
6,Series End,2021-03-01 00:00:00,2021-03-01 00:00:00,2021-03-01 00:00:00,2021-03-01 00:00:00,2021-03-01 00:00:00,2021-03-01 00:00:00,2021-03-01 00:00:00,2021-03-01 00:00:00,2021-03-01 00:00:00,...,2021-03-01 00:00:00,2021-03-01 00:00:00,2021-03-01 00:00:00,2021-03-01 00:00:00,2021-03-01 00:00:00,2021-03-01 00:00:00,2021-03-01 00:00:00,2021-03-01 00:00:00,2021-03-01 00:00:00,2021-03-01 00:00:00
7,No. Obs,518,518,518,518,518,518,518,518,518,...,518,518,518,518,518,518,518,518,518,518
8,Series ID,A84423085A,A84423071L,A84423099R,A84423083W,A84423069A,A84423097K,A84423084X,A84423070K,A84423098L,...,A84423103V,A84423093A,A84423079F,A84423107C,A84423090V,A84423076X,A84423104W,A84423091W,A84423077A,A84423105X
9,1978-02-01 00:00:00,5985.66,3887.39,2098.27,5099.92,3698.61,1401.31,885.739,188.78,696.959,...,2324.67,61.6672,80.0953,43.7318,4020.85,1029.79,2991.06,10489.3,5173.6,5315.73
10,1978-03-01 00:00:00,6040.56,3900.65,2139.91,5118.05,3705.32,1412.74,922.509,195.332,727.177,...,2344.95,61.5247,79.5018,44.0301,4043.23,1062.39,2980.84,10508.6,5182.85,5325.79
11,1978-04-01 00:00:00,6054.21,3899.12,2155.09,5128.31,3703.7,1424.61,925.902,195.421,730.481,...,2346.56,61.3917,79.2489,44.0158,4061.08,1076.46,2984.61,10518.7,5187.49,5331.17
12,1978-05-01 00:00:00,6038.26,3888.6,2149.66,5117.48,3692.24,1425.24,920.784,196.36,724.424,...,2337.41,61.1231,78.935,43.7926,4094,1093.95,3000.05,10530.7,5193.21,5337.46
13,1978-06-01 00:00:00,6031.34,3883.55,2147.79,5092.58,3677.74,1414.84,938.767,205.81,732.957,...,2324.54,60.9372,78.8807,43.4877,4118.54,1097.8,3020.74,10543.4,5198.09,5345.28
14,1978-07-01 00:00:00,6036.08,3869.9,2166.18,5092.76,3668.96,1423.8,943.321,200.939,742.382,...,2334.35,60.7902,78.4464,43.6208,4138.74,1121.63,3017.11,10555.4,5203.9,5351.46
15,1978-08-01 00:00:00,6005.36,3850.92,2154.44,5045.34,3642.45,1402.89,960.026,208.472,751.554,...,2330.53,60.5806,78.1668,43.4828,4166.81,1137.69,3029.13,10570.5,5210.81,5359.65
16,1978-09-01 00:00:00,6024.31,3860.37,2163.94,5097.03,3660.25,1436.78,927.281,200.119,727.162,...,2331.97,60.562,78.1723,43.4414,4175.26,1139.15,3036.11,10586.9,5218.82,5368.08
17,1978-10-01 00:00:00,6045.86,3874.22,2171.63,5097.4,3668.36,1429.03,948.46,205.859,742.601,...,2332.84,60.5402,78.165,43.4079,4182.06,1140.67,3041.39,10598.3,5224.06,5374.23
18,1978-11-01 00:00:00,6033.8,3863.48,2170.32,5079.21,3662.4,1416.8,954.592,201.073,753.519,...,2335.56,60.3658,77.8341,43.3913,4206.35,1159.36,3046.99,10612.9,5230.39,5382.54
19,1978-12-01 00:00:00,6125.36,3936.02,2189.34,5178.99,3731.59,1447.41,946.366,204.436,741.93,...,2391.03,61.8116,79.784,44.3505,4059.06,1058.88,3000.19,10629,5237.82,5391.22

In [6]:
# Remove special characters from column name
original_data.columns=original_data.columns.str.replace('[:,-,>,;,., ]','')

In [7]:
# Choose columns for final data
employment_data = original_data.iloc[:,[0,1,4,7,13,16,19,31]]
employment_data

,Unnamed0,EmployedtotalPersons2,Employedfull-timePersons2,Employedpart-timePersons2,UnemployedtotalPersons2,Unemployedlookedforfull-timeworkPersons2,Unemployedlookedforonlypart-timeworkPersons2,LabourforcetotalPersons2
0,Unit,000,000,000,000,000,000,000
1,Series Type,Original,Original,Original,Original,Original,Original,Original
2,Data Type,STOCK,STOCK,STOCK,STOCK,STOCK,STOCK,STOCK
3,Frequency,Month,Month,Month,Month,Month,Month,Month
4,Collection Month,1,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...
522,2020-11-01 00:00:00,12890.7,8748.6,4142.07,875.186,634.783,240.403,13765.9
523,2020-12-01 00:00:00,13006.2,8892.98,4113.19,873.269,635.752,237.517,13879.4
524,2021-01-01 00:00:00,12749.5,8770.82,3978.64,938.049,672.841,265.208,13687.5
525,2021-02-01 00:00:00,13053.9,8985.77,4068.15,874.476,619.591,254.885,13928.4
526,2021-03-01 00:00:00,13082.7,8846.22,4236.51,832.737,573.699,259.038,13915.5

In [8]:
# Rename columns for more informative reference 
employment_data_cols = ['Date','Total Employed','Employed Fulltime','Employed Parttime','Total Unemployed','Unemployed Looked Fulltime','Unemployed looked Parttime','Labour Force Total']
employment_data.columns = employment_data_cols
employment_data.head(20)

,Date,Total Employed,Employed Fulltime,Employed Parttime,Total Unemployed,Unemployed Looked Fulltime,Unemployed looked Parttime,Labour Force Total
0,Unit,000,000,000,000,000,000,000
1,Series Type,Original,Original,Original,Original,Original,Original,Original
2,Data Type,STOCK,STOCK,STOCK,STOCK,STOCK,STOCK,STOCK
3,Frequency,Month,Month,Month,Month,Month,Month,Month
4,Collection Month,1,1,1,1,1,1,1
5,Series Start,1978-02-01 00:00:00,1978-02-01 00:00:00,1978-02-01 00:00:00,1978-02-01 00:00:00,1978-02-01 00:00:00,1978-02-01 00:00:00,1978-02-01 00:00:00
6,Series End,2021-03-01 00:00:00,2021-03-01 00:00:00,2021-03-01 00:00:00,2021-03-01 00:00:00,2021-03-01 00:00:00,2021-03-01 00:00:00,2021-03-01 00:00:00
7,No. Obs,518,518,518,518,518,518,518
8,Series ID,A84423085A,A84423083W,A84423084X,A84423088J,A84423086C,A84423087F,A84423089K
9,1978-02-01 00:00:00,5985.66,5099.92,885.739,482.817,401.026,81.7912,6468.48
10,1978-03-01 00:00:00,6040.56,5118.05,922.509,424.85,349.838,75.012,6465.41
11,1978-04-01 00:00:00,6054.21,5128.31,925.902,403.377,334.84,68.5363,6457.59
12,1978-05-01 00:00:00,6038.26,5117.48,920.784,398.408,334.161,64.2472,6436.67
13,1978-06-01 00:00:00,6031.34,5092.58,938.767,393.49,331.152,62.3382,6424.83
14,1978-07-01 00:00:00,6036.08,5092.76,943.321,380.532,327.145,53.3868,6416.62
15,1978-08-01 00:00:00,6005.36,5045.34,960.026,398.29,334.358,63.9323,6403.65
16,1978-09-01 00:00:00,6024.31,5097.03,927.281,387.327,326.898,60.4292,6411.64
17,1978-10-01 00:00:00,6045.86,5097.4,948.46,370.372,307.963,62.4086,6416.23
18,1978-11-01 00:00:00,6033.8,5079.21,954.592,372.782,311.303,61.4796,6406.58
19,1978-12-01 00:00:00,6125.36,5178.99,946.366,444.614,376.366,68.2486,6569.97

In [9]:
# Drop unwanted data
employment_data.drop(employment_data.index[:9], inplace=True)
employment_data

,Date,Total Employed,Employed Fulltime,Employed Parttime,Total Unemployed,Unemployed Looked Fulltime,Unemployed looked Parttime,Labour Force Total
9,1978-02-01 00:00:00,5985.66,5099.92,885.739,482.817,401.026,81.7912,6468.48
10,1978-03-01 00:00:00,6040.56,5118.05,922.509,424.85,349.838,75.012,6465.41
11,1978-04-01 00:00:00,6054.21,5128.31,925.902,403.377,334.84,68.5363,6457.59
12,1978-05-01 00:00:00,6038.26,5117.48,920.784,398.408,334.161,64.2472,6436.67
13,1978-06-01 00:00:00,6031.34,5092.58,938.767,393.49,331.152,62.3382,6424.83
...,...,...,...,...,...,...,...,...
522,2020-11-01 00:00:00,12890.7,8748.6,4142.07,875.186,634.783,240.403,13765.9
523,2020-12-01 00:00:00,13006.2,8892.98,4113.19,873.269,635.752,237.517,13879.4
524,2021-01-01 00:00:00,12749.5,8770.82,3978.64,938.049,672.841,265.208,13687.5
525,2021-02-01 00:00:00,13053.9,8985.77,4068.15,874.476,619.591,254.885,13928.4
526,2021-03-01 00:00:00,13082.7,8846.22,4236.51,832.737,573.699,259.038,13915.5

In [10]:
# Normalize DateTime format
employment_data['Date'] = pd.to_datetime(employment_data['Date']).dt.normalize()
employment_data

,Date,Total Employed,Employed Fulltime,Employed Parttime,Total Unemployed,Unemployed Looked Fulltime,Unemployed looked Parttime,Labour Force Total
9,1978-02-01,5985.66,5099.92,885.739,482.817,401.026,81.7912,6468.48
10,1978-03-01,6040.56,5118.05,922.509,424.85,349.838,75.012,6465.41
11,1978-04-01,6054.21,5128.31,925.902,403.377,334.84,68.5363,6457.59
12,1978-05-01,6038.26,5117.48,920.784,398.408,334.161,64.2472,6436.67
13,1978-06-01,6031.34,5092.58,938.767,393.49,331.152,62.3382,6424.83
...,...,...,...,...,...,...,...,...
522,2020-11-01,12890.7,8748.6,4142.07,875.186,634.783,240.403,13765.9
523,2020-12-01,13006.2,8892.98,4113.19,873.269,635.752,237.517,13879.4
524,2021-01-01,12749.5,8770.82,3978.64,938.049,672.841,265.208,13687.5
525,2021-02-01,13053.9,8985.77,4068.15,874.476,619.591,254.885,13928.4
526,2021-03-01,13082.7,8846.22,4236.51,832.737,573.699,259.038,13915.5

In [11]:
# Select required date for study
covid_data = employment_data[employment_data['Date'] >= '2018-01-01']
covid_data

,Date,Total Employed,Employed Fulltime,Employed Parttime,Total Unemployed,Unemployed Looked Fulltime,Unemployed looked Parttime,Labour Force Total
488,2018-01-01,12305.1,8444.72,3860.35,780.056,548.491,231.565,13085.1
489,2018-02-01,12528.2,8623.89,3904.29,805.672,560.305,245.367,13333.9
490,2018-03-01,12494.8,8485.07,4009.77,777.802,546.026,231.776,13272.6
491,2018-04-01,12525.9,8515.18,4010.73,740.584,503.975,236.609,13266.5
492,2018-05-01,12572.7,8516.2,4056.5,702.171,485.85,216.321,13274.9
493,2018-06-01,12608.4,8547.95,4060.41,687.891,492.132,195.759,13296.3
494,2018-07-01,12575.4,8614.23,3961.16,689.922,494.528,195.394,13265.3
495,2018-08-01,12547.5,8561.23,3986.31,698.353,486.234,212.119,13245.9
496,2018-09-01,12615.5,8614.6,4000.88,648.354,433.592,214.763,13263.8
497,2018-10-01,12654.6,8662.49,3992.09,634.152,419.848,214.304,13288.7
498,2018-11-01,12741.6,8725.58,4016,634.776,443.781,190.995,13376.4
499,2018-12-01,12839.2,8829.3,4009.86,648.774,450.378,198.396,13487.9
500,2019-01-01,12603.1,8737.99,3865.09,726.909,508.323,218.586,13330
501,2019-02-01,12802.2,8828.34,3973.81,727.805,499.999,227.806,13530
502,2019-03-01,12785.2,8763.46,4021.79,731.765,499.365,232.4,13517
503,2019-04-01,12831.7,8746.95,4084.73,713.956,494.441,219.515,13545.6
504,2019-05-01,12921.1,8769.41,4151.65,694.322,484.459,209.864,13615.4
505,2019-06-01,12889.7,8784.03,4105.64,691.955,480.459,211.496,13581.6
506,2019-07-01,12887.3,8856.84,4030.46,702.614,515.144,187.47,13589.9
507,2019-08-01,12858.3,8748.48,4109.81,714.384,490.045,224.339,13572.7
508,2019-09-01,12925.9,8807.35,4118.52,691.794,471.639,220.155,13617.7
509,2019-10-01,12899.9,8800.45,4099.48,685.821,468.698,217.123,13585.7
510,2019-11-01,12995.6,8873.61,4121.95,653.742,463.841,189.9,13649.3
511,2019-12-01,13097.8,8987.16,4110.61,667.015,472.24,194.774,13764.8
512,2020-01-01,12831.9,8870.3,3961.62,775.109,552.746,222.363,13607
513,2020-02-01,13053,8974.16,4078.85,761.145,511.967,249.178,13814.2
514,2020-03-01,13004.3,8853.81,4150.46,765.561,532.286,233.275,13769.8
515,2020-04-01,12411.8,8605.71,3806.13,850.478,639.601,210.878,13262.3
516,2020-05-01,12190.8,8526.1,3664.68,904.687,678.469,226.218,13095.5
517,2020-06-01,12391.8,8498.51,3893.25,966.531,721.216,245.315,13358.3
518,2020-07-01,12474,8566.44,3907.58,994.68,731.496,263.184,13468.7
519,2020-08-01,12566.5,8512.72,4053.75,921.887,688.466,233.421,13488.3
520,2020-09-01,12572,8499.88,4072.12,909.432,676.569,232.863,13481.4
521,2020-10-01,12742.4,8598.66,4143.76,907.488,641.91,265.579,13649.9
522,2020-11-01,12890.7,8748.6,4142.07,875.186,634.783,240.403,13765.9
523,2020-12-01,13006.2,8892.98,4113.19,873.269,635.752,237.517,13879.4
524,2021-01-01,12749.5,8770.82,3978.64,938.049,672.841,265.208,13687.5
525,2021-02-01,13053.9,8985.77,4068.15,874.476,619.591,254.885,13928.4
526,2021-03-01,13082.7,8846.22,4236.51,832.737,573.699,259.038,13915.5

In [12]:
# Format data to required visualization
covid_data.iloc[:,1]=(covid_data.iloc[:,1]*1000).apply(lambda x: '{:,.2f}'.format(x))
covid_data.iloc[:,2]=(covid_data.iloc[:,2]*1000).apply(lambda x: '{:,.2f}'.format(x))
covid_data.iloc[:,3]=(covid_data.iloc[:,3]*1000).apply(lambda x: '{:,.2f}'.format(x))
covid_data.iloc[:,4]=(covid_data.iloc[:,4]*1000).apply(lambda x: '{:,.2f}'.format(x))
covid_data.iloc[:,5]=(covid_data.iloc[:,5]*1000).apply(lambda x: '{:,.2f}'.format(x))
covid_data.iloc[:,6]=(covid_data.iloc[:,6]*1000).apply(lambda x: '{:,.2f}'.format(x))
covid_data.iloc[:,7]=(covid_data.iloc[:,7]*1000).apply(lambda x: '{:,.2f}'.format(x))
covid_data

,Date,Total Employed,Employed Fulltime,Employed Parttime,Total Unemployed,Unemployed Looked Fulltime,Unemployed looked Parttime,Labour Force Total
488,2018-01-01,"12,305,064.62","8,444,717.71","3,860,346.92","780,055.83","548,490.74","231,565.10","13,085,120.46"
489,2018-02-01,"12,528,184.69","8,623,894.89","3,904,289.80","805,671.79","560,304.52","245,367.27","13,333,856.49"
490,2018-03-01,"12,494,836.08","8,485,068.22","4,009,767.86","777,802.03","546,025.96","231,776.07","13,272,638.11"
491,2018-04-01,"12,525,911.99","8,515,181.90","4,010,730.09","740,584.13","503,975.04","236,609.09","13,266,496.12"
492,2018-05-01,"12,572,697.36","8,516,201.73","4,056,495.63","702,170.97","485,850.29","216,320.68","13,274,868.33"
493,2018-06-01,"12,608,359.05","8,547,953.57","4,060,405.48","687,891.22","492,132.05","195,759.17","13,296,250.26"
494,2018-07-01,"12,575,383.41","8,614,225.78","3,961,157.64","689,922.43","494,527.94","195,394.49","13,265,305.85"
495,2018-08-01,"12,547,537.70","8,561,225.58","3,986,312.12","698,353.14","486,234.00","212,119.13","13,245,890.84"
496,2018-09-01,"12,615,471.65","8,614,595.76","4,000,875.89","648,354.24","433,591.63","214,762.62","13,263,825.90"
497,2018-10-01,"12,654,573.20","8,662,486.91","3,992,086.28","634,151.75","419,847.62","214,304.13","13,288,724.95"
498,2018-11-01,"12,741,586.74","8,725,581.88","4,016,004.86","634,775.90","443,780.78","190,995.12","13,376,362.64"
499,2018-12-01,"12,839,166.62","8,829,304.27","4,009,862.35","648,774.21","450,377.92","198,396.29","13,487,940.83"
500,2019-01-01,"12,603,075.61","8,737,985.75","3,865,089.86","726,908.81","508,322.93","218,585.87","13,329,984.42"
501,2019-02-01,"12,802,157.75","8,828,343.63","3,973,814.13","727,804.77","499,998.93","227,805.84","13,529,962.53"
502,2019-03-01,"12,785,249.12","8,763,455.37","4,021,793.75","731,765.07","499,365.23","232,399.83","13,517,014.18"
503,2019-04-01,"12,831,683.43","8,746,949.05","4,084,734.38","713,955.75","494,440.67","219,515.09","13,545,639.18"
504,2019-05-01,"12,921,060.78","8,769,409.86","4,151,650.92","694,322.36","484,458.52","209,863.85","13,615,383.14"
505,2019-06-01,"12,889,667.80","8,784,028.02","4,105,639.79","691,955.33","480,459.13","211,496.20","13,581,623.13"
506,2019-07-01,"12,887,295.29","8,856,837.67","4,030,457.62","702,613.80","515,143.89","187,469.91","13,589,909.09"
507,2019-08-01,"12,858,290.35","8,748,477.62","4,109,812.73","714,384.19","490,045.02","224,339.17","13,572,674.54"
508,2019-09-01,"12,925,873.93","8,807,353.12","4,118,520.81","691,793.75","471,638.91","220,154.84","13,617,667.68"
509,2019-10-01,"12,899,928.23","8,800,452.34","4,099,475.89","685,821.06","468,698.20","217,122.86","13,585,749.28"
510,2019-11-01,"12,995,558.09","8,873,606.97","4,121,951.12","653,741.70","463,841.30","189,900.40","13,649,299.79"
511,2019-12-01,"13,097,767.56","8,987,159.24","4,110,608.32","667,014.73","472,240.48","194,774.24","13,764,782.28"
512,2020-01-01,"12,831,914.79","8,870,295.78","3,961,619.01","775,109.15","552,746.17","222,362.98","13,607,023.95"
513,2020-02-01,"13,053,014.49","8,974,162.59","4,078,851.90","761,145.38","511,967.28","249,178.10","13,814,159.87"
514,2020-03-01,"13,004,269.83","8,853,812.33","4,150,457.50","765,560.50","532,285.89","233,274.61","13,769,830.33"
515,2020-04-01,"12,411,846.19","8,605,712.53","3,806,133.66","850,478.32","639,600.82","210,877.50","13,262,324.52"
516,2020-05-01,"12,190,780.93","8,526,102.97","3,664,677.96","904,686.93","678,468.81","226,218.12","13,095,467.86"
517,2020-06-01,"12,391,756.26","8,498,505.45","3,893,250.81","966,530.80","721,215.66","245,315.14","13,358,287.06"
518,2020-07-01,"12,474,027.18","8,566,442.67","3,907,584.52","994,679.90","731,495.85","263,184.06","13,468,707.09"
519,2020-08-01,"12,566,461.75","8,512,715.02","4,053,746.73","921,887.18","688,466.12","233,421.06","13,488,348.93"
520,2020-09-01,"12,572,002.43","8,499,884.66","4,072,117.77","909,432.00","676,569.31","232,862.68","13,481,434.43"
521,2020-10-01,"12,742,421.91","8,598,660.00","4,143,761.91","907,488.36","641,909.81","265,578.55","13,649,910.27"
522,2020-11-01,"12,890,668.34","8,748,596.88","4,142,071.46","875,185.99","634,782.82","240,403.17","13,765,854.33"
523,2020-12-01,"13,006,170.25","8,892,976.90","4,113,193.34","873,269.21","635,752.05","237,517.16","13,879,439.46"
524,2021-01-01,"12,749,458.31","8,770,821.09","3,978,637.22","938,048.57","672,840.54","265,208.03","13,687,506.88"
525,2021-02-01,"13,053,911.91","8,985,766.88","4,068,145.04","874,475.80","619,590.93","254,884.87","13,928,387.72"
526,2021-03-01,"13,082,728.07","8,846,221.51","4,236,506.56","832,736.72","573,699.07","259,037.64","13,915,464.79"

In [13]:
# Get month from Date column and output it to new column name Month
covid_data['Month'] = pd.DatetimeIndex(covid_data['Date']).month
covid_data['Year'] = pd.DatetimeIndex(covid_data['Date']).year

# Reset index values
covid_data.reset_index(drop=True, inplace=True)
covid_data.head(5)

,Date,Total Employed,Employed Fulltime,Employed Parttime,Total Unemployed,Unemployed Looked Fulltime,Unemployed looked Parttime,Labour Force Total,Month,Year
0,2018-01-01,"12,305,064.62","8,444,717.71","3,860,346.92","780,055.83","548,490.74","231,565.10","13,085,120.46",1,2018
1,2018-02-01,"12,528,184.69","8,623,894.89","3,904,289.80","805,671.79","560,304.52","245,367.27","13,333,856.49",2,2018
2,2018-03-01,"12,494,836.08","8,485,068.22","4,009,767.86","777,802.03","546,025.96","231,776.07","13,272,638.11",3,2018
3,2018-04-01,"12,525,911.99","8,515,181.90","4,010,730.09","740,584.13","503,975.04","236,609.09","13,266,496.12",4,2018
4,2018-05-01,"12,572,697.36","8,516,201.73","4,056,495.63","702,170.97","485,850.29","216,320.68","13,274,868.33",5,2018

In [14]:
# create a list of quarters values
quarters = []
for index, row in covid_data.iterrows():
    month = covid_data.iloc[index]["Month"]
    # months 1-3 is Q1, 4-6 is Q2, 7-9 is Q3, 10-12 is Q4
    if month <= 3:
        quarter = 1
    elif month <= 6:
        quarter = 2
    elif month <= 9:
         quarter = 3
    else:
        quarter = 4
    quarters.append(quarter)

In [15]:
# # create a list of midyear
# midyear = []
# for index, row in covid_data.iterrows():
#     month = covid_data.iloc[index]["Monthly"]
#     # months 1-3 is Q1, 4-6 is Q2, 7-9 is Q3, 10-12 is Q4
#     if month <= 3:
#         halfyear = 1
#     else:
#         halfyear = 2
#     midyear.append(halfyear)

In [16]:
# Add new column for quarterly data
covid_data["Quarter"] = quarters

# # Add new column for midyear data
# covid_data["Semester"] = midyear

covid_data.head(10)

,Date,Total Employed,Employed Fulltime,Employed Parttime,Total Unemployed,Unemployed Looked Fulltime,Unemployed looked Parttime,Labour Force Total,Month,Year,Quarter
0,2018-01-01,"12,305,064.62","8,444,717.71","3,860,346.92","780,055.83","548,490.74","231,565.10","13,085,120.46",1,2018,1
1,2018-02-01,"12,528,184.69","8,623,894.89","3,904,289.80","805,671.79","560,304.52","245,367.27","13,333,856.49",2,2018,1
2,2018-03-01,"12,494,836.08","8,485,068.22","4,009,767.86","777,802.03","546,025.96","231,776.07","13,272,638.11",3,2018,1
3,2018-04-01,"12,525,911.99","8,515,181.90","4,010,730.09","740,584.13","503,975.04","236,609.09","13,266,496.12",4,2018,2
4,2018-05-01,"12,572,697.36","8,516,201.73","4,056,495.63","702,170.97","485,850.29","216,320.68","13,274,868.33",5,2018,2
5,2018-06-01,"12,608,359.05","8,547,953.57","4,060,405.48","687,891.22","492,132.05","195,759.17","13,296,250.26",6,2018,2
6,2018-07-01,"12,575,383.41","8,614,225.78","3,961,157.64","689,922.43","494,527.94","195,394.49","13,265,305.85",7,2018,3
7,2018-08-01,"12,547,537.70","8,561,225.58","3,986,312.12","698,353.14","486,234.00","212,119.13","13,245,890.84",8,2018,3
8,2018-09-01,"12,615,471.65","8,614,595.76","4,000,875.89","648,354.24","433,591.63","214,762.62","13,263,825.90",9,2018,3
9,2018-10-01,"12,654,573.20","8,662,486.91","3,992,086.28","634,151.75","419,847.62","214,304.13","13,288,724.95",10,2018,4

In [17]:
#Set index to date column 
clean_data = covid_data.set_index('Date')

In [18]:
# Output clean data
clean_data

,Total Employed,Employed Fulltime,Employed Parttime,Total Unemployed,Unemployed Looked Fulltime,Unemployed looked Parttime,Labour Force Total,Month,Year,Quarter
Date,,,,,,,,,,
2018-01-01,"12,305,064.62","8,444,717.71","3,860,346.92","780,055.83","548,490.74","231,565.10","13,085,120.46",1,2018,1
2018-02-01,"12,528,184.69","8,623,894.89","3,904,289.80","805,671.79","560,304.52","245,367.27","13,333,856.49",2,2018,1
2018-03-01,"12,494,836.08","8,485,068.22","4,009,767.86","777,802.03","546,025.96","231,776.07","13,272,638.11",3,2018,1
2018-04-01,"12,525,911.99","8,515,181.90","4,010,730.09","740,584.13","503,975.04","236,609.09","13,266,496.12",4,2018,2
2018-05-01,"12,572,697.36","8,516,201.73","4,056,495.63","702,170.97","485,850.29","216,320.68","13,274,868.33",5,2018,2
2018-06-01,"12,608,359.05","8,547,953.57","4,060,405.48","687,891.22","492,132.05","195,759.17","13,296,250.26",6,2018,2
2018-07-01,"12,575,383.41","8,614,225.78","3,961,157.64","689,922.43","494,527.94","195,394.49","13,265,305.85",7,2018,3
2018-08-01,"12,547,537.70","8,561,225.58","3,986,312.12","698,353.14","486,234.00","212,119.13","13,245,890.84",8,2018,3
2018-09-01,"12,615,471.65","8,614,595.76","4,000,875.89","648,354.24","433,591.63","214,762.62","13,263,825.90",9,2018,3
2018-10-01,"12,654,573.20","8,662,486.91","3,992,086.28","634,151.75","419,847.62","214,304.13","13,288,724.95",10,2018,4
2018-11-01,"12,741,586.74","8,725,581.88","4,016,004.86","634,775.90","443,780.78","190,995.12","13,376,362.64",11,2018,4
2018-12-01,"12,839,166.62","8,829,304.27","4,009,862.35","648,774.21","450,377.92","198,396.29","13,487,940.83",12,2018,4
2019-01-01,"12,603,075.61","8,737,985.75","3,865,089.86","726,908.81","508,322.93","218,585.87","13,329,984.42",1,2019,1
2019-02-01,"12,802,157.75","8,828,343.63","3,973,814.13","727,804.77","499,998.93","227,805.84","13,529,962.53",2,2019,1
2019-03-01,"12,785,249.12","8,763,455.37","4,021,793.75","731,765.07","499,365.23","232,399.83","13,517,014.18",3,2019,1
2019-04-01,"12,831,683.43","8,746,949.05","4,084,734.38","713,955.75","494,440.67","219,515.09","13,545,639.18",4,2019,2
2019-05-01,"12,921,060.78","8,769,409.86","4,151,650.92","694,322.36","484,458.52","209,863.85","13,615,383.14",5,2019,2
2019-06-01,"12,889,667.80","8,784,028.02","4,105,639.79","691,955.33","480,459.13","211,496.20","13,581,623.13",6,2019,2
2019-07-01,"12,887,295.29","8,856,837.67","4,030,457.62","702,613.80","515,143.89","187,469.91","13,589,909.09",7,2019,3
2019-08-01,"12,858,290.35","8,748,477.62","4,109,812.73","714,384.19","490,045.02","224,339.17","13,572,674.54",8,2019,3
2019-09-01,"12,925,873.93","8,807,353.12","4,118,520.81","691,793.75","471,638.91","220,154.84","13,617,667.68",9,2019,3
2019-10-01,"12,899,928.23","8,800,452.34","4,099,475.89","685,821.06","468,698.20","217,122.86","13,585,749.28",10,2019,4
2019-11-01,"12,995,558.09","8,873,606.97","4,121,951.12","653,741.70","463,841.30","189,900.40","13,649,299.79",11,2019,4
2019-12-01,"13,097,767.56","8,987,159.24","4,110,608.32","667,014.73","472,240.48","194,774.24","13,764,782.28",12,2019,4
2020-01-01,"12,831,914.79","8,870,295.78","3,961,619.01","775,109.15","552,746.17","222,362.98","13,607,023.95",1,2020,1
2020-02-01,"13,053,014.49","8,974,162.59","4,078,851.90","761,145.38","511,967.28","249,178.10","13,814,159.87",2,2020,1
2020-03-01,"13,004,269.83","8,853,812.33","4,150,457.50","765,560.50","532,285.89","233,274.61","13,769,830.33",3,2020,1
2020-04-01,"12,411,846.19","8,605,712.53","3,806,133.66","850,478.32","639,600.82","210,877.50","13,262,324.52",4,2020,2
2020-05-01,"12,190,780.93","8,526,102.97","3,664,677.96","904,686.93","678,468.81","226,218.12","13,095,467.86",5,2020,2
2020-06-01,"12,391,756.26","8,498,505.45","3,893,250.81","966,530.80","721,215.66","245,315.14","13,358,287.06",6,2020,2
2020-07-01,"12,474,027.18","8,566,442.67","3,907,584.52","994,679.90","731,495.85","263,184.06","13,468,707.09",7,2020,3
2020-08-01,"12,566,461.75","8,512,715.02","4,053,746.73","921,887.18","688,466.12","233,421.06","13,488,348.93",8,2020,3
2020-09-01,"12,572,002.43","8,499,884.66","4,072,117.77","909,432.00","676,569.31","232,862.68","13,481,434.43",9,2020,3
2020-10-01,"12,742,421.91","8,598,660.00","4,143,761.91","907,488.36","641,909.81","265,578.55","13,649,910.27",10,2020,4
2020-11-01,"12,890,668.34","8,748,596.88","4,142,071.46","875,185.99","634,782.82","240,403.17","13,765,854.33",11,2020,4
2020-12-01,"13,006,170.25","8,892,976.90","4,113,193.34","873,269.21","635,752.05","237,517.16","13,879,439.46",12,2020,4
2021-01-01,"12,749,458.31","8,770,821.09","3,978,637.22","938,048.57","672,840.54","265,208.03","13,687,506.88",1,2021,1
2021-02-01,"13,053,911.91","8,985,766.88","4,068,145.04","874,475.80","619,590.93","254,884.87","13,928,387.72",2,2021,1
2021-03-01,"13,082,728.07","8,846,221.51","4,236,506.56","832,736.72","573,699.07","259,037.64","13,915,464.79",3,2021,1

In [19]:
# Export data to csv
clean_data.to_csv('Ray Data/employment_study.csv')