In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np
pd.options.mode.chained_assignment = None  

# File to Load (Remember to Change These)
data = "Ray Data/6202012.xls"

# Read source data and store into Pandas data frame
xls_data = pd.read_excel(data, sheet_name='Data2')
xls_data

,Unnamed: 0,Employment to population ratio ; > Females ; > Western Australia ;,Employment to population ratio ; > Females ; > Tasmania ;,Employment to population ratio ; > Females ; > Tasmania ;.1,Employment to population ratio ; > Females ; > Tasmania ;.2,Employment to population ratio ; > Females ; > Northern Territory ;,Employment to population ratio ; > Females ; > Northern Territory ;.1,Employment to population ratio ; > Females ; > Australian Capital Territory ;,Employment to population ratio ; > Females ; > Australian Capital Territory ;.1,Unemployed total ; Persons ; Australia ;,...,> Unemployment rate looked for full-time work ; > Males ; > Queensland ;,> Unemployment rate looked for full-time work ; > Males ; > South Australia ;,> Unemployment rate looked for full-time work ; > Males ; > Western Australia ;,> Unemployment rate looked for full-time work ; > Males ; > Tasmania ;,> Unemployment rate looked for full-time work ; > Males ; > Northern Territory ;,> Unemployment rate looked for full-time work ; > Males ; > Australian Capital Territory ;,> Unemployment rate looked for full-time work ; > Females ; Australia ;,> Unemployment rate looked for full-time work ; > Females ; Australia ;.1,> Unemployment rate looked for full-time work ; > Females ; Australia ;.2,> Unemployment rate looked for full-time work ; > Females ; > New South Wales ;
0,Unit,Percent,Percent,Percent,Percent,Percent,Percent,Percent,Percent,000,...,Percent,Percent,Percent,Percent,Percent,Percent,Percent,Percent,Percent,Percent
1,Series Type,Original,Trend,Seasonally Adjusted,Original,Trend,Original,Trend,Original,Trend,...,Original,Original,Original,Original,Original,Original,Trend,Seasonally Adjusted,Original,Original
2,Data Type,PERCENT,PERCENT,PERCENT,PERCENT,PERCENT,PERCENT,PERCENT,PERCENT,STOCK,...,PERCENT,PERCENT,PERCENT,PERCENT,PERCENT,PERCENT,PERCENT,PERCENT,PERCENT,PERCENT
3,Frequency,Month,Month,Month,Month,Month,Month,Month,Month,Month,...,Month,Month,Month,Month,Month,Month,Month,Month,Month,Month
4,Collection Month,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
522,2020-11-01 00:00:00,59.5544,NaN,52.6264,52.8753,NaN,64.9331,NaN,68.6876,NaN,...,7.53827,5.63136,5.71642,8.47014,5.8479,4.31741,NaN,8.09364,7.50442,6.73763
523,2020-12-01 00:00:00,59.9955,NaN,53.5726,54.0221,NaN,65.6762,NaN,68.7831,NaN,...,7.59396,5.68127,5.86565,8.83035,3.43644,4.0839,NaN,7.49705,7.12574,6.17256
524,2021-01-01 00:00:00,57.853,NaN,53.8607,52.8189,NaN,64.3363,NaN,65.323,NaN,...,7.76746,7.05113,7.04117,6.51557,4.39612,4.71367,NaN,7.25445,7.95091,7.64974
525,2021-02-01 00:00:00,58.6097,NaN,54.5427,54.28,NaN,65.4994,NaN,66.0389,NaN,...,6.84564,7.31661,6.80697,6.53829,4.53661,4.85629,NaN,6.39459,6.89153,6.24086
526,2021-03-01 00:00:00,60.0164,NaN,53.9292,54.0296,NaN,66.2335,NaN,64.9771,NaN,...,6.5216,6.71919,5.24095,6.53972,4.01089,4.09534,NaN,6.04656,6.60772,6.17031

In [2]:
# Transpose dataframe
trans_to = xls_data.T
trans_to

,0,1,2,3,4,5,6,7,8,9,...,517,518,519,520,521,522,523,524,525,526
Unnamed: 0,Unit,Series Type,Data Type,Frequency,Collection Month,Series Start,Series End,No. Obs,Series ID,1978-02-01 00:00:00,...,2020-06-01 00:00:00,2020-07-01 00:00:00,2020-08-01 00:00:00,2020-09-01 00:00:00,2020-10-01 00:00:00,2020-11-01 00:00:00,2020-12-01 00:00:00,2021-01-01 00:00:00,2021-02-01 00:00:00,2021-03-01 00:00:00
Employment to population ratio ; > Females ; > Western Australia ;,Percent,Original,PERCENT,Month,1,1978-02-01 00:00:00,2021-03-01 00:00:00,518,A84423776L,40.5697,...,55.9296,56.5577,57.3333,57.9877,58.8042,59.5544,59.9955,57.853,58.6097,60.0164
Employment to population ratio ; > Females ; > Tasmania ;,Percent,Trend,PERCENT,Month,1,1978-02-01 00:00:00,2021-03-01 00:00:00,518,A84424084T,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Employment to population ratio ; > Females ; > Tasmania ;.1,Percent,Seasonally Adjusted,PERCENT,Month,1,1978-02-01 00:00:00,2021-03-01 00:00:00,518,A84423412X,36.7766,...,50.7312,52.7165,52.9764,52.2648,51.7616,52.6264,53.5726,53.8607,54.5427,53.9292
Employment to population ratio ; > Females ; > Tasmania ;.2,Percent,Original,PERCENT,Month,1,1978-02-01 00:00:00,2021-03-01 00:00:00,518,A84423748C,35.9001,...,51.0224,52.4041,53.1311,52.2573,51.745,52.8753,54.0221,52.8189,54.28,54.0296
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
> Unemployment rate looked for full-time work ; > Males ; > Australian Capital Territory ;,Percent,Original,PERCENT,Month,1,1978-02-01 00:00:00,2021-03-01 00:00:00,518,A84423543X,5.4097,...,4.60134,5.06465,4.32233,4.84324,4.06868,4.31741,4.0839,4.71367,4.85629,4.09534
> Unemployment rate looked for full-time work ; > Females ; Australia ;,Percent,Trend,PERCENT,Month,1,1978-02-01 00:00:00,2021-03-01 00:00:00,518,A84423150K,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
> Unemployment rate looked for full-time work ; > Females ; Australia ;.1,Percent,Seasonally Adjusted,PERCENT,Month,1,1978-02-01 00:00:00,2021-03-01 00:00:00,518,A84423066V,9.25822,...,9.11002,8.89191,7.85603,7.95324,8.05448,8.09364,7.49705,7.25445,6.39459,6.04656
> Unemployment rate looked for full-time work ; > Females ; Australia ;.2,Percent,Original,PERCENT,Month,1,1978-02-01 00:00:00,2021-03-01 00:00:00,518,A84423108F,10.4754,...,9.01543,8.78029,7.86486,7.50383,7.51211,7.50442,7.12574,7.95091,6.89153,6.60772
> Unemployment rate looked for full-time work ; > Females ; > New South Wales ;,Percent,Original,PERCENT,Month,1,1978-02-01 00:00:00,2021-03-01 00:00:00,518,A84423725L,10.5604,...,8.05663,8.38887,7.53714,6.84872,6.42503,6.73763,6.17256,7.64974,6.24086,6.17031

In [3]:
# Filter dataframe to ouput required data
data_filter = ['Series Type', 'Original']
filter_data = trans_to[trans_to[1].isin(data_filter)]

In [4]:
filter_data.head(100)

,0,1,2,3,4,5,6,7,8,9,...,517,518,519,520,521,522,523,524,525,526
Unnamed: 0,Unit,Series Type,Data Type,Frequency,Collection Month,Series Start,Series End,No. Obs,Series ID,1978-02-01 00:00:00,...,2020-06-01 00:00:00,2020-07-01 00:00:00,2020-08-01 00:00:00,2020-09-01 00:00:00,2020-10-01 00:00:00,2020-11-01 00:00:00,2020-12-01 00:00:00,2021-01-01 00:00:00,2021-02-01 00:00:00,2021-03-01 00:00:00
Employment to population ratio ; > Females ; > Western Australia ;,Percent,Original,PERCENT,Month,1,1978-02-01 00:00:00,2021-03-01 00:00:00,518,A84423776L,40.5697,...,55.9296,56.5577,57.3333,57.9877,58.8042,59.5544,59.9955,57.853,58.6097,60.0164
Employment to population ratio ; > Females ; > Tasmania ;.2,Percent,Original,PERCENT,Month,1,1978-02-01 00:00:00,2021-03-01 00:00:00,518,A84423748C,35.9001,...,51.0224,52.4041,53.1311,52.2573,51.745,52.8753,54.0221,52.8189,54.28,54.0296
Employment to population ratio ; > Females ; > Northern Territory ;.1,Percent,Original,PERCENT,Month,1,1978-02-01 00:00:00,2021-03-01 00:00:00,518,A84423790J,43.6761,...,65.8557,65.3258,68.4977,65.2477,67.2786,64.9331,65.6762,64.3363,65.4994,66.2335
Employment to population ratio ; > Females ; > Australian Capital Territory ;.1,Percent,Original,PERCENT,Month,1,1978-02-01 00:00:00,2021-03-01 00:00:00,518,A84423762X,53.5193,...,65.5692,65.2446,67.5521,67.0047,69.108,68.6876,68.7831,65.323,66.0389,64.9771
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Unemployment rate ; > Males ; Australia ;.2,Percent,Original,PERCENT,Month,1,1978-02-01 00:00:00,2021-03-01 00:00:00,518,A84423078C,6.18808,...,7.26593,7.45639,7.0792,7.11236,6.67458,6.20028,6.51957,6.95698,6.43252,6.14303
Unemployment rate ; > Males ; > New South Wales ;.2,Percent,Original,PERCENT,Month,1,1978-02-01 00:00:00,2021-03-01 00:00:00,518,A84423494R,6.41826,...,6.73126,7.27397,6.74543,7.53895,7.04028,6.19843,6.65925,6.35256,6.31103,5.92662
Unemployment rate ; > Males ; > Victoria ;.2,Percent,Original,PERCENT,Month,1,1978-02-01 00:00:00,2021-03-01 00:00:00,518,A84423578X,5.33476,...,6.76392,6.36898,6.67819,6.02605,5.82291,5.90118,6.26946,6.85567,5.93179,6.29406
Unemployment rate ; > Males ; > Queensland ;.2,Percent,Original,PERCENT,Month,1,1978-02-01 00:00:00,2021-03-01 00:00:00,518,A84423508T,7.34502,...,8.38938,8.98835,8.35324,8.23915,7.56573,7.07527,7.17903,7.90749,6.93708,6.71785
Unemployment rate ; > Males ; > South Australia ;.2,Percent,Original,PERCENT,Month,1,1978-02-01 00:00:00,2021-03-01 00:00:00,518,A84423592V,6.00147,...,8.32243,8.4076,7.96387,6.71713,6.49874,5.78846,5.86964,7.66275,7.36363,6.84307

In [5]:
# Revert transpose to original 
original_data = filter_data.T
original_data.head(20)

,Unnamed: 0,Employment to population ratio ; > Females ; > Western Australia ;,Employment to population ratio ; > Females ; > Tasmania ;.2,Employment to population ratio ; > Females ; > Northern Territory ;.1,Employment to population ratio ; > Females ; > Australian Capital Territory ;.1,Unemployed total ; Persons ; Australia ;.2,Unemployed total ; Persons ; > New South Wales ;.2,Unemployed total ; Persons ; > Victoria ;.2,Unemployed total ; Persons ; > Queensland ;.2,Unemployed total ; Persons ; > South Australia ;.2,...,> Unemployment rate looked for full-time work ; > Males ; > New South Wales ;,> Unemployment rate looked for full-time work ; > Males ; > Victoria ;,> Unemployment rate looked for full-time work ; > Males ; > Queensland ;,> Unemployment rate looked for full-time work ; > Males ; > South Australia ;,> Unemployment rate looked for full-time work ; > Males ; > Western Australia ;,> Unemployment rate looked for full-time work ; > Males ; > Tasmania ;,> Unemployment rate looked for full-time work ; > Males ; > Northern Territory ;,> Unemployment rate looked for full-time work ; > Males ; > Australian Capital Territory ;,> Unemployment rate looked for full-time work ; > Females ; Australia ;.2,> Unemployment rate looked for full-time work ; > Females ; > New South Wales ;
0,Unit,Percent,Percent,Percent,Percent,000,000,000,000,000,...,Percent,Percent,Percent,Percent,Percent,Percent,Percent,Percent,Percent,Percent
1,Series Type,Original,Original,Original,Original,Original,Original,Original,Original,Original,...,Original,Original,Original,Original,Original,Original,Original,Original,Original,Original
2,Data Type,PERCENT,PERCENT,PERCENT,PERCENT,STOCK,STOCK,STOCK,STOCK,STOCK,...,PERCENT,PERCENT,PERCENT,PERCENT,PERCENT,PERCENT,PERCENT,PERCENT,PERCENT,PERCENT
3,Frequency,Month,Month,Month,Month,Month,Month,Month,Month,Month,...,Month,Month,Month,Month,Month,Month,Month,Month,Month,Month
4,Collection Month,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
5,Series Start,1978-02-01 00:00:00,1978-02-01 00:00:00,1978-02-01 00:00:00,1978-02-01 00:00:00,1978-02-01 00:00:00,1978-02-01 00:00:00,1978-02-01 00:00:00,1978-02-01 00:00:00,1978-02-01 00:00:00,...,1978-02-01 00:00:00,1978-02-01 00:00:00,1978-02-01 00:00:00,1978-02-01 00:00:00,1978-02-01 00:00:00,1978-02-01 00:00:00,1978-02-01 00:00:00,1978-02-01 00:00:00,1978-02-01 00:00:00,1978-02-01 00:00:00
6,Series End,2021-03-01 00:00:00,2021-03-01 00:00:00,2021-03-01 00:00:00,2021-03-01 00:00:00,2021-03-01 00:00:00,2021-03-01 00:00:00,2021-03-01 00:00:00,2021-03-01 00:00:00,2021-03-01 00:00:00,...,2021-03-01 00:00:00,2021-03-01 00:00:00,2021-03-01 00:00:00,2021-03-01 00:00:00,2021-03-01 00:00:00,2021-03-01 00:00:00,2021-03-01 00:00:00,2021-03-01 00:00:00,2021-03-01 00:00:00,2021-03-01 00:00:00
7,No. Obs,518,518,518,518,518,518,518,518,518,...,518,518,518,518,518,518,518,518,518,518
8,Series ID,A84423776L,A84423748C,A84423790J,A84423762X,A84423088J,A84423602L,A84423686J,A84423616A,A84423700T,...,A84423501A,A84423585W,A84423515R,A84423599K,A84423557L,A84423529C,A84423571J,A84423543X,A84423108F,A84423725L
9,1978-02-01 00:00:00,40.5697,35.9001,43.6761,53.5193,482.817,174.103,114.672,79.4431,45.5511,...,6.2808,5.11266,7.17548,5.90892,5.76728,5.98985,9.6515,5.4097,10.4754,10.5604
10,1978-03-01 00:00:00,42.4035,37.6069,48.9962,51.3699,424.85,150.934,104.44,74.5868,39.5342,...,5.27951,4.25199,6.49217,5.50865,4.76886,5.73016,6.3503,4.88861,9.45617,9.20614
11,1978-04-01 00:00:00,42.6959,37.3393,47.7954,51.4109,403.377,149.24,96.8527,66.3058,37.2527,...,5.40488,3.72871,6.54047,5.32535,4.75389,5.31334,6.20817,4.95061,8.80864,9.19157
12,1978-05-01 00:00:00,43.0027,36.7599,48.0298,53.8381,398.408,139.421,100.266,66.6686,39.9384,...,5.02974,4.04301,6.44921,6.11597,4.53193,5.5252,6.09022,4.66511,8.81249,8.92274
13,1978-06-01 00:00:00,43.0318,34.9772,43.0367,52.7469,393.49,138.976,94.652,66.5513,40.6305,...,5.50222,4.16232,6.75845,6.22217,4.74335,5.53198,3.54697,3.55178,8.15612,8.07762
14,1978-07-01 00:00:00,42.6209,35.7987,45.8362,54.8479,380.532,131.655,90.0634,62.3918,39.5827,...,5.25698,3.98126,6.40633,6.53337,5.88633,5.87465,3.85144,4.30086,7.98752,7.99876
15,1978-08-01 00:00:00,41.4204,35.6585,44.7307,53.6708,398.29,133.799,100.761,63.0236,44.1505,...,5.04168,4.62456,6.15535,7.65084,5.95601,5.32245,3.12552,3.99447,8.2686,7.73129
16,1978-09-01 00:00:00,41.1855,35.4303,49.3638,51.8658,387.327,134.317,88.7253,62.4893,47.0602,...,5.22535,4.16919,5.98023,7.84107,5.5978,5.94384,4.96293,2.94067,7.78126,7.4549
17,1978-10-01 00:00:00,42.2862,35.6613,48.4057,53.9183,370.372,125.826,88.3954,53.3225,45.6026,...,4.82452,4.20564,5.05547,7.72491,5.58406,5.5008,5.1374,4.53942,7.32325,6.6125
18,1978-11-01 00:00:00,41.3016,36.2767,50.2897,54.2907,372.782,132.336,83.2542,57.7963,43.9188,...,5.01958,4.0396,5.22068,6.8884,5.49676,5.16258,4.3024,3.67916,7.76421,7.61113
19,1978-12-01 00:00:00,41.5377,36.9191,50.9933,52.9288,444.614,143.21,113.725,72.4675,46.5312,...,5.31195,4.84261,6.0858,7.21597,6.02531,6.13436,4.32974,7.38123,9.69543,8.26524

In [6]:
# Remove special characters from column name
original_data.columns=original_data.columns.str.replace('[:,-,>,;,., ]','')
original_data

['Unnamed0',
 'EmploymenttopopulationratioFemalesWesternAustralia',
 'EmploymenttopopulationratioFemalesTasmania2',
 'EmploymenttopopulationratioFemalesNorthernTerritory1',
 'EmploymenttopopulationratioFemalesAustralianCapitalTerritory1',
 'UnemployedtotalPersonsAustralia2',
 'UnemployedtotalPersonsNewSouthWales2',
 'UnemployedtotalPersonsVictoria2',
 'UnemployedtotalPersonsQueensland2',
 'UnemployedtotalPersonsSouthAustralia2',
 'UnemployedtotalPersonsWesternAustralia2',
 'UnemployedtotalPersonsTasmania2',
 'UnemployedtotalPersonsNorthernTerritory1',
 'UnemployedtotalPersonsAustralianCapitalTerritory1',
 'UnemployedtotalMalesAustralia2',
 'UnemployedtotalMalesNewSouthWales2',
 'UnemployedtotalMalesVictoria2',
 'UnemployedtotalMalesQueensland2',
 'UnemployedtotalMalesSouthAustralia2',
 'UnemployedtotalMalesWesternAustralia2',
 'UnemployedtotalMalesTasmania2',
 'UnemployedtotalMalesNorthernTerritory1',
 'UnemployedtotalMalesAustralianCapitalTerritory1',
 'UnemployedtotalFemalesAustralia2',
 'UnemployedtotalFemalesNewSouthWales2',
 'UnemployedtotalFemalesVictoria2',
 'UnemployedtotalFemalesQueensland2',
 'UnemployedtotalFemalesSouthAustralia2',
 'UnemployedtotalFemalesWesternAustralia2',
 'UnemployedtotalFemalesTasmania2',
 'UnemployedtotalFemalesNorthernTerritory1',
 'UnemployedtotalFemalesAustralianCapitalTerritory1',
 'Unemployedlookedforfull-timeworkPersonsAustralia2',
 'Unemployedlookedforfull-timeworkPersonsNewSouthWales',
 'Unemployedlookedforfull-timeworkPersonsVictoria',
 'Unemployedlookedforfull-timeworkPersonsQueensland',
 'Unemployedlookedforfull-timeworkPersonsSouthAustralia',
 'Unemployedlookedforfull-timeworkPersonsWesternAustralia',
 'Unemployedlookedforfull-timeworkPersonsTasmania',
 'Unemployedlookedforfull-timeworkPersonsNorthernTerritory',
 'Unemployedlookedforfull-timeworkPersonsAustralianCapitalTerritory',
 'Unemployedlookedforfull-timeworkMalesAustralia2',
 'Unemployedlookedforfull-timeworkMalesNewSouthWales',
 'Unemployedlookedforfull-timeworkMalesVictoria',
 'Unemployedlookedforfull-timeworkMalesQueensland',
 'Unemployedlookedforfull-timeworkMalesSouthAustralia',
 'Unemployedlookedforfull-timeworkMalesWesternAustralia',
 'Unemployedlookedforfull-timeworkMalesTasmania',
 'Unemployedlookedforfull-timeworkMalesNorthernTerritory',
 'Unemployedlookedforfull-timeworkMalesAustralianCapitalTerritory',
 'Unemployedlookedforfull-timeworkFemalesAustralia2',
 'Unemployedlookedforfull-timeworkFemalesNewSouthWales',
 'Unemployedlookedforfull-timeworkFemalesVictoria',
 'Unemployedlookedforfull-timeworkFemalesQueensland',
 'Unemployedlookedforfull-timeworkFemalesSouthAustralia',
 'Unemployedlookedforfull-timeworkFemalesWesternAustralia',
 'Unemployedlookedforfull-timeworkFemalesTasmania',
 'Unemployedlookedforfull-timeworkFemalesNorthernTerritory',
 'Unemployedlookedforfull-timeworkFemalesAustralianCapitalTerritory',
 'Unemployedlookedforonlypart-timeworkPersonsAustralia2',
 'Unemployedlookedforonlypart-timeworkPersonsNewSouthWales',
 'Unemployedlookedforonlypart-timeworkPersonsVictoria',
 'Unemployedlookedforonlypart-timeworkPersonsQueensland',
 'Unemployedlookedforonlypart-timeworkPersonsSouthAustralia',
 'Unemployedlookedforonlypart-timeworkPersonsWesternAustralia',
 'Unemployedlookedforonlypart-timeworkPersonsTasmania',
 'Unemployedlookedforonlypart-timeworkPersonsNorthernTerritory',
 'Unemployedlookedforonlypart-timeworkPersonsAustralianCapitalTerritory',
 'Unemployedlookedforonlypart-timeworkMalesAustralia2',
 'Unemployedlookedforonlypart-timeworkMalesNewSouthWales',
 'Unemployedlookedforonlypart-timeworkMalesVictoria',
 'Unemployedlookedforonlypart-timeworkMalesQueensland',
 'Unemployedlookedforonlypart-timeworkMalesSouthAustralia',
 'Unemployedlookedforonlypart-timeworkMalesWesternAustralia',
 'Unemployedlookedforonlypart-timeworkMalesTasmania',
 'Unemployedlookedforonlypart-timeworkMalesNorthernTerritory',
 'Unemployedlookedforonlypart-timeworkMalesAustralianCapitalTerritory',
 'Unemployedlookedforonlypart-timeworkFemalesAustralia2',
 'Unemployedlookedforonlypart-timeworkFemalesNewSouthWales',
 'Unemployedlookedforonlypart-timeworkFemalesVictoria',
 'Unemployedlookedforonlypart-timeworkFemalesQueensland',
 'Unemployedlookedforonlypart-timeworkFemalesSouthAustralia',
 'Unemployedlookedforonlypart-timeworkFemalesWesternAustralia',
 'Unemployedlookedforonlypart-timeworkFemalesTasmania',
 'Unemployedlookedforonlypart-timeworkFemalesNorthernTerritory',
 'Unemployedlookedforonlypart-timeworkFemalesAustralianCapitalTerritory',
 'UnemploymentratePersonsAustralia2',
 'UnemploymentratePersonsNewSouthWales2',
 'UnemploymentratePersonsVictoria2',
 'UnemploymentratePersonsQueensland2',
 'UnemploymentratePersonsSouthAustralia2',
 'UnemploymentratePersonsWesternAustralia2',
 'UnemploymentratePersonsTasmania2',
 'UnemploymentratePersonsNorthernTerritory1',
 'UnemploymentratePersonsAustralianCapitalTerritory1',
 'UnemploymentrateMalesAustralia2',
 'UnemploymentrateMalesNewSouthWales2',
 'UnemploymentrateMalesVictoria2',
 'UnemploymentrateMalesQueensland2',
 'UnemploymentrateMalesSouthAustralia2',
 'UnemploymentrateMalesWesternAustralia2',
 'UnemploymentrateMalesTasmania2',
 'UnemploymentrateMalesNorthernTerritory1',
 'UnemploymentrateMalesAustralianCapitalTerritory1',
 'UnemploymentrateFemalesAustralia2',
 'UnemploymentrateFemalesNewSouthWales2',
 'UnemploymentrateFemalesVictoria2',
 'UnemploymentrateFemalesQueensland2',
 'UnemploymentrateFemalesSouthAustralia2',
 'UnemploymentrateFemalesWesternAustralia2',
 'UnemploymentrateFemalesTasmania2',
 'UnemploymentrateFemalesNorthernTerritory1',
 'UnemploymentrateFemalesAustralianCapitalTerritory1',
 'Unemploymentratelookedforfull-timeworkPersonsAustralia2',
 'Unemploymentratelookedforfull-timeworkPersonsNewSouthWales',
 'Unemploymentratelookedforfull-timeworkPersonsVictoria',
 'Unemploymentratelookedforfull-timeworkPersonsQueensland',
 'Unemploymentratelookedforfull-timeworkPersonsSouthAustralia',
 'Unemploymentratelookedforfull-timeworkPersonsWesternAustralia',
 'Unemploymentratelookedforfull-timeworkPersonsTasmania',
 'Unemploymentratelookedforfull-timeworkPersonsNorthernTerritory',
 'Unemploymentratelookedforfull-timeworkPersonsAustralianCapitalTerritory',
 'Unemploymentratelookedforfull-timeworkMalesAustralia2',
 'Unemploymentratelookedforfull-timeworkMalesNewSouthWales',
 'Unemploymentratelookedforfull-timeworkMalesVictoria',
 'Unemploymentratelookedforfull-timeworkMalesQueensland',
 'Unemploymentratelookedforfull-timeworkMalesSouthAustralia',
 'Unemploymentratelookedforfull-timeworkMalesWesternAustralia',
 'Unemploymentratelookedforfull-timeworkMalesTasmania',
 'Unemploymentratelookedforfull-timeworkMalesNorthernTerritory',
 'Unemploymentratelookedforfull-timeworkMalesAustralianCapitalTerritory',
 'Unemploymentratelookedforfull-timeworkFemalesAustralia2',
 'Unemploymentratelookedforfull-timeworkFemalesNewSouthWales']

In [8]:
# Choose columns for final data
employment_data = original_data.iloc[:,[0,2,3,4,5,6,7,8,9,10]]
employment_data

,Unnamed0,EmploymenttopopulationratioFemalesTasmania2,EmploymenttopopulationratioFemalesNorthernTerritory1,EmploymenttopopulationratioFemalesAustralianCapitalTerritory1,UnemployedtotalPersonsAustralia2,UnemployedtotalPersonsNewSouthWales2,UnemployedtotalPersonsVictoria2,UnemployedtotalPersonsQueensland2,UnemployedtotalPersonsSouthAustralia2,UnemployedtotalPersonsWesternAustralia2
0,Unit,Percent,Percent,Percent,000,000,000,000,000,000
1,Series Type,Original,Original,Original,Original,Original,Original,Original,Original,Original
2,Data Type,PERCENT,PERCENT,PERCENT,STOCK,STOCK,STOCK,STOCK,STOCK,STOCK
3,Frequency,Month,Month,Month,Month,Month,Month,Month,Month,Month
4,Collection Month,1,1,1,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...
522,2020-11-01 00:00:00,52.8753,64.9331,68.6876,875.186,261.476,241.52,188.088,55.7099,90.2124
523,2020-12-01 00:00:00,54.0221,65.6762,68.7831,873.269,270.28,229.291,192.286,56.4013,90.2524
524,2021-01-01 00:00:00,52.8189,64.3363,65.323,938.049,275.416,250.01,208.015,67.6776,99.971
525,2021-02-01 00:00:00,54.28,65.4994,66.0389,874.476,263.557,227.007,187.038,66.8258,94.5158
526,2021-03-01 00:00:00,54.0296,66.2335,64.9771,832.737,250.306,234.158,176.125,60.2515,77.9219

In [9]:
# Rename columns for more informative reference 
employment_data_cols = ['Date','Unemployment AUS','Unemployment NSW','Unemployment VIC','Unemployment QLD','Unemployment SA','Unemployment WA','Unemployment TAS','Unemployment NT','Unemployment ACT']
employment_data.columns = employment_data_cols
employment_data.head(20)

,Date,Unemployment AUS,Unemployment NSW,Unemployment VIC,Unemployment QLD,Unemployment SA,Unemployment WA,Unemployment TAS,Unemployment NT,Unemployment ACT
0,Unit,Percent,Percent,Percent,000,000,000,000,000,000
1,Series Type,Original,Original,Original,Original,Original,Original,Original,Original,Original
2,Data Type,PERCENT,PERCENT,PERCENT,STOCK,STOCK,STOCK,STOCK,STOCK,STOCK
3,Frequency,Month,Month,Month,Month,Month,Month,Month,Month,Month
4,Collection Month,1,1,1,1,1,1,1,1,1
5,Series Start,1978-02-01 00:00:00,1978-02-01 00:00:00,1978-02-01 00:00:00,1978-02-01 00:00:00,1978-02-01 00:00:00,1978-02-01 00:00:00,1978-02-01 00:00:00,1978-02-01 00:00:00,1978-02-01 00:00:00
6,Series End,2021-03-01 00:00:00,2021-03-01 00:00:00,2021-03-01 00:00:00,2021-03-01 00:00:00,2021-03-01 00:00:00,2021-03-01 00:00:00,2021-03-01 00:00:00,2021-03-01 00:00:00,2021-03-01 00:00:00
7,No. Obs,518,518,518,518,518,518,518,518,518
8,Series ID,A84423748C,A84423790J,A84423762X,A84423088J,A84423602L,A84423686J,A84423616A,A84423700T,A84423658X
9,1978-02-01 00:00:00,35.9001,43.6761,53.5193,482.817,174.103,114.672,79.4431,45.5511,42.9644
10,1978-03-01 00:00:00,37.6069,48.9962,51.3699,424.85,150.934,104.44,74.5868,39.5342,34.6547
11,1978-04-01 00:00:00,37.3393,47.7954,51.4109,403.377,149.24,96.8527,66.3058,37.2527,34.1536
12,1978-05-01 00:00:00,36.7599,48.0298,53.8381,398.408,139.421,100.266,66.6686,39.9384,33.2662
13,1978-06-01 00:00:00,34.9772,43.0367,52.7469,393.49,138.976,94.652,66.5513,40.6305,33.7997
14,1978-07-01 00:00:00,35.7987,45.8362,54.8479,380.532,131.655,90.0634,62.3918,39.5827,37.1147
15,1978-08-01 00:00:00,35.6585,44.7307,53.6708,398.29,133.799,100.761,63.0236,44.1505,37.7191
16,1978-09-01 00:00:00,35.4303,49.3638,51.8658,387.327,134.317,88.7253,62.4893,47.0602,35.3635
17,1978-10-01 00:00:00,35.6613,48.4057,53.9183,370.372,125.826,88.3954,53.3225,45.6026,35.597
18,1978-11-01 00:00:00,36.2767,50.2897,54.2907,372.782,132.336,83.2542,57.7963,43.9188,35.4433
19,1978-12-01 00:00:00,36.9191,50.9933,52.9288,444.614,143.21,113.725,72.4675,46.5312,42.7061

In [10]:
# Drop unwanted data
employment_data.drop(employment_data.index[:9], inplace=True)
employment_data

,Date,Unemployment AUS,Unemployment NSW,Unemployment VIC,Unemployment QLD,Unemployment SA,Unemployment WA,Unemployment TAS,Unemployment NT,Unemployment ACT
9,1978-02-01 00:00:00,35.9001,43.6761,53.5193,482.817,174.103,114.672,79.4431,45.5511,42.9644
10,1978-03-01 00:00:00,37.6069,48.9962,51.3699,424.85,150.934,104.44,74.5868,39.5342,34.6547
11,1978-04-01 00:00:00,37.3393,47.7954,51.4109,403.377,149.24,96.8527,66.3058,37.2527,34.1536
12,1978-05-01 00:00:00,36.7599,48.0298,53.8381,398.408,139.421,100.266,66.6686,39.9384,33.2662
13,1978-06-01 00:00:00,34.9772,43.0367,52.7469,393.49,138.976,94.652,66.5513,40.6305,33.7997
...,...,...,...,...,...,...,...,...,...,...
522,2020-11-01 00:00:00,52.8753,64.9331,68.6876,875.186,261.476,241.52,188.088,55.7099,90.2124
523,2020-12-01 00:00:00,54.0221,65.6762,68.7831,873.269,270.28,229.291,192.286,56.4013,90.2524
524,2021-01-01 00:00:00,52.8189,64.3363,65.323,938.049,275.416,250.01,208.015,67.6776,99.971
525,2021-02-01 00:00:00,54.28,65.4994,66.0389,874.476,263.557,227.007,187.038,66.8258,94.5158
526,2021-03-01 00:00:00,54.0296,66.2335,64.9771,832.737,250.306,234.158,176.125,60.2515,77.9219

In [11]:
# Normalize DateTime format
employment_data['Date'] = pd.to_datetime(employment_data['Date']).dt.normalize()
employment_data

,Date,Unemployment AUS,Unemployment NSW,Unemployment VIC,Unemployment QLD,Unemployment SA,Unemployment WA,Unemployment TAS,Unemployment NT,Unemployment ACT
9,1978-02-01,35.9001,43.6761,53.5193,482.817,174.103,114.672,79.4431,45.5511,42.9644
10,1978-03-01,37.6069,48.9962,51.3699,424.85,150.934,104.44,74.5868,39.5342,34.6547
11,1978-04-01,37.3393,47.7954,51.4109,403.377,149.24,96.8527,66.3058,37.2527,34.1536
12,1978-05-01,36.7599,48.0298,53.8381,398.408,139.421,100.266,66.6686,39.9384,33.2662
13,1978-06-01,34.9772,43.0367,52.7469,393.49,138.976,94.652,66.5513,40.6305,33.7997
...,...,...,...,...,...,...,...,...,...,...
522,2020-11-01,52.8753,64.9331,68.6876,875.186,261.476,241.52,188.088,55.7099,90.2124
523,2020-12-01,54.0221,65.6762,68.7831,873.269,270.28,229.291,192.286,56.4013,90.2524
524,2021-01-01,52.8189,64.3363,65.323,938.049,275.416,250.01,208.015,67.6776,99.971
525,2021-02-01,54.28,65.4994,66.0389,874.476,263.557,227.007,187.038,66.8258,94.5158
526,2021-03-01,54.0296,66.2335,64.9771,832.737,250.306,234.158,176.125,60.2515,77.9219

In [12]:
# Select required date for study
covid_data = employment_data[employment_data['Date'] >= '2018-01-01']
covid_data

,Date,Unemployment AUS,Unemployment NSW,Unemployment VIC,Unemployment QLD,Unemployment SA,Unemployment WA,Unemployment TAS,Unemployment NT,Unemployment ACT
488,2018-01-01,53.593,67.3842,66.1774,780.056,228.293,208.852,170.153,55.7304,85.9484
489,2018-02-01,54.2618,68.7101,65.7845,805.672,218.89,208.34,187.663,61.2276,95.5951
490,2018-03-01,55.1956,69.4172,65.4542,777.802,220.569,191.456,174.227,51.942,107.454
491,2018-04-01,55.2814,68.8625,64.3056,740.584,205.518,182.909,175.407,52.6944,93.342
492,2018-05-01,54.2448,70.5677,64.8925,702.171,202.435,168.998,164.372,50.3577,86.0597
493,2018-06-01,54.7789,71.111,65.5781,687.891,191.872,182.298,156.13,47.2404,81.3273
494,2018-07-01,53.8011,70.9903,64.667,689.922,200.993,168.121,156.551,49.6637,83.1902
495,2018-08-01,53.8838,67.6831,63.0873,698.353,196.979,164.799,166.959,48.5506,90.4661
496,2018-09-01,53.0581,67.1712,63.6989,648.354,179.682,155.071,153.384,46.3851,85.1381
497,2018-10-01,53.6767,67.5877,62.6698,634.152,181.349,146.534,153.148,47.0263,77.5547
498,2018-11-01,53.3988,68.2137,65.2959,634.776,171.094,151.77,150.387,46.0076,87.6548
499,2018-12-01,52.8156,68.2931,65.1105,648.774,179.59,143.382,151.74,52.6034,90.2141
500,2019-01-01,51.7244,67.1521,64.0009,726.909,179.985,175.587,169.796,60.5513,105.938
501,2019-02-01,52.5749,66.4885,64.0348,727.805,199.441,182.765,163.019,55.7543,92.5693
502,2019-03-01,52.3246,65.7518,64.5797,731.765,197.295,173.793,178.386,56.6057,92.8835
503,2019-04-01,52.4563,64.9731,63.3593,713.956,194.94,175.956,162.34,57.0869,87.8429
504,2019-05-01,52.8961,65.4149,63.5198,694.322,197.289,158.014,169.566,51.5315,85.6168
505,2019-06-01,52.7313,66.399,65.1852,691.955,195.581,162.014,176.326,52.9732,76.1198
506,2019-07-01,52.6642,65.0044,64.0679,702.614,190.38,168.981,167.155,62.7481,81.5573
507,2019-08-01,52.9198,65.8436,64.2142,714.384,185.497,176.954,169.804,65.7731,82.8735
508,2019-09-01,53.6121,67.9872,65.43,691.794,188.475,164.725,171.083,54.1094,80.9831
509,2019-10-01,53.1518,68.9597,64.3345,685.821,200.642,160.471,163.509,53.5874,78.6013
510,2019-11-01,53.7025,68.788,66.0904,653.742,185.466,153.537,151.621,55.0179,78.7571
511,2019-12-01,54.7021,69.3781,65.6712,667.015,190.262,173.722,142.869,55.2606,76.5139
512,2020-01-01,53.4956,66.0256,64.003,775.109,205.236,211.372,180.84,53.9011,92.1376
513,2020-02-01,54.9839,67.8078,66.9249,761.145,215.107,209.101,167.17,56.659,82.0774
514,2020-03-01,54.1181,69.9088,66.7217,765.561,222.911,198.529,167.527,60.1037,86.6124
515,2020-04-01,52.6105,67.4139,64.1286,850.478,262.46,215.319,188.118,63.9381,86.0829
516,2020-05-01,50.0246,66.5409,62.9584,904.687,260.966,230.964,201.739,68.2176,108.416
517,2020-06-01,51.0224,65.8557,65.5692,966.531,284.237,250.83,207.232,75.7638,113.304
518,2020-07-01,52.4041,65.3258,65.2446,994.68,305.955,236.335,228.889,71.573,114.183
519,2020-08-01,53.1311,68.4977,67.5521,921.887,279.952,245.955,193.986,68.8468,99.5155
520,2020-09-01,52.2573,65.2477,67.0047,909.432,296.219,223.045,198.883,59.647,95.4136
521,2020-10-01,51.745,67.2786,69.108,907.488,274.205,241.367,200.506,61.1788,92.5836
522,2020-11-01,52.8753,64.9331,68.6876,875.186,261.476,241.52,188.088,55.7099,90.2124
523,2020-12-01,54.0221,65.6762,68.7831,873.269,270.28,229.291,192.286,56.4013,90.2524
524,2021-01-01,52.8189,64.3363,65.323,938.049,275.416,250.01,208.015,67.6776,99.971
525,2021-02-01,54.28,65.4994,66.0389,874.476,263.557,227.007,187.038,66.8258,94.5158
526,2021-03-01,54.0296,66.2335,64.9771,832.737,250.306,234.158,176.125,60.2515,77.9219

In [13]:
# Format data to required visualization
covid_data.iloc[:,1]=(covid_data.iloc[:,1]*1000).apply(lambda x: '{:,.2f}'.format(x))
covid_data.iloc[:,2]=(covid_data.iloc[:,2]*1000).apply(lambda x: '{:,.2f}'.format(x))
covid_data.iloc[:,3]=(covid_data.iloc[:,3]*1000).apply(lambda x: '{:,.2f}'.format(x))
covid_data.iloc[:,4]=(covid_data.iloc[:,4]*1000).apply(lambda x: '{:,.2f}'.format(x))
covid_data.iloc[:,5]=(covid_data.iloc[:,5]*1000).apply(lambda x: '{:,.2f}'.format(x))
covid_data.iloc[:,6]=(covid_data.iloc[:,6]*1000).apply(lambda x: '{:,.2f}'.format(x))
covid_data.iloc[:,7]=(covid_data.iloc[:,7]*1000).apply(lambda x: '{:,.2f}'.format(x))
covid_data.iloc[:,8]=(covid_data.iloc[:,8]*1000).apply(lambda x: '{:,.2f}'.format(x))
covid_data.iloc[:,9]=(covid_data.iloc[:,9]*1000).apply(lambda x: '{:,.2f}'.format(x))
covid_data

,Date,Unemployment AUS,Unemployment NSW,Unemployment VIC,Unemployment QLD,Unemployment SA,Unemployment WA,Unemployment TAS,Unemployment NT,Unemployment ACT
488,2018-01-01,"53,592.97","67,384.23","66,177.44","780,055.83","228,292.64","208,851.99","170,152.97","55,730.41","85,948.36"
489,2018-02-01,"54,261.84","68,710.08","65,784.48","805,671.79","218,890.28","208,340.49","187,663.17","61,227.55","95,595.09"
490,2018-03-01,"55,195.62","69,417.19","65,454.18","777,802.03","220,568.60","191,456.40","174,226.68","51,942.05","107,453.52"
491,2018-04-01,"55,281.36","68,862.49","64,305.63","740,584.13","205,517.92","182,909.05","175,407.14","52,694.40","93,341.99"
492,2018-05-01,"54,244.77","70,567.72","64,892.46","702,170.97","202,435.49","168,997.89","164,371.54","50,357.67","86,059.67"
493,2018-06-01,"54,778.91","71,111.00","65,578.05","687,891.22","191,871.79","182,298.03","156,130.03","47,240.37","81,327.26"
494,2018-07-01,"53,801.12","70,990.29","64,667.03","689,922.43","200,993.08","168,120.61","156,550.97","49,663.72","83,190.17"
495,2018-08-01,"53,883.85","67,683.07","63,087.31","698,353.14","196,978.78","164,798.59","166,959.19","48,550.62","90,466.07"
496,2018-09-01,"53,058.12","67,171.22","63,698.86","648,354.24","179,681.78","155,070.70","153,384.07","46,385.09","85,138.11"
497,2018-10-01,"53,676.72","67,587.72","62,669.78","634,151.75","181,349.42","146,533.83","153,148.40","47,026.26","77,554.75"
498,2018-11-01,"53,398.82","68,213.72","65,295.89","634,775.90","171,093.69","151,770.45","150,386.78","46,007.59","87,654.81"
499,2018-12-01,"52,815.61","68,293.05","65,110.54","648,774.21","179,589.90","143,382.13","151,739.52","52,603.37","90,214.10"
500,2019-01-01,"51,724.40","67,152.07","64,000.95","726,908.81","179,984.81","175,586.86","169,795.97","60,551.28","105,938.46"
501,2019-02-01,"52,574.87","66,488.51","64,034.75","727,804.77","199,441.44","182,764.77","163,019.20","55,754.25","92,569.27"
502,2019-03-01,"52,324.65","65,751.84","64,579.73","731,765.07","197,294.68","173,793.21","178,385.62","56,605.74","92,883.48"
503,2019-04-01,"52,456.26","64,973.15","63,359.31","713,955.75","194,940.27","175,955.94","162,339.79","57,086.91","87,842.95"
504,2019-05-01,"52,896.14","65,414.86","63,519.81","694,322.36","197,289.30","158,013.95","169,565.96","51,531.48","85,616.80"
505,2019-06-01,"52,731.28","66,399.02","65,185.16","691,955.33","195,581.01","162,013.74","176,325.82","52,973.17","76,119.76"
506,2019-07-01,"52,664.20","65,004.37","64,067.85","702,613.80","190,380.09","168,981.03","167,155.01","62,748.11","81,557.32"
507,2019-08-01,"52,919.81","65,843.60","64,214.15","714,384.19","185,496.91","176,954.37","169,804.31","65,773.09","82,873.46"
508,2019-09-01,"53,612.09","67,987.19","65,429.97","691,793.75","188,475.07","164,724.51","171,083.43","54,109.37","80,983.11"
509,2019-10-01,"53,151.80","68,959.74","64,334.48","685,821.06","200,642.24","160,470.83","163,508.67","53,587.45","78,601.32"
510,2019-11-01,"53,702.47","68,787.98","66,090.42","653,741.70","185,466.14","153,537.30","151,621.25","55,017.86","78,757.07"
511,2019-12-01,"54,702.11","69,378.11","65,671.24","667,014.73","190,261.70","173,722.49","142,868.91","55,260.56","76,513.89"
512,2020-01-01,"53,495.59","66,025.64","64,002.97","775,109.15","205,235.84","211,372.44","180,840.03","53,901.08","92,137.59"
513,2020-02-01,"54,983.95","67,807.80","66,924.92","761,145.38","215,106.62","209,101.48","167,169.88","56,658.97","82,077.39"
514,2020-03-01,"54,118.15","69,908.76","66,721.67","765,560.50","222,911.48","198,528.70","167,527.11","60,103.68","86,612.44"
515,2020-04-01,"52,610.52","67,413.90","64,128.62","850,478.32","262,459.75","215,318.76","188,117.62","63,938.14","86,082.93"
516,2020-05-01,"50,024.55","66,540.90","62,958.42","904,686.93","260,966.02","230,964.36","201,738.87","68,217.55","108,416.15"
517,2020-06-01,"51,022.35","65,855.67","65,569.16","966,530.80","284,237.49","250,830.37","207,232.45","75,763.85","113,304.50"
518,2020-07-01,"52,404.11","65,325.79","65,244.61","994,679.90","305,954.55","236,335.09","228,889.50","71,573.03","114,182.69"
519,2020-08-01,"53,131.11","68,497.70","67,552.14","921,887.18","279,952.39","245,954.62","193,986.24","68,846.81","99,515.48"
520,2020-09-01,"52,257.32","65,247.71","67,004.70","909,432.00","296,218.72","223,045.10","198,882.56","59,646.95","95,413.63"
521,2020-10-01,"51,745.04","67,278.60","69,107.96","907,488.36","274,205.04","241,367.32","200,506.39","61,178.78","92,583.64"
522,2020-11-01,"52,875.28","64,933.10","68,687.56","875,185.99","261,476.02","241,519.90","188,087.72","55,709.94","90,212.36"
523,2020-12-01,"54,022.05","65,676.19","68,783.08","873,269.21","270,279.74","229,291.29","192,285.90","56,401.31","90,252.39"
524,2021-01-01,"52,818.87","64,336.33","65,322.98","938,048.57","275,415.90","250,009.57","208,014.57","67,677.61","99,970.95"
525,2021-02-01,"54,279.96","65,499.35","66,038.90","874,475.80","263,557.44","227,006.91","187,038.47","66,825.75","94,515.78"
526,2021-03-01,"54,029.55","66,233.55","64,977.12","832,736.72","250,306.27","234,158.35","176,125.33","60,251.48","77,921.87"

In [14]:
# Get month from Date column and output it to new column name Month
covid_data['Month'] = pd.DatetimeIndex(covid_data['Date']).month
covid_data['Year'] = pd.DatetimeIndex(covid_data['Date']).year

# Reset index values
covid_data.reset_index(drop=True, inplace=True)
covid_data.head(5)

,Date,Unemployment AUS,Unemployment NSW,Unemployment VIC,Unemployment QLD,Unemployment SA,Unemployment WA,Unemployment TAS,Unemployment NT,Unemployment ACT,Month,Year
0,2018-01-01,"53,592.97","67,384.23","66,177.44","780,055.83","228,292.64","208,851.99","170,152.97","55,730.41","85,948.36",1,2018
1,2018-02-01,"54,261.84","68,710.08","65,784.48","805,671.79","218,890.28","208,340.49","187,663.17","61,227.55","95,595.09",2,2018
2,2018-03-01,"55,195.62","69,417.19","65,454.18","777,802.03","220,568.60","191,456.40","174,226.68","51,942.05","107,453.52",3,2018
3,2018-04-01,"55,281.36","68,862.49","64,305.63","740,584.13","205,517.92","182,909.05","175,407.14","52,694.40","93,341.99",4,2018
4,2018-05-01,"54,244.77","70,567.72","64,892.46","702,170.97","202,435.49","168,997.89","164,371.54","50,357.67","86,059.67",5,2018

In [15]:
# create a list of quarters values
quarters = []
for index, row in covid_data.iterrows():
    month = covid_data.iloc[index]["Month"]
    # months 1-3 is Q1, 4-6 is Q2, 7-9 is Q3, 10-12 is Q4
    if month <= 3:
        quarter = 1
    elif month <= 6:
        quarter = 2
    elif month <= 9:
         quarter = 3
    else:
        quarter = 4
    quarters.append(quarter)

In [17]:
# Add new column for quarterly data
covid_data["Quarter"] = quarters

# # Add new column for midyear data
# covid_data["Semester"] = midyear

covid_data.head(10)

,Date,Unemployment AUS,Unemployment NSW,Unemployment VIC,Unemployment QLD,Unemployment SA,Unemployment WA,Unemployment TAS,Unemployment NT,Unemployment ACT,Month,Year,Quarter
0,2018-01-01,"53,592.97","67,384.23","66,177.44","780,055.83","228,292.64","208,851.99","170,152.97","55,730.41","85,948.36",1,2018,1
1,2018-02-01,"54,261.84","68,710.08","65,784.48","805,671.79","218,890.28","208,340.49","187,663.17","61,227.55","95,595.09",2,2018,1
2,2018-03-01,"55,195.62","69,417.19","65,454.18","777,802.03","220,568.60","191,456.40","174,226.68","51,942.05","107,453.52",3,2018,1
3,2018-04-01,"55,281.36","68,862.49","64,305.63","740,584.13","205,517.92","182,909.05","175,407.14","52,694.40","93,341.99",4,2018,2
4,2018-05-01,"54,244.77","70,567.72","64,892.46","702,170.97","202,435.49","168,997.89","164,371.54","50,357.67","86,059.67",5,2018,2
5,2018-06-01,"54,778.91","71,111.00","65,578.05","687,891.22","191,871.79","182,298.03","156,130.03","47,240.37","81,327.26",6,2018,2
6,2018-07-01,"53,801.12","70,990.29","64,667.03","689,922.43","200,993.08","168,120.61","156,550.97","49,663.72","83,190.17",7,2018,3
7,2018-08-01,"53,883.85","67,683.07","63,087.31","698,353.14","196,978.78","164,798.59","166,959.19","48,550.62","90,466.07",8,2018,3
8,2018-09-01,"53,058.12","67,171.22","63,698.86","648,354.24","179,681.78","155,070.70","153,384.07","46,385.09","85,138.11",9,2018,3
9,2018-10-01,"53,676.72","67,587.72","62,669.78","634,151.75","181,349.42","146,533.83","153,148.40","47,026.26","77,554.75",10,2018,4

In [18]:
#Set index to date column 
clean_data = covid_data.set_index('Date')

In [19]:
# Output clean data
clean_data

,Unemployment AUS,Unemployment NSW,Unemployment VIC,Unemployment QLD,Unemployment SA,Unemployment WA,Unemployment TAS,Unemployment NT,Unemployment ACT,Month,Year,Quarter
Date,,,,,,,,,,,,
2018-01-01,"53,592.97","67,384.23","66,177.44","780,055.83","228,292.64","208,851.99","170,152.97","55,730.41","85,948.36",1,2018,1
2018-02-01,"54,261.84","68,710.08","65,784.48","805,671.79","218,890.28","208,340.49","187,663.17","61,227.55","95,595.09",2,2018,1
2018-03-01,"55,195.62","69,417.19","65,454.18","777,802.03","220,568.60","191,456.40","174,226.68","51,942.05","107,453.52",3,2018,1
2018-04-01,"55,281.36","68,862.49","64,305.63","740,584.13","205,517.92","182,909.05","175,407.14","52,694.40","93,341.99",4,2018,2
2018-05-01,"54,244.77","70,567.72","64,892.46","702,170.97","202,435.49","168,997.89","164,371.54","50,357.67","86,059.67",5,2018,2
2018-06-01,"54,778.91","71,111.00","65,578.05","687,891.22","191,871.79","182,298.03","156,130.03","47,240.37","81,327.26",6,2018,2
2018-07-01,"53,801.12","70,990.29","64,667.03","689,922.43","200,993.08","168,120.61","156,550.97","49,663.72","83,190.17",7,2018,3
2018-08-01,"53,883.85","67,683.07","63,087.31","698,353.14","196,978.78","164,798.59","166,959.19","48,550.62","90,466.07",8,2018,3
2018-09-01,"53,058.12","67,171.22","63,698.86","648,354.24","179,681.78","155,070.70","153,384.07","46,385.09","85,138.11",9,2018,3
2018-10-01,"53,676.72","67,587.72","62,669.78","634,151.75","181,349.42","146,533.83","153,148.40","47,026.26","77,554.75",10,2018,4
2018-11-01,"53,398.82","68,213.72","65,295.89","634,775.90","171,093.69","151,770.45","150,386.78","46,007.59","87,654.81",11,2018,4
2018-12-01,"52,815.61","68,293.05","65,110.54","648,774.21","179,589.90","143,382.13","151,739.52","52,603.37","90,214.10",12,2018,4
2019-01-01,"51,724.40","67,152.07","64,000.95","726,908.81","179,984.81","175,586.86","169,795.97","60,551.28","105,938.46",1,2019,1
2019-02-01,"52,574.87","66,488.51","64,034.75","727,804.77","199,441.44","182,764.77","163,019.20","55,754.25","92,569.27",2,2019,1
2019-03-01,"52,324.65","65,751.84","64,579.73","731,765.07","197,294.68","173,793.21","178,385.62","56,605.74","92,883.48",3,2019,1
2019-04-01,"52,456.26","64,973.15","63,359.31","713,955.75","194,940.27","175,955.94","162,339.79","57,086.91","87,842.95",4,2019,2
2019-05-01,"52,896.14","65,414.86","63,519.81","694,322.36","197,289.30","158,013.95","169,565.96","51,531.48","85,616.80",5,2019,2
2019-06-01,"52,731.28","66,399.02","65,185.16","691,955.33","195,581.01","162,013.74","176,325.82","52,973.17","76,119.76",6,2019,2
2019-07-01,"52,664.20","65,004.37","64,067.85","702,613.80","190,380.09","168,981.03","167,155.01","62,748.11","81,557.32",7,2019,3
2019-08-01,"52,919.81","65,843.60","64,214.15","714,384.19","185,496.91","176,954.37","169,804.31","65,773.09","82,873.46",8,2019,3
2019-09-01,"53,612.09","67,987.19","65,429.97","691,793.75","188,475.07","164,724.51","171,083.43","54,109.37","80,983.11",9,2019,3
2019-10-01,"53,151.80","68,959.74","64,334.48","685,821.06","200,642.24","160,470.83","163,508.67","53,587.45","78,601.32",10,2019,4
2019-11-01,"53,702.47","68,787.98","66,090.42","653,741.70","185,466.14","153,537.30","151,621.25","55,017.86","78,757.07",11,2019,4
2019-12-01,"54,702.11","69,378.11","65,671.24","667,014.73","190,261.70","173,722.49","142,868.91","55,260.56","76,513.89",12,2019,4
2020-01-01,"53,495.59","66,025.64","64,002.97","775,109.15","205,235.84","211,372.44","180,840.03","53,901.08","92,137.59",1,2020,1
2020-02-01,"54,983.95","67,807.80","66,924.92","761,145.38","215,106.62","209,101.48","167,169.88","56,658.97","82,077.39",2,2020,1
2020-03-01,"54,118.15","69,908.76","66,721.67","765,560.50","222,911.48","198,528.70","167,527.11","60,103.68","86,612.44",3,2020,1
2020-04-01,"52,610.52","67,413.90","64,128.62","850,478.32","262,459.75","215,318.76","188,117.62","63,938.14","86,082.93",4,2020,2
2020-05-01,"50,024.55","66,540.90","62,958.42","904,686.93","260,966.02","230,964.36","201,738.87","68,217.55","108,416.15",5,2020,2
2020-06-01,"51,022.35","65,855.67","65,569.16","966,530.80","284,237.49","250,830.37","207,232.45","75,763.85","113,304.50",6,2020,2
2020-07-01,"52,404.11","65,325.79","65,244.61","994,679.90","305,954.55","236,335.09","228,889.50","71,573.03","114,182.69",7,2020,3
2020-08-01,"53,131.11","68,497.70","67,552.14","921,887.18","279,952.39","245,954.62","193,986.24","68,846.81","99,515.48",8,2020,3
2020-09-01,"52,257.32","65,247.71","67,004.70","909,432.00","296,218.72","223,045.10","198,882.56","59,646.95","95,413.63",9,2020,3
2020-10-01,"51,745.04","67,278.60","69,107.96","907,488.36","274,205.04","241,367.32","200,506.39","61,178.78","92,583.64",10,2020,4
2020-11-01,"52,875.28","64,933.10","68,687.56","875,185.99","261,476.02","241,519.90","188,087.72","55,709.94","90,212.36",11,2020,4
2020-12-01,"54,022.05","65,676.19","68,783.08","873,269.21","270,279.74","229,291.29","192,285.90","56,401.31","90,252.39",12,2020,4
2021-01-01,"52,818.87","64,336.33","65,322.98","938,048.57","275,415.90","250,009.57","208,014.57","67,677.61","99,970.95",1,2021,1
2021-02-01,"54,279.96","65,499.35","66,038.90","874,475.80","263,557.44","227,006.91","187,038.47","66,825.75","94,515.78",2,2021,1
2021-03-01,"54,029.55","66,233.55","64,977.12","832,736.72","250,306.27","234,158.35","176,125.33","60,251.48","77,921.87",3,2021,1

In [20]:
# Export data to csv
clean_data.to_csv('Ray Data/unemploymentstate_study.csv')