In [2]:
import pandas as pd 
import matplotlib.pyplot as plt
from datetime import datetime,date
import time

In [3]:
# read from csv
covid_data =pd.read_csv("../Resources/C19_AU_2018_2021.csv")
departure_data = pd.read_csv('../Output/industry/departure.csv')

In [4]:
covid_data

    Unnamed: 0  ACT   NSW  NT  QLD   SA  TAS    VIC   WA     AU  Year  Quartal
0            0    0     0   0    0    0    0      0    0      0  2018  Q1_2018
1            1    0     0   0    0    0    0      0    0      0  2018  Q2_2018
2            2    0     0   0    0    0    0      0    0      0  2018  Q3_2018
3            3    0     0   0    0    0    0      0    0      0  2018  Q4_2018
4            4    0     0   0    0    0    0      0    0      0  2019  Q1_2019
5            5    0     0   0    0    0    0      0    0      0  2019  Q2_2019
6            6    0     0   0    0    0    0      0    0      0  2019  Q3_2019
7            7    0     0   0    0    0    0      0    0      0  2019  Q4_2019
8            8   80  2032  17  743  337   69    917  364   4559  2020  Q1_2020
9            9   28  1171  12  324  106  159   1314  247   3361  2020  Q2_2020
10          10    5  1024   4   90   25    2  17952   74  19176  2020  Q3_2020
11          11    5   701  42   96  112    4    193  176   1329  2020  Q4_2020
12          12    5   368  33  224   76    0    108   83    897  2021  Q1_2021
13          13    0   106  28   43   37    0     20   38    272  2021  Q2_2021

In [5]:
departure_data

,Unnamed: 0,NSW,VIC,QLD,SA,WA,TAS,NT,ACT,AU,Quarter
0,0,2264540,1478110,1009060,139500,591850,9330,38810,13660,5545340,Q1_2018
1,1,1859650,1255830,892100,108610,500010,10,37590,11880,4665990,Q2_2018
2,2,2136460,1483730,1051700,139680,587500,0,42360,12170,5454430,Q3_2018
3,3,2219700,1497420,1001920,137420,576590,9670,40080,9890,5493170,Q4_2018
4,4,2286190,1582830,1017510,144390,585240,11710,37550,9320,5675200,Q1_2019
5,5,1930310,1343030,913030,121990,505380,3440,40430,9680,4867600,Q2_2019
6,6,2135730,1529090,1067850,161450,589630,0,51850,11390,5547530,Q3_2019
7,7,2197510,1532980,1043400,151130,604890,10270,49730,9490,5599880,Q4_2019
8,8,1843790,1306030,876930,131740,536100,15310,37340,6740,4754410,Q1_2020
9,9,29440,19560,10020,990,4920,0,1350,510,66790,Q2_2020
10,10,30970,120,7450,2760,7220,0,1920,10,50440,Q3_2020
11,11,46570,5900,16120,4310,12700,290,3540,160,89600,Q4_2020
12,12,36970,12170,18850,6530,9680,190,5730,320,90420,Q1_2021